## Search with Options

- Piece or Corpus
- Actual or Incremental Durations
- Chromatic or Diatonic
- Exact or Close
- Classify

***

In [1]:
from crim_intervals import *
import pandas as pd
import ast
import matplotlib
from itertools import tee, combinations
import numpy as np

### The Complete Corpus

In [2]:
work_list = ['CRIM_Mass_0001_1.mei','CRIM_Mass_0001_2.mei','CRIM_Mass_0001_3.mei','CRIM_Mass_0001_4.mei','CRIM_Mass_0001_5.mei','CRIM_Mass_0002_1.mei','CRIM_Mass_0002_2.mei','CRIM_Mass_0002_3.mei','CRIM_Mass_0002_4.mei','CRIM_Mass_0002_5.mei','CRIM_Mass_0003_1.mei','CRIM_Mass_0003_2.mei','CRIM_Mass_0003_3.mei','CRIM_Mass_0003_4.mei','CRIM_Mass_0003_5.mei','CRIM_Mass_0004_1.mei','CRIM_Mass_0004_2.mei','CRIM_Mass_0004_3.mei','CRIM_Mass_0004_4.mei','CRIM_Mass_0004_5.mei','CRIM_Mass_0005_1.mei','CRIM_Mass_0005_2.mei','CRIM_Mass_0005_3.mei','CRIM_Mass_0005_4.mei','CRIM_Mass_0005_5.mei','CRIM_Mass_0006_1.mei','CRIM_Mass_0006_2.mei','CRIM_Mass_0006_3.mei','CRIM_Mass_0006_4.mei','CRIM_Mass_0006_5.mei','CRIM_Mass_0007_1.mei', 'CRIM_Mass_0007_2.mei', 'CRIM_Mass_0007_3.mei', 'CRIM_Mass_0007_4.mei', 'CRIM_Mass_0007_5.mei', 'CRIM_Mass_0008_1.mei', 'CRIM_Mass_0008_2.mei', 'CRIM_Mass_0008_3.mei', 'CRIM_Mass_0008_4.mei', 'CRIM_Mass_0008_5.mei', 'CRIM_Mass_0009_1.mei', 'CRIM_Mass_0009_2.mei', 'CRIM_Mass_0009_3.mei', 'CRIM_Mass_0009_4.mei', 'CRIM_Mass_0009_5.mei', 'CRIM_Mass_0010_1.mei', 'CRIM_Mass_0010_2.mei', 'CRIM_Mass_0010_3.mei', 'CRIM_Mass_0010_4.mei', 'CRIM_Mass_0010_5.mei', 'CRIM_Mass_0011_1.mei', 'CRIM_Mass_0011_2.mei', 'CRIM_Mass_0011_3.mei', 'CRIM_Mass_0011_4.mei', 'CRIM_Mass_0011_5.mei', 'CRIM_Mass_0012_1.mei', 'CRIM_Mass_0012_2.mei', 'CRIM_Mass_0012_3.mei', 'CRIM_Mass_0012_4.mei', 'CRIM_Mass_0012_5.mei', 'CRIM_Mass_0013_1.mei', 'CRIM_Mass_0013_2.mei', 'CRIM_Mass_0013_3.mei', 'CRIM_Mass_0013_4.mei', 'CRIM_Mass_0013_5.mei', 'CRIM_Mass_0014_1.mei', 'CRIM_Mass_0014_2.mei', 'CRIM_Mass_0014_3.mei', 'CRIM_Mass_0014_4.mei', 'CRIM_Mass_0014_5.mei', 'CRIM_Mass_0015_1.mei', 'CRIM_Mass_0015_2.mei', 'CRIM_Mass_0015_3.mei', 'CRIM_Mass_0015_4.mei', 'CRIM_Mass_0015_5.mei', 'CRIM_Mass_0016_1.mei', 'CRIM_Mass_0016_2.mei', 'CRIM_Mass_0016_3.mei', 'CRIM_Mass_0016_4.mei', 'CRIM_Mass_0016_5.mei', 'CRIM_Mass_0017_1.mei', 'CRIM_Mass_0017_2.mei', 'CRIM_Mass_0017_3.mei', 'CRIM_Mass_0017_4.mei', 'CRIM_Mass_0017_5.mei', 'CRIM_Mass_0018_1.mei', 'CRIM_Mass_0018_2.mei', 'CRIM_Mass_0018_3.mei', 'CRIM_Mass_0018_4.mei', 'CRIM_Mass_0018_5.mei', 'CRIM_Mass_0019_1.mei', 'CRIM_Mass_0019_2.mei', 'CRIM_Mass_0019_3.mei', 'CRIM_Mass_0019_4.mei', 'CRIM_Mass_0019_5.mei', 'CRIM_Mass_0020_1.mei', 'CRIM_Mass_0020_2.mei', 'CRIM_Mass_0020_3.mei', 'CRIM_Mass_0020_4.mei', 'CRIM_Mass_0020_5.mei', 'CRIM_Mass_0021_1.mei', 'CRIM_Mass_0021_2.mei', 'CRIM_Mass_0021_3.mei', 'CRIM_Mass_0021_4.mei', 'CRIM_Mass_0021_5.mei', 'CRIM_Mass_0022_2.mei', 'CRIM_Model_0001.mei', 'CRIM_Model_0008.mei', 'CRIM_Model_0009.mei', 'CRIM_Model_0010.mei', 'CRIM_Model_0011.mei', 'CRIM_Model_0012.mei', 'CRIM_Model_0013.mei', 'CRIM_Model_0014.mei', 'CRIM_Model_0015.mei', 'CRIM_Model_0016.mei', 'CRIM_Model_0017.mei', 'CRIM_Model_0019.mei', 'CRIM_Model_0020.mei', 'CRIM_Model_0021.mei', 'CRIM_Model_0023.mei', 'CRIM_Model_0025.mei', 'CRIM_Model_0026.mei',
]

### Short Corpus

In [3]:
# work_list = ['CRIM_Mass_0002_1.mei',
#  'CRIM_Mass_0002_2.mei',
#  'CRIM_Mass_0002_3.mei',
#  'CRIM_Mass_0002_4.mei',
#  'CRIM_Mass_0002_5.mei',
# 'CRIM_Model_0001.mei']

work_list = ['CRIM_Model_0008.mei']

## Load File and Correct the MEI Metadata

In [4]:
work_list = [el.replace("CRIM_", "https://crimproject.org/mei/MEI_4.0/CRIM_") for el in work_list]
corpus = CorpusBase(work_list)

import xml.etree.ElementTree as ET
import requests

MEINSURI = 'http://www.music-encoding.org/ns/mei'
MEINS = '{%s}' % MEINSURI

for i, path in enumerate(work_list):
    
    try:
        if path[0] == '/':
            mei_doc = ET.parse(path)
        else:
            mei_doc = ET.fromstring(requests.get(path).text)

      # Find the title from the MEI file and update the Music21 Score metadata
        title = mei_doc.find('mei:meiHead//mei:titleStmt/mei:title', namespaces={"mei": MEINSURI}).text
        print(path, title)
        corpus.scores[i].metadata.title = title
    except:
        continue

for s in corpus.scores:
    print(s.metadata.title)

Requesting file from https://crimproject.org/mei/MEI_4.0/CRIM_Model_0008.mei...
Successfully imported.
https://crimproject.org/mei/MEI_4.0/CRIM_Model_0008.mei Ave Maria
Ave Maria


## Select Actual or Incremental Durations

#### About Rhythmic Durations

- For `find_close_matches` and `find_exact_matches`, rhythmic variation/duration is displayed, but **not** factored into the calculation of matching.
- **Incremental Offset** calculates the intervals using a **fixed offset between notes**, no matter their actual duration.  Use this to ignore passing tones or other ornaments.  The offsets are expressed in multiples of the quarter note (Offset = 1 samples at quarter note; Offset = 2 at half note, etc). Set with `vectors = IntervalBase(corpus.note_list_incremental_offset(2))`

In [5]:
vectors = IntervalBase(corpus.note_list)
#vectors = IntervalBase(corpus.note_list_incremental_offset(2))

***

## Select Generic or Semitone Scale:

- **Length of the Soggetto**: `into_patterns([vectors.semitone_intervals], 5)` 

- The **number** in this command represents the **minimum number of vectors to find**. 5 vectors is 6 notes.

In [6]:
patterns = into_patterns([vectors.generic_intervals], 5)
#patterns = into_patterns([vectors.semitone_intervals], 4)

***

## Select Exact Matches Here, or Close Below
#### (Use comment feature to select screen preview or CSV output) 

- **Exact** is exact in *all* ways `find_exact_matches(patterns, 2)` 
- The **number** in this command represents the **minimum number of matching melodies needed before reporting**. This allows us to filter for common or uncommon soggetti.

In [7]:
exact_matches = find_exact_matches(patterns, 3)
# Use this for exact screen preview
#for item in exact_matches:
    #item.print_exact_matches()

output_exact = export_pandas(exact_matches)
pd.DataFrame(output_exact).head()
output_exact["pattern_generating_match"] = output_exact["pattern_generating_match"].apply(tuple)

results = pd.DataFrame(output_exact)
results["pattern_generating_match"] = results["pattern_generating_match"].apply(tuple)
results.head(10)
#export_to_csv(exact_matches)

Finding exact matches...
41 melodic intervals had more than 3 exact matches.

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,start_beat,end_measure,end_beat,start_offset,end_offset,note_durations,ema,ema_url
0,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,[Superius],1,1.0,4,1.0,0.0,24.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]","1-4/1/@1.0-end,@start-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
1,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,[Superius],105,3.0,107,3.5,884.0,910.0,"[4.0, 8.0, 4.0, 4.0, 6.0, 2.0]","105-107/1/@3.0-end,@start-end,@start-3.5",https://ema.crimproject.org/https%3A%2F%2Fcrim...
2,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Altus,3,1.0,6,1.0,16.0,40.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]","3-6/2/@1.0-end,@start-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
3,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Tenor,5,1.0,8,1.0,32.0,56.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]","5-8/3/@1.0-end,@start-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
4,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Bassus,7,1.0,10,1.0,48.0,72.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]","7-10/4/@1.0-end,@start-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
5,"(-2, -2, -2, 2, -2)","[-2, -2, -2, 2, -2]",Ave Maria,[Superius],8,1.0,10,2.0,56.0,74.0,"[6.0, 2.0, 4.0, 4.0, 2.0, 2.0]","8-10/1/@1.0-end,@start-end,@start-2.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
6,"(-2, -2, -2, 2, -2)","[-2, -2, -2, 2, -2]",Ave Maria,Altus,10,1.0,12,2.5,72.0,91.0,"[6.0, 2.0, 4.0, 4.0, 3.0, 1.0]","10-12/2/@1.0-end,@start-end,@start-2.5",https://ema.crimproject.org/https%3A%2F%2Fcrim...
7,"(-2, -2, -2, 2, -2)","[-2, -2, -2, 2, -2]",Ave Maria,Tenor,12,1.0,14,2.0,88.0,106.0,"[6.0, 2.0, 4.0, 4.0, 2.0, 2.0]","12-14/3/@1.0-end,@start-end,@start-2.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
8,"(-2, -2, -2, 2, -2)","[-2, -2, -2, 2, -2]",Ave Maria,Bassus,139,4.0,141,1.0,1174.0,1184.0,"[3.0, 1.0, 1.0, 1.0, 4.0, 8.0]","139-141/4/@4.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
9,"(1, 1, 2, 2, -3)","[1, 1, 2, 2, -3]",Ave Maria,[Superius],16,3.0,19,1.0,124.0,144.0,"[6.0, 2.0, 4.0, 4.0, 4.0, 3.0]","16-19/1/@3.0-end,@start-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...

In [70]:
results2 = results.drop(columns=["ema", "ema_url"])
results2 = results2.sort_values("start_offset")

results2

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,start_beat,end_measure,end_beat,start_offset,end_offset,note_durations
0,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,[Superius],1,1.0,4,1.0,0.0,24.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]"
2,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Altus,3,1.0,6,1.0,16.0,40.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]"
3,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Tenor,5,1.0,8,1.0,32.0,56.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]"
4,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Bassus,7,1.0,10,1.0,48.0,72.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]"
5,"(-2, -2, -2, 2, -2)","[-2, -2, -2, 2, -2]",Ave Maria,[Superius],8,1.0,10,2.0,56.0,74.0,"[6.0, 2.0, 4.0, 4.0, 2.0, 2.0]"
...,...,...,...,...,...,...,...,...,...,...,...
155,"(2, -3, 2, -2, -2)","[2, -3, 2, -2, -2]",Ave Maria,Bassus,139,1.0,140,2.0,1168.0,1178.0,"[2.0, 2.0, 2.0, 3.0, 1.0, 1.0]"
35,"(2, -2, 1, -2, 2)","[2, -2, 1, -2, 2]",Ave Maria,Altus,139,1.0,141,3.0,1168.0,1180.0,"[2.0, 3.0, 1.0, 4.0, 2.0, 8.0]"
163,"(-3, 2, -2, -2, -2)","[-3, 2, -2, -2, -2]",Ave Maria,Bassus,139,2.0,140,2.5,1170.0,1179.0,"[2.0, 2.0, 3.0, 1.0, 1.0, 1.0]"
111,"(2, -2, -2, -2, 2)","[2, -2, -2, -2, 2]",Ave Maria,Bassus,139,3.0,140,3.0,1172.0,1180.0,"[2.0, 3.0, 1.0, 1.0, 1.0, 4.0]"
8,"(-2, -2, -2, 2, -2)","[-2, -2, -2, 2, -2]",Ave Maria,Bassus,139,4.0,141,1.0,1174.0,1184.0,"[3.0, 1.0, 1.0, 1.0, 4.0, 8.0]"

In [71]:
results2 = pd.DataFrame(results2.groupby(['pattern_generating_match']))
results2.head()
#results2 = results2.groupby(by="pattern_generating_match").sort_values('start_offset')

#results3 = df.groupby('pattern_generating_match"')
# results4 = results3.aggregate(lambda x: tuple(x))
# results3 = results2.groupby('start_offset').agg(lambda
                             #x: list(x))
#results.groupby('pattern_generating_match', as_index=False)['start_offset'].agg(list)
# r2 = results.groupby('part',as_index=False)['start_offset'].aggregate(lambda x: list(x))

                      0                                                  1
0    (-3, 2, -3, 2, -2)      pattern_generating_match     pattern_match...
1   (-3, 2, -2, -2, -2)      pattern_generating_match      pattern_matc...
2     (-3, 2, 2, 2, -3)     pattern_generating_match    pattern_matched...
3  (-2, -2, -2, -2, -3)     pattern_generating_match       pattern_matc...
4  (-2, -2, -2, -2, -2)     pattern_generating_match       pattern_matc...

### A Quick Overview of the Results

In [72]:
total_matches = len(output_exact)
unique_sogetti = output_exact.pattern_generating_match.apply(str).nunique()
summary = 'There are {} unique soggetti and {} total matches in this search'.format(unique_sogetti, total_matches)
summary

'There are 41 unique soggetti and 219 total matches in this search'

### Group by the Pattern Generating Match and Check Distribution of Results

- Report Top Ten and Bottom Ten Results)

In [73]:
pattern_inventory = pd.DataFrame(output_exact.groupby("pattern_generating_match").size().sort_values(ascending=False)[:10])
pattern_inventory

                           0
pattern_generating_match
(1, 2, -2, -2, -2)        13
(2, -2, -2, -2, -2)       11
(1, 1, 2, -2, -2)          9
(-3, 2, -2, -2, -2)        8
(-2, -2, -2, 2, 2)         8
(2, -3, 2, -2, -2)         8
(-2, -2, -2, -2, 2)        7
(2, -3, 2, -3, 2)          7
(2, 2, 2, -3, 2)           6
(2, 2, 1, 2, -2)           6

In [74]:
pattern_inventory = pd.DataFrame(output_exact.groupby("pattern_generating_match").size().sort_values(ascending=True)[:10])
pattern_inventory

                          0
pattern_generating_match
(-3, 2, -3, 2, -2)        4
(3, -2, -2, -2, -2)       4
(2, 2, -2, -2, -2)        4
(2, 1, 2, 1, -3)          4
(2, 1, 2, -2, -2)         4
(2, -2, 2, -3, 2)         4
(2, -2, -2, -2, 2)        4
(2, -2, -2, -2, 1)        4
(2, -3, -2, -2, 1)        4
(4, -2, 2, 2, -3)         4

***

### Select Close Matches Here
#### (Comment out the 'for item iteration' in order to skip screen preview)

- **Close** matches allow for melodic variation (see more below). `find_close_matches(patterns, 2, 1)`
- The **first number** in this command is the **minimum number of melodies** needed before reporting
- The **second number** is **threshold of similarity** needed in order to find a match. 
- Lower number = very similar; higher number = less similar

##### More about Close Matches  
- The **threshold for close matches** is determined by the **second number** called in the method. 
- We select two patterns, then compare *each vector in each pattern successively*. 
- The *differences between each vector are summed*. 
- If that value is **below the threshold specified**, we consider the **two patterns closely matched**.
- The format of the method call is  `find_close_matches(the array you get from into_patterns, minimum matches needed to be displayed, threshold for close match)`.

In [68]:
close_matches = find_close_matches(patterns, 1, 1)
#for item in close_matches:
   #item.print_close_matches()
    #return pd.DataFrame(close_matches)

output_close = export_pandas(close_matches)
output_close["pattern_generating_match"] = output_close["pattern_generating_match"].apply(tuple)

results = pd.DataFrame(output_close)
results["pattern_generating_match"] = results["pattern_generating_match"].apply(tuple)
results.head()
#export_to_csv(close_matches)

Finding close matches...
202 melodic intervals had more than 1 exact or close matches.

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,start_beat,end_measure,end_beat,start_offset,end_offset,note_durations,ema,ema_url
0,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,[Superius],1,1.0,4,1.0,0.0,24.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]","1-4/1/@1.0-end,@start-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
1,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,[Superius],105,3.0,107,3.5,884.0,910.0,"[4.0, 8.0, 4.0, 4.0, 6.0, 2.0]","105-107/1/@3.0-end,@start-end,@start-3.5",https://ema.crimproject.org/https%3A%2F%2Fcrim...
2,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Altus,3,1.0,6,1.0,16.0,40.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]","3-6/2/@1.0-end,@start-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
3,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Tenor,5,1.0,8,1.0,32.0,56.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]","5-8/3/@1.0-end,@start-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
4,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Bassus,7,1.0,10,1.0,48.0,72.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]","7-10/4/@1.0-end,@start-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...

### How Many Unique Soggetti?  How many instances?

In [76]:
total_matches = len(output_close)
unique_sogetti = output_close.pattern_generating_match.apply(str).nunique()
summary = 'There are {} unique soggetti and {} total matches in this search'.format(unique_sogetti, total_matches)
summary

'There are 202 unique soggetti and 1096 total matches in this search'

### Top and Bottom Ten Soggetti

In [111]:
pattern_inventory = pd.DataFrame(output_close.groupby("pattern_generating_match").size().sort_values(ascending=False)[:10])
pattern_inventory

                           0
pattern_generating_match
(2, 2, -2, -2, -2)        23
(1, 2, -2, -2, -2)        21
(2, -2, -2, -2, -2)       20
(1, 3, -2, -2, -2)        19
(3, -2, -2, -2, -2)       17
(-2, -2, -2, -2, 2)       15
(-2, -2, -2, 2, 2)        14
(2, 1, 2, -2, -2)         14
(1, -2, -2, -2, -2)       14
(2, -3, 2, -3, 2)         14

In [112]:
pattern_inventory = pd.DataFrame(output_close.groupby("pattern_generating_match").size().sort_values(ascending=True)[:10])
pattern_inventory

                          0
pattern_generating_match
(-5, 1, 2, 1, -5)         2
(1, 1, -5, 1, 2)          2
(1, -2, 3, -2, -2)        2
(1, -2, 2, -2, -2)        2
(1, -2, -2, 5, -2)        2
(1, -2, -2, -3, 5)        2
(1, -3, 1, 4, 1)          2
(1, -3, 1, 2, -4)         2
(1, -5, 1, 2, 1)          2
(-2, 8, -3, -2, -2)       2

### Grouping the Melodic Matches (No Durational Filter)

- This shows us the number each

In [15]:
results["note_durations"] = results["note_durations"].apply(tuple)
df2 = pd.DataFrame(results.groupby(["pattern_generating_match", "note_durations"]).size())
df2.head()

                                                         0
pattern_generating_match note_durations
(-5, 1, 2, 1, -5)        (4.0, 8.0, 4.0, 8.0, 4.0, 8.0)  2
(-3, -2, -2, -2, -2)     (2.0, 3.0, 1.0, 1.0, 1.0, 4.0)  1
                         (3.0, 1.0, 1.0, 1.0, 3.0, 1.0)  1
                         (3.0, 1.0, 2.0, 2.0, 4.0, 2.0)  1
                         (3.0, 1.0, 4.0, 2.0, 4.0, 4.0)  1

***

## Classify Patterns Here 
#### Note:  depends on choice of Close or Exact above!  Must choose appropriate one below!
#### Enable "export_to_csv" line to allow this within Notebook (must answer "Y" and provide filename)

#### note that the classifier can only find patterns with AT LEAST THREE entries!  2-voice fugas are invisible at the moment.  Could be added!

In [19]:
%%capture

#cm = classify_matches(close_matches, 1)
cm = classify_matches(exact_matches, 1)
#pd.DataFrame(classified_matches)
output_cm = export_pandas(cm)

## For CSV export, use the following (and follow prompts for file name)

#export_to_csv(cm)

In [20]:
short_cm = output_cm.drop(columns=["ema_url", "ema"])
short_cm.head(10)

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,start_beat,end_measure,end_beat,start_offset,end_offset,note_durations
0,"[4, 1, 2, 2, -3]","[4, 1, 2, 2, -3]",Ave Maria,[Superius],1,1.0,4,1.0,0.0,24.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]"
1,"[4, 1, 2, 2, -3]","[4, 1, 2, 2, -3]",Ave Maria,Altus,3,1.0,6,1.0,16.0,40.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]"
2,"[4, 1, 2, 2, -3]","[4, 1, 2, 2, -3]",Ave Maria,Tenor,5,1.0,8,1.0,32.0,56.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]"
3,"[4, 1, 2, 2, -3]","[4, 1, 2, 2, -3]",Ave Maria,Bassus,7,1.0,10,1.0,48.0,72.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]"
4,"[2, 2, -3, -2, -2]","[2, 2, -3, -2, -2]",Ave Maria,[Superius],55,4.0,57,4.5,438.0,455.0,"[2.0, 4.0, 4.0, 6.0, 1.0, 1.0]"
5,"[2, 2, -3, -2, -2]","[2, 2, -3, -2, -2]",Ave Maria,Altus,56,2.0,58,2.5,442.0,459.0,"[2.0, 4.0, 4.0, 6.0, 1.0, 1.0]"
6,"[2, 2, -3, -2, -2]","[2, 2, -3, -2, -2]",Ave Maria,Tenor,60,4.0,62,4.5,478.0,495.0,"[2.0, 4.0, 4.0, 6.0, 1.0, 1.0]"
7,"[2, 2, -3, -2, -2]","[2, 2, -3, -2, -2]",Ave Maria,Bassus,61,2.0,63,2.5,482.0,499.0,"[2.0, 4.0, 4.0, 6.0, 1.0, 1.0]"
8,"[1, 1, 2, -2, -2]","[1, 1, 2, -2, -2]",Ave Maria,[Superius],111,3.0,113,2.5,940.0,963.0,"[8.0, 4.0, 4.0, 6.0, 1.0, 1.0]"
9,"[1, 1, 2, -2, -2]","[1, 1, 2, -2, -2]",Ave Maria,Tenor,114,1.0,116,4.5,968.0,991.0,"[8.0, 4.0, 4.0, 6.0, 1.0, 1.0]"

In [117]:
def classified_matches_to_pandas(matches):
    
    soggetti_matches = []
    
    for i, cm in enumerate(matches):
        
        for j, soggetti in enumerate(cm.matches):
            
            soggetti_matches.append({
                "piece": soggetti.first_note.metadata.title,
                "type": cm.type,
                "part": soggetti.first_note.part.strip("[] "),
                "bar": soggetti.first_note.note.measureNumber,
                "offset": soggetti.first_note.note.offset,
                "entry_number": j + 1,
                "pattern": tuple(cm.pattern),
                "match_number": i + 1
            })
    return pd.DataFrame(soggetti_matches)

In [118]:
df = classified_matches_to_pandas(cm)
pd.set_option('display.max_rows', 50)
df_sorted = df.sort_values("offset")
df_sorted

,piece,type,part,bar,offset,entry_number,pattern,match_number
0,Ave Maria,periodic_entry,Superius,1,0.0,1,"(4, 1, 2, 2, -3)",1
1,Ave Maria,periodic_entry,Altus,3,16.0,2,"(4, 1, 2, 2, -3)",1
2,Ave Maria,periodic_entry,Tenor,5,32.0,3,"(4, 1, 2, 2, -3)",1
3,Ave Maria,periodic_entry,Bassus,7,48.0,4,"(4, 1, 2, 2, -3)",1
12,Ave Maria,fuga,Altus,33,256.0,1,"(1, 2, -2, -2, -2)",4
...,...,...,...,...,...,...,...,...
71,Ave Maria,imitative duo,Tenor,124,1048.0,4,"(-2, -2, -2, 1, 3)",19
75,Ave Maria,imitative duo,Tenor,124,1054.0,4,"(-2, -2, 1, 3, -2)",20
79,Ave Maria,imitative duo,Tenor,124,1055.0,4,"(-2, 1, 3, -2, -2)",21
83,Ave Maria,imitative duo,Tenor,125,1056.0,4,"(1, 3, -2, -2, -2)",22
87,Ave Maria,imitative duo,Tenor,125,1060.0,4,"(3, -2, -2, -2, -2)",23

In [119]:
#df["pattern"] = df["pattern"].apply(tuple)

wide_df = df.pivot_table(index=["match_number", "piece", "type", "pattern"],
            columns="entry_number",
            values=["part", "offset"],
            aggfunc=lambda x: x)

wide_df.columns = [f"{a}_{b}" for a, b in wide_df.columns]
wide_df = wide_df.sort_values("offset_1")
wide_df = wide_df.head().reset_index()
wide_df

,match_number,piece,type,pattern,offset_1,offset_2,offset_3,offset_4,part_1,part_2,part_3,part_4
0,1,Ave Maria,periodic_entry,"(4, 1, 2, 2, -3)",0.0,16.0,32.0,48.0,Superius,Altus,Tenor,Bassus
1,4,Ave Maria,fuga,"(1, 2, -2, -2, -2)",256.0,288.0,320.0,320.0,Altus,Bassus,Superius,Tenor
2,5,Ave Maria,imitative duo,"(4, -2, 2, 2, -3)",428.0,432.0,468.0,472.0,Superius,Altus,Tenor,Bassus
3,6,Ave Maria,imitative duo,"(-2, 2, 2, -3, -2)",432.0,436.0,472.0,476.0,Superius,Altus,Tenor,Bassus
4,2,Ave Maria,imitative duo,"(2, 2, -3, -2, -2)",438.0,442.0,478.0,482.0,Superius,Altus,Tenor,Bassus

In [120]:
wide_df.groupby("pattern").get_group((4, 1, 2, 2, -3))

,match_number,piece,type,pattern,offset_1,offset_2,offset_3,offset_4,part_1,part_2,part_3,part_4
0,1,Ave Maria,periodic_entry,"(4, 1, 2, 2, -3)",0.0,16.0,32.0,48.0,Superius,Altus,Tenor,Bassus

In [121]:
wide_df['previous_entry_2'] = wide_df['offset_2'].shift().fillna(0)
# wide_df['previous_match'] = wide_df['match_number'].shift().fillna(0)
wide_df.head()
# overlap = wide_df[wide_df["offset_1"] == wide_df["offset_2_shift"]]
# overlap

,match_number,piece,type,pattern,offset_1,offset_2,offset_3,offset_4,part_1,part_2,part_3,part_4,previous_entry_2
0,1,Ave Maria,periodic_entry,"(4, 1, 2, 2, -3)",0.0,16.0,32.0,48.0,Superius,Altus,Tenor,Bassus,0.0
1,4,Ave Maria,fuga,"(1, 2, -2, -2, -2)",256.0,288.0,320.0,320.0,Altus,Bassus,Superius,Tenor,16.0
2,5,Ave Maria,imitative duo,"(4, -2, 2, 2, -3)",428.0,432.0,468.0,472.0,Superius,Altus,Tenor,Bassus,288.0
3,6,Ave Maria,imitative duo,"(-2, 2, 2, -3, -2)",432.0,436.0,472.0,476.0,Superius,Altus,Tenor,Bassus,432.0
4,2,Ave Maria,imitative duo,"(2, 2, -3, -2, -2)",438.0,442.0,478.0,482.0,Superius,Altus,Tenor,Bassus,436.0

## Read CSV of Classified Matches

- Update file name to match the output of previous cells for Classifier

In [ ]:
results = pd.read_csv('Sandrin_Classified.csv')
results.rename(columns=
                   {'Pattern Generating Match': 'Pattern_Generating_Match', 
                    'Pattern matched':'Pattern_Matched',
                    'Classification Type': 'Classification_Type',
                    'Piece Title': 'Piece_Title',
                    'First Note Measure Number': 'Start_Measure',
                    'Last Note Measure Number': 'Stop_Measure',
                    'Note Durations': 'Note_Durations'
                   },
                    inplace=True)

results['note_durations'] = results['note_durations'].apply(ast.literal_eval)

durations = results['note_durations']
results.head()

## New 2021 Classifier

### Filter for Overall Length of Presentation Type

In [ ]:
# This function filters for the length of the Presentation Type in the Classifier

def limit_offset_size(array, limit):
    under_limit = np.cumsum(array) <= limit
    return array[: sum(under_limit)]

In [ ]:
#### Functions to work with output of the original classifier

In [22]:
# the following configured to work with output of FG Classifier

import numpy as np

def lists_to_tuples(el):
    if isinstance(el, list):
        return tuple(el)
    else:
        return el

def classify_offsets(offset_difference_list):
    """
    Put logic for classifying an offset list here
    """
    offset_difference_list = limit_offset_size(offset_difference_list, 64)
    
    alt_list = offset_difference_list[::2]
    
    
    if len(set(offset_difference_list)) == 1 and len(offset_difference_list) > 1:
        return f"PEN {offset_difference_list}"
    elif (len(offset_difference_list) %2 != 0) and (len(set(alt_list)) == 1):
        return f"ID {offset_difference_list}"
    elif len(offset_difference_list) >= 1:
        return f"Fuga {offset_difference_list}"
    else: 
        return f"Singleton {offset_difference_list}"


def get_offset_difference_list(group):
    group = group.sort_values("offset")
    group["next_offset"] = group.offset.shift(-1)
    offset_difference_list = (group.next_offset - group.offset).dropna().tolist()
    return offset_difference_list
   
def predict_type(group):
    offset_differences = get_offset_difference_list(group)
    group["predicted_type"] = classify_offsets(offset_differences)
    return group

In [ ]:
### Call Function to work with Output of Original Classifier

In [ ]:
df = df_sorted.applymap(lists_to_tuples).groupby("pattern").apply(predict_type)[:20]
df

### Function to work with output of Close or Exact Matches

In [ ]:
# THIS IS DEV COPY for use with CLOSE/EXACT Matches

import numpy as np

def lists_to_tuples_a(el):
    if isinstance(el, list):
        return tuple(el)
    else:
        return el

def classify_offsets_a(offset_difference_list):
    """
    Put logic for classifying an offset list here
    """
    offset_difference_list = limit_offset_size(offset_difference_list, 1000)
    
    alt_list = offset_difference_list[::2]
    
    
    if len(set(offset_difference_list)) == 1 and len(offset_difference_list) > 1:
        return f"PEN {offset_difference_list}"
    elif (len(offset_difference_list) %2 != 0) and (len(set(alt_list)) == 1):
        return f"ID {offset_difference_list}"
    elif len(offset_difference_list) >= 1:
        return f"Fuga {offset_difference_list}"
    else: 
        return f"Singleton {offset_difference_list}"


def get_offset_difference_list_a(group):
    group = group.sort_values("start_offset")
    group["next_offset"] = group.start_offset.shift(-1)
    offset_difference_list = (group.next_offset - group.start_offset).dropna().tolist()
    return offset_difference_list
   
def predict_type_a(group):
    offset_differences = get_offset_difference_list_a(group)
    group["predicted_type"] = classify_offsets_a(offset_differences)
    return group

### Call Function to Classify with Close/Exact Matches
use 'output.close' or 'output.exact'

In [1]:
df = output_close.applymap(lists_to_tuples).groupby("pattern_generating_match").apply(predict_type_a)[:50]
df

NameError: name 'output_close' is not defined

# Durational Ratios

#### This Function Calculates the Ratios of the Durations in each Match

In [66]:
# makes pairs of ratio strings

def pairwise(iterable):
    "s -> (s0,s1), (s1,s2), (s2, s3), ..."
    a, b = tee(iterable)
    next(b, None)
    return zip(a, b)

def get_ratios(input_list):
    ratio_pairs = []
    for a, b in pairwise(input_list):
        ratio_pairs.append(b / a)
    return ratio_pairs

#### Now call the function to operate on the RESULTS file from earlier

In [67]:
# calculates 'duration ratios' for each soggetto, then adds this to the DF

results["duration_ratios"] = results.note_durations.apply(get_ratios)
short_results = results.drop(columns=["ema_url", "ema"])
short_results.head()

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,start_beat,end_measure,end_beat,start_offset,end_offset,note_durations,duration_ratios
0,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,[Superius],1,1.0,4,1.0,0.0,24.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]","[2.0, 0.5, 1.0, 1.0, 2.0]"
1,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,[Superius],105,3.0,107,3.5,884.0,910.0,"[4.0, 8.0, 4.0, 4.0, 6.0, 2.0]","[2.0, 0.5, 1.0, 1.5, 0.3333333333333333]"
2,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Altus,3,1.0,6,1.0,16.0,40.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]","[2.0, 0.5, 1.0, 1.0, 2.0]"
3,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Tenor,5,1.0,8,1.0,32.0,56.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]","[2.0, 0.5, 1.0, 1.0, 2.0]"
4,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Bassus,7,1.0,10,1.0,48.0,72.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]","[2.0, 0.5, 1.0, 1.0, 2.0]"

In [25]:
# now call the functions to classify
# we can use the initial results--those without durational ratios

short_cm.applymap(lists_to_tuples).groupby("pattern_matched").apply(predict_type)[:50]
short_cm["predicted_type"]

KeyError: 'predicted_type'

In [ ]:
def classified_matches_to_pandas(matches):

    type_group = []
    
    for i, g in enumerate(group):
        
        for j, soggetti in enumerate(results.matches):
            
            type_group.append({
                "entry_number": j + 1,
                "group_number": i + 1
            })
    return pd.DataFrame(results)

In [201]:
res = rs.groupby(rs['pattern_matched'].map(tuple))

In [202]:
#rs["pattern_matched"] = rs["pattern_matched"].apply(str)
rs.groupby("pattern_matched")
rsg = rs.groupby("pattern_matched")

In [203]:
rsg.groups

{(-2, -2, -2, 2, -3): [7], (-2, -2, -2, 2, -2): [5, 6, 8], (-2, -2, -2, 3, -2): [9], (4, 1, 2, 2, -3): [0, 1, 2, 3, 4]}

In [193]:
rsg.get_group('(-2, -2, -2, 2, -2)')

       pattern_matched  end_offset
5  (-2, -2, -2, 2, -2)        74.0
6  (-2, -2, -2, 2, -2)        91.0
8  (-2, -2, -2, 2, -2)       106.0

In [161]:
# short_results["pattern_generating_match"] = results["pattern_generating_match"].apply(tuple)
gp = short_results.groupby("pattern_generating_match")
for group_name, group in gp:
    group = group.sort_values("start_offset")

group

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,start_beat,end_measure,end_beat,start_offset,end_offset,note_durations,duration_ratios
940,"(8, -2, -2, -2, -2)","[8, -2, -2, -2, -2]",Ave Maria,Tenor,27,3.0,28,4.0,212.0,222.0,"(4.0, 3.0, 1.0, 1.0, 1.0, 3.0)","[0.75, 0.3333333333333333, 1.0, 1.0, 3.0]"
941,"(8, -2, -2, -2, -2)","[8, -2, -2, -2, -2]",Ave Maria,Tenor,75,2.0,77,1.0,594.0,608.0,"(2.0, 4.0, 2.0, 2.0, 4.0, 8.0)","[2.0, 0.5, 1.0, 2.0, 2.0]"

In [35]:
# sort group by start offset
one_group = one_group.sort_values("start_offset")
one_group

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,start_beat,end_measure,end_beat,start_offset,end_offset,note_durations,duration_ratios
0,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,[Superius],1,1.0,4,1.0,0.0,24.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)","[2.0, 0.5, 1.0, 1.0, 2.0]"
2,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Altus,3,1.0,6,1.0,16.0,40.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)","[2.0, 0.5, 1.0, 1.0, 2.0]"
3,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Tenor,5,1.0,8,1.0,32.0,56.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)","[2.0, 0.5, 1.0, 1.0, 2.0]"
4,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Bassus,7,1.0,10,1.0,48.0,72.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)","[2.0, 0.5, 1.0, 1.0, 2.0]"
1,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,[Superius],105,3.0,107,3.5,884.0,910.0,"(4.0, 8.0, 4.0, 4.0, 6.0, 2.0)","[2.0, 0.5, 1.0, 1.5, 0.3333333333333333]"

In [36]:
# create column with _next_ start offset as shifted value (which in turn allows us to perform comparison)

one_group["next_offset"] = one_group.start_offset.shift(-1)
one_group.head()

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,start_beat,end_measure,end_beat,start_offset,end_offset,note_durations,duration_ratios,next_offset
0,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,[Superius],1,1.0,4,1.0,0.0,24.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)","[2.0, 0.5, 1.0, 1.0, 2.0]",16.0
2,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Altus,3,1.0,6,1.0,16.0,40.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)","[2.0, 0.5, 1.0, 1.0, 2.0]",32.0
3,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Tenor,5,1.0,8,1.0,32.0,56.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)","[2.0, 0.5, 1.0, 1.0, 2.0]",48.0
4,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Bassus,7,1.0,10,1.0,48.0,72.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)","[2.0, 0.5, 1.0, 1.0, 2.0]",884.0
1,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,[Superius],105,3.0,107,3.5,884.0,910.0,"(4.0, 8.0, 4.0, 4.0, 6.0, 2.0)","[2.0, 0.5, 1.0, 1.5, 0.3333333333333333]",NaN

In [40]:
# get difference between start_offset and _next_ start offset

offset_difference_list = (one_group.next_offset - one_group.start_offset).dropna().tolist()
offset_difference_list
print(offset_difference_list[-1])

836.0

In [41]:
# now trim it to less than 64 total

offset_difference_span = (offset_difference_list[-1] - offset_difference_list[0])

if offset_difference_span > 64:
    del offset_difference_list[-1]
offset_difference_list

[16.0, 16.0, 16.0]

In [33]:
# trim to 64 or less.  Passes short ones without trim

list = [16.0, 16.0, 16.0, 100.0]
while offset_difference_span = sum(list) and offset_difference_span > 64:
# print(offset_difference_span)
    del list[-1]
# while offset_difference_span > 64:
#     print('yup')
#     del list[0]
# else:
#     print('ok')

print(list)

SyntaxError: invalid syntax (<ipython-input-33-c90b2d14fc39>, line 4)

In [43]:
# test if all equal:  PEN
out = all(element == offset_difference_list[0] for element in offset_difference_list)
out

True

In [44]:
# test if unequal:  Fuga

out2 = all(element != offset_difference_list[0] for element in offset_difference_list)
out2

False

In [45]:
#test even or odd (for ID)

if len(offset_difference_list)%2==0:
     print('even')
else:
     print('odd')

odd

In [46]:
# test for equality of odd items -> ID
list = [1.0, 3.0, 1.0, 4.0, 1.0, 4.0, 2.0, 4.0]
alt_list = list[0::2]
print(alt_list)
if all(element == alt_list[0] for element in alt_list):
    print("id")
else:
    print("nope")

[1.0, 1.0, 1.0, 2.0]
nope

In [47]:
# test list and list at 1/3/5, etc

list = [1.0, 2.0, 1.0, 2.0, 3.0]
alt_list = list[0::2]


# check that span is less than 64 beats
span = sum(list)
while span > 64:
    del list[-1] 
else:
    print('ok')

alt_list

ok

[1.0, 1.0, 3.0]

In [251]:
if any(element != list[0] for element in list):
    print("Fuga")

Fuga

In [254]:
if all(element == list[0] for element in list):
    print("PEn")
if len(list)%2!=0:
     if all(element == alt_list[0] for element in alt_list):
        print("ID")
if any(element != list[0] for element in list):
    print("Fuga")
else:
    print("end")

Fuga

In [65]:
# Here is the process
# get list of offsets for each group


list = [16.0, 18.0, 16.0, 19.0, 16.0]
alt_list = list[0::2]
span = sum(list)
while span > 164:
    del list[-1] 
else:
    pass
if all(element == list[0] for element in list):
    print("PEn")
if len(list)%2!=0:
     if all(element == alt_list[0] for element in alt_list):
        print("ID") 
else:
    print("Fuga")

ID

In [ ]:
# sketch of function for diffs of offsets

def offsets_as_types(offset_difference_list):
    i = 0
    offset_difference_span = sum(offset_difference_list)
    size = len(offset_difference_list)
    while offset_difference_span > 64:
    del offset_difference_list[-1] 
    else:
        offset_difference_span_clear = offset_difference_span
        #print(offset_difference_span_clear)
        continue
    while i < len(offset_difference_list) - 2:
        
        elif offset_difference_list[i] == offset_difference_list[i + 1] and offset_difs[i] == offset_difs[i + 2]:
            grouping = (offset_difs_info[i][0], offset_difs_info[i][1], offset_difs_info[i + 1][0], offset_difs_info[i + 1][1], offset_difs_info[i + 2][0], offset_difs_info[i + 2][1])
            grouping = list(dict.fromkeys(grouping))
            classified_obj = ClassifiedMatch(grouping, "periodic_entry")
            classified_matches.append(classified_obj)
        
        elif offset_difs[i] == offset_difs[i + 1]:
            grouping = (offset_difs_info[i][0], offset_difs_info[i][1], offset_difs_info[i + 1][0], offset_difs_info[i + 1][1])
            grouping = list(dict.fromkeys(grouping))
            classified_obj = ClassifiedMatch(grouping, "periodic entry")
            classified_matches.append(classified_obj)
        
        elif offset_difs[i] == offset_difs[i + 2]:
            grouping = (offset_difs_info[i][0], offset_difs_info[i][1], offset_difs_info[i + 2][0], offset_difs_info[i + 2][1])
            grouping = list(dict.fromkeys(grouping))
            classified_obj = ClassifiedMatch(grouping, "imitative duo")
            classified_matches.append(classified_obj)
        
        else:
            grouping = (offset_difs_info[i][0], offset_difs_info[i][1], offset_difs_info[i + 1][0], offset_difs_info[i + 1][1])
            grouping = list(dict.fromkeys(grouping))
            classified_obj = ClassifiedMatch(grouping, "fuga")
            classified_matches.append(classified_obj)
        i += 1
    pass
if list is this

return
elif list this that

return

# LOOP OVER

In [42]:
results["duration_ratios"] = results["duration_ratios"].apply(tuple)
results["note_durations"] = results["note_durations"].apply(tuple)
df3 = pd.DataFrame(results.groupby(["pattern_generating_match", "note_durations", "duration_ratios"]).size())
df3.head()

                                                                                                            0
pattern_generating_match note_durations                 duration_ratios
(-5, 1, 2, 1, -5)        (4.0, 8.0, 4.0, 8.0, 4.0, 8.0) (2.0, 0.5, 2.0, 0.5, 2.0)                           2
(-3, -2, -2, -2, -2)     (2.0, 3.0, 1.0, 1.0, 1.0, 4.0) (1.5, 0.3333333333333333, 1.0, 1.0, 4.0)            1
                         (3.0, 1.0, 1.0, 1.0, 3.0, 1.0) (0.3333333333333333, 1.0, 1.0, 3.0, 0.333333333...  1
                         (3.0, 1.0, 2.0, 2.0, 4.0, 2.0) (0.3333333333333333, 2.0, 1.0, 2.0, 0.5)            1
                         (3.0, 1.0, 4.0, 2.0, 4.0, 4.0) (0.3333333333333333, 4.0, 0.5, 2.0, 1.0)            1

In [1]:
def sum_durs(results, pattern_col, output_cols):
    
    sum_durs = []
    li = results["note_durations"]

    for name, group in results.groupby(pattern_col):

        sum_durs = ([sum(i) for i in li])
        sum_durs.append(sum_durs)
            
    return pd.DataFrame(sum_durs)

In [2]:
def sum_durs_2(results, pattern_col, output_cols):
    
    sum_durs = []
    #this is getting all groups
    # then iterate over them and pass through the process we work out below
    for name, group in results.groupby(pattern_col):

        sum_durs = ([sum(i) for i in group.note_durations])
        sum_durs.append(sum_durs)
            
    return pd.DataFrame(sum_durs)

In [90]:
def offset_diffs(results, pattern_col, output_cols):
    
    offset_diffs = []
    od = results["start_offset"]
 
    for name, group in results.groupby(pattern_col):

        offset_diffs = [od[i + 1] - od[i] for i in range(len(od)-1)]
        offset_diffs.append(offset_diffs)
            
    return pd.DataFrame(offset_diffs)

In [159]:
results["duration_ratios"] = results["duration_ratios"].apply(tuple)
results["note_durations"] = results["note_durations"].apply(tuple)
results["duration_ratios"] = results["duration_ratios"].apply(tuple)
results["pattern_matched"] = results["pattern_matched"].apply(tuple)
results["pattern_generating_match"] = results["pattern_generating_match"].apply(tuple)
# results.groupby(["pattern_matched"]).sort_values(["start_offset"], ascending = False).reset_index(drop=True)

results = results.sort_values("start_offset")
results


# results["offset_diffs"] = offset_diffs(results, "pattern_generating_match", "offset_diffs")
# results2 = results[["pattern_matched", "part", "start_offset", "duration_ratios", "offset_diffs"]]
# results2

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,start_beat,end_measure,end_beat,start_offset,end_offset,note_durations,ema,ema_url,duration_ratios
0,"(4, 1, 2, 2, -3)","(4, 1, 2, 2, -3)",Ave Maria,[Superius],1,1.0,4,1.0,0.0,24.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)","1-4/1/@1.0-end,@start-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"(2.0, 0.5, 1.0, 1.0, 2.0)"
2,"(4, 1, 2, 2, -3)","(4, 1, 2, 2, -3)",Ave Maria,Altus,3,1.0,6,1.0,16.0,40.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)","3-6/2/@1.0-end,@start-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"(2.0, 0.5, 1.0, 1.0, 2.0)"
3,"(4, 1, 2, 2, -3)","(4, 1, 2, 2, -3)",Ave Maria,Tenor,5,1.0,8,1.0,32.0,56.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)","5-8/3/@1.0-end,@start-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"(2.0, 0.5, 1.0, 1.0, 2.0)"
4,"(4, 1, 2, 2, -3)","(4, 1, 2, 2, -3)",Ave Maria,Bassus,7,1.0,10,1.0,48.0,72.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)","7-10/4/@1.0-end,@start-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"(2.0, 0.5, 1.0, 1.0, 2.0)"
5,"(-2, -2, -2, 2, -2)","(-2, -2, -2, 2, -2)",Ave Maria,[Superius],8,1.0,10,2.0,56.0,74.0,"(6.0, 2.0, 4.0, 4.0, 2.0, 2.0)","8-10/1/@1.0-end,@start-end,@start-2.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"(0.3333333333333333, 2.0, 1.0, 0.5, 1.0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,"(2, -2, 2, 2, -2)","(1, -2, 2, 2, -2)",Ave Maria,Tenor,147,3.0,151,5.0,1236.0,1272.0,"(4.0, 4.0, 4.0, 8.0, 16.0, 16.0)","147-151/3/@3.0-end,@start-end,@start-end,@star...",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"(1.0, 1.0, 2.0, 2.0, 1.0)"
817,"(-2, 2, 3, -2, 1)","(-2, 2, 2, -2, 1)",Ave Maria,Tenor,148,1.0,152,5.0,1240.0,1288.0,"(4.0, 4.0, 8.0, 16.0, 16.0, 16.0)","148-152/3/@1.0-end,@start-end,@start-end,@star...",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"(1.0, 2.0, 2.0, 1.0, 1.0)"
1002,"(-2, 2, 2, -2, 1)","(-2, 2, 2, -2, 1)",Ave Maria,Tenor,148,1.0,152,5.0,1240.0,1288.0,"(4.0, 4.0, 8.0, 16.0, 16.0, 16.0)","148-152/3/@1.0-end,@start-end,@start-end,@star...",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"(1.0, 2.0, 2.0, 1.0, 1.0)"
1070,"(-2, 2, 2, -2, 2)","(-2, 2, 2, -2, 1)",Ave Maria,Tenor,148,1.0,152,5.0,1240.0,1288.0,"(4.0, 4.0, 8.0, 16.0, 16.0, 16.0)","148-152/3/@1.0-end,@start-end,@start-end,@star...",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"(1.0, 2.0, 2.0, 1.0, 1.0)"
752,"(-2, 2, 2, -3, 1)","(-2, 2, 2, -2, 1)",Ave Maria,Tenor,148,1.0,152,5.0,1240.0,1288.0,"(4.0, 4.0, 8.0, 16.0, 16.0, 16.0)","148-152/3/@1.0-end,@start-end,@start-end,@star...",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"(1.0, 2.0, 2.0, 1.0, 1.0)"

In [84]:
results["duration_ratios"] = results["duration_ratios"].apply(tuple)
results["note_durations"] = results["note_durations"].apply(tuple)
results["duration_ratios"] = results["duration_ratios"].apply(tuple)
results["pattern_matched"] = results["pattern_matched"].apply(tuple)

sum_durs_2(results, "pattern_generating_match", "sum_durations")
results["sum_of_durations"] = sum_durs_2(results, "pattern_generating_match", "sum_durations")
# results2 = results[["pattern_matched", "part", "start_offset", "sum_of_durations", "duration_ratios"]]
results.head()

# results2 = pd.DataFrame(results2.groupby(["pattern_matched", "sum_of_durations", "duration_ratios"]).size())
# results2

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,start_beat,end_measure,end_beat,start_offset,end_offset,note_durations,ema,ema_url,offset_diffs,duration_ratios,sum_of_durations
0,"(4, 1, 2, 2, -3)","(4, 1, 2, 2, -3)",Ave Maria,[Superius],1,1.0,4,1.0,0.0,24.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)","1-4/1/@1.0-end,@start-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,884,"(2.0, 0.5, 1.0, 1.0, 2.0)",13
2,"(4, 1, 2, 2, -3)","(4, 1, 2, 2, -3)",Ave Maria,Altus,3,1.0,6,1.0,16.0,40.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)","3-6/2/@1.0-end,@start-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,16,"(2.0, 0.5, 1.0, 1.0, 2.0)","[13.0, 22.0, [13.0, 22.0, [13.0, 22.0, [13.0, ..."
3,"(4, 1, 2, 2, -3)","(4, 1, 2, 2, -3)",Ave Maria,Tenor,5,1.0,8,1.0,32.0,56.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)","5-8/3/@1.0-end,@start-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,16,"(2.0, 0.5, 1.0, 1.0, 2.0)",NaN
4,"(4, 1, 2, 2, -3)","(4, 1, 2, 2, -3)",Ave Maria,Bassus,7,1.0,10,1.0,48.0,72.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)","7-10/4/@1.0-end,@start-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,8,"(2.0, 0.5, 1.0, 1.0, 2.0)",NaN
5,"(-2, -2, -2, 2, -2)","(-2, -2, -2, 2, -2)",Ave Maria,[Superius],8,1.0,10,2.0,56.0,74.0,"(6.0, 2.0, 4.0, 4.0, 2.0, 2.0)","8-10/1/@1.0-end,@start-end,@start-2.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,16,"(0.3333333333333333, 2.0, 1.0, 0.5, 1.0)",NaN

## Group by the Pattern Generating Match
- Each has its own string of durations, and duration ratios
- and then we compare the ratios to get the differences
- the "list(combinations)" method takes care of building the pairs, using data from our dataframe 'results'

In [80]:
def compare_ratios(ratios_1, ratios_2):
    
    ## division of lists 
    # using zip() + list comprehension 
    diffs = [i - j for i, j in zip(ratios_1, ratios_2)] 
    abs_diffs = [abs(ele) for ele in diffs] 
    sum_diffs = sum(abs_diffs)

    return sum_diffs

#results["Pattern_Generating_Match"] = results["Pattern_Generating_Match"].apply(tuple) 

def get_ratio_distances(results, pattern_col, output_cols):
    
    matches = []

    for name, group in results.groupby(pattern_col):

        ratio_pairs = list(combinations(group.index.values, 2))

        for a, b in ratio_pairs:
            
            a_match = results.loc[a]
            b_match = results.loc[b]
            
            sum_diffs = compare_ratios(a_match.duration_ratios, b_match.duration_ratios)
            
            match_dict = {
                "pattern": name,
                "sum_diffs": sum_diffs
            }
            
            for col in output_cols:
                match_dict.update({
                    f"match_1_{col}": a_match[col],
                    f"match_2_{col}": b_match[col]
                })
                
            matches.append(match_dict)
            
    return pd.DataFrame(matches)

### Now Run the Function to get the 'edit distances' for the durations of matching patterns

In [83]:
ratio_distances = get_ratio_distances(results, "pattern_generating_match", ["piece_title", "part", "start_measure", "start_offset"])
ratio_distances

,pattern,sum_diffs,match_1_piece_title,match_2_piece_title,match_1_part,match_2_part,match_1_start_measure,match_2_start_measure,match_1_start_offset,match_2_start_offset
0,"(-3, 2, -3, 2, -2)",0.000000,Ave Maria,Ave Maria,[Superius],Altus,65,67,512.0,528.0
1,"(-3, 2, -3, 2, -2)",0.000000,Ave Maria,Ave Maria,[Superius],Tenor,65,68,512.0,536.0
2,"(-3, 2, -3, 2, -2)",0.000000,Ave Maria,Ave Maria,[Superius],Bassus,65,70,512.0,552.0
3,"(-3, 2, -3, 2, -2)",0.000000,Ave Maria,Ave Maria,Altus,Tenor,67,68,528.0,536.0
4,"(-3, 2, -3, 2, -2)",0.000000,Ave Maria,Ave Maria,Altus,Bassus,67,70,528.0,552.0
...,...,...,...,...,...,...,...,...,...,...
558,"(4, 1, 2, 2, -3)",2.166667,Ave Maria,Ave Maria,[Superius],Tenor,105,5,884.0,32.0
559,"(4, 1, 2, 2, -3)",2.166667,Ave Maria,Ave Maria,[Superius],Bassus,105,7,884.0,48.0
560,"(4, 1, 2, 2, -3)",0.000000,Ave Maria,Ave Maria,Altus,Tenor,3,5,16.0,32.0
561,"(4, 1, 2, 2, -3)",0.000000,Ave Maria,Ave Maria,Altus,Bassus,3,7,16.0,48.0
562,"(4, 1, 2, 2, -3)",0.000000,Ave Maria,Ave Maria,Tenor,Bassus,5,7,32.0,48.0

### And FILTER the results according to any threshold we like

In [82]:
ratios_filtered = ratio_distances[ratio_distances.sum_diffs <= 1]
ratios_filtered

,pattern,sum_diffs,match_1_piece_title,match_2_piece_title,match_1_part,match_2_part,match_1_start_offset,match_2_start_offset
0,"(-3, 2, -3, 2, -2)",0.0,Ave Maria,Ave Maria,[Superius],Altus,512.0,528.0
1,"(-3, 2, -3, 2, -2)",0.0,Ave Maria,Ave Maria,[Superius],Tenor,512.0,536.0
2,"(-3, 2, -3, 2, -2)",0.0,Ave Maria,Ave Maria,[Superius],Bassus,512.0,552.0
3,"(-3, 2, -3, 2, -2)",0.0,Ave Maria,Ave Maria,Altus,Tenor,528.0,536.0
4,"(-3, 2, -3, 2, -2)",0.0,Ave Maria,Ave Maria,Altus,Bassus,528.0,552.0
...,...,...,...,...,...,...,...,...
555,"(4, 1, 2, 2, -3)",0.0,Ave Maria,Ave Maria,[Superius],Tenor,0.0,32.0
556,"(4, 1, 2, 2, -3)",0.0,Ave Maria,Ave Maria,[Superius],Bassus,0.0,48.0
560,"(4, 1, 2, 2, -3)",0.0,Ave Maria,Ave Maria,Altus,Tenor,16.0,32.0
561,"(4, 1, 2, 2, -3)",0.0,Ave Maria,Ave Maria,Altus,Bassus,16.0,48.0
562,"(4, 1, 2, 2, -3)",0.0,Ave Maria,Ave Maria,Tenor,Bassus,32.0,48.0

### Now Group the Duration-Filter Results by the Pattern (which shows us very closely related soggetti in sets)

In [33]:
grouped = ratios_filtered.groupby("pattern")
len(grouped['pattern'].nunique())

152

In [123]:
ratios_filtered.to_csv("filtered_sample_pair.csv")

### Greedy Soggetti
* Groups by voice part
* Gets one voice, then creates shifted cols to contain current+previous intervals and durations
* slices each tuple: removes first from previous match and last from current match
* if these are identical, then we can merge the two soggetti

In [36]:
results["pattern_matched"] = results["pattern_matched"].apply(tuple)
# results_s = results.drop(columns=["ema_url", "ema", "duration_ratios", "pattern_generating_match"])
# # #results_s["group_number"] = group_number
# # results_grouped = results_s.groupby(by=["piece_title", "part"])
# # results_grouped.sort_values("start_measure")
# # results_grouped.head()
# results_shifted = results_s.groupby(["part"]).shift(1)
# results_shifted.head()

In [58]:
# function to group by piece and part, then add shfted columns to accept Greedy Data
# the 'df: pd.DataFrame' here is a way of specifying the type that ought to go here
# it's a form of annotation or 'typing'

def add_shifted_cols(df: pd.DataFrame,
                    group_cols: list,
                    shift_cols: list,
                    shift_periods=-1,
                    shifted_prefix="next"
                    ) -> pd.DataFrame:
    
    
    df = df.copy()

    df_shifted = df.groupby(group_cols).shift(shift_periods)

    df[[ f"{shifted_prefix}_{c}" for c in shift_cols]] = df_shifted[shift_cols]

    return df

In [59]:
# Sequence here helps us deal with tuples in the data, slicing as needed the various lists of vectors and durations

from typing import Sequence

def add_subsequence_cols(df: pd.DataFrame, this_sequence_cols: Sequence, next_sequence_cols: Sequence) -> pd.DataFrame:

    df = df.copy()

    for col in this_sequence_cols:
            df[f"{col}_short"] = df[col].dropna().apply(lambda x: x[1:]) 
    
    for col in next_sequence_cols:
            df[f"{col}_short"] = df[col].dropna().apply(lambda x: x[:-1])
          

    return df

In [60]:
assert 5==5, 'addition wrong'

In [62]:
# here we call the function to add the cols

df_shifted = add_shifted_cols(results,
                    group_cols=["piece_title", "part"],
                    shift_cols=["start_measure", "end_measure", "note_durations", "pattern_matched"])

df_brief = df_shifted.sort_values("start_measure").drop(columns=["ema", "ema_url", "pattern_generating_match"])
df_brief

,pattern_matched,piece_title,part,start_measure,start_beat,end_measure,end_beat,start_offset,end_offset,note_durations,next_start_measure,next_end_measure,next_note_durations,next_pattern_matched
0,"[4, 1, 2, 2, -3]",Ave Maria,[Superius],1,1.0,4,1.0,0.0,24.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]",105.0,107.0,"[4.0, 8.0, 4.0, 4.0, 6.0, 2.0]","[4, 1, 2, 2, -3]"
2,"[4, 1, 2, 2, -3]",Ave Maria,Altus,3,1.0,6,1.0,16.0,40.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]",10.0,12.0,"[6.0, 2.0, 4.0, 4.0, 3.0, 1.0]","[-2, -2, -2, 2, -2]"
3,"[4, 1, 2, 2, -3]",Ave Maria,Tenor,5,1.0,8,1.0,32.0,56.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]",12.0,14.0,"[6.0, 2.0, 4.0, 4.0, 2.0, 2.0]","[-2, -2, -2, 2, -2]"
4,"[4, 1, 2, 2, -3]",Ave Maria,Bassus,7,1.0,10,1.0,48.0,72.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]",139.0,141.0,"[3.0, 1.0, 1.0, 1.0, 4.0, 8.0]","[-2, -2, -2, 2, -2]"
5,"[-2, -2, -2, 2, -2]",Ave Maria,[Superius],8,1.0,10,2.0,56.0,74.0,"[6.0, 2.0, 4.0, 4.0, 2.0, 2.0]",16.0,19.0,"[6.0, 2.0, 4.0, 4.0, 4.0, 3.0]","[1, 1, 2, 2, -3]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,"[2, -2, -2, -2, 2]",Ave Maria,Bassus,139,3.0,140,3.0,1172.0,1180.0,"[2.0, 3.0, 1.0, 1.0, 1.0, 4.0]",14.0,16.0,"[6.0, 2.0, 4.0, 4.0, 6.0, 2.0]","[-2, -2, -2, 2, 2]"
155,"[2, -3, 2, -2, -2]",Ave Maria,Bassus,139,1.0,140,2.0,1168.0,1178.0,"[2.0, 2.0, 2.0, 3.0, 1.0, 1.0]",71.0,73.0,"[4.0, 4.0, 3.0, 1.0, 4.0, 4.0]","[-3, 2, -2, -2, -2]"
35,"[2, -2, 1, -2, 2]",Ave Maria,Altus,139,1.0,141,3.0,1168.0,1180.0,"[2.0, 3.0, 1.0, 4.0, 2.0, 8.0]",94.0,95.0,"[4.0, 4.0, 4.0, 6.0, 2.0, 2.0]","[1, 1, 2, -2, -2]"
8,"[-2, -2, -2, 2, -2]",Ave Maria,Bassus,139,4.0,141,1.0,1174.0,1184.0,"[3.0, 1.0, 1.0, 1.0, 4.0, 8.0]",22.0,25.0,"[6.0, 2.0, 4.0, 4.0, 4.0, 8.0]","[1, 1, 2, 2, -3]"
163,"[-3, 2, -2, -2, -2]",Ave Maria,Bassus,139,2.0,140,2.5,1170.0,1179.0,"[2.0, 2.0, 3.0, 1.0, 1.0, 1.0]",129.0,131.0,"[4.0, 3.0, 1.0, 4.0, 3.0, 1.0]","[-2, -2, -2, -2, 2]"

In [43]:
# And here we call the function to slice and enter the data

df_brief = add_subsequence_cols(df_shifted, 
    this_sequence_cols=["pattern_matched", "note_durations"], 
    next_sequence_cols=["next_pattern_matched", "next_note_durations"]
    )
df_brief.drop(columns=["ema", "ema_url", "pattern_generating_match", "duration_ratios"])

,pattern_matched,piece_title,part,start_measure,start_beat,end_measure,end_beat,start_offset,end_offset,note_durations,next_start_measure,next_end_measure,next_note_durations,next_pattern_matched,pattern_matched_short,note_durations_short,next_pattern_matched_short,next_note_durations_short
0,"(4, 1, 2, 2, -3)",Ave Maria,[Superius],1,1.0,4,1.0,0.0,24.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)",105.0,107.0,"(4.0, 8.0, 4.0, 4.0, 6.0, 2.0)","(4, 1, 2, 2, -3)","(1, 2, 2, -3)","(8.0, 4.0, 4.0, 4.0, 8.0)","(4, 1, 2, 2)","(4.0, 8.0, 4.0, 4.0, 6.0)"
1,"(4, 1, 2, 2, -3)",Ave Maria,[Superius],105,3.0,107,3.5,884.0,910.0,"(4.0, 8.0, 4.0, 4.0, 6.0, 2.0)",8.0,10.0,"(6.0, 2.0, 4.0, 4.0, 2.0, 2.0)","(-2, -2, -2, 2, -2)","(1, 2, 2, -3)","(8.0, 4.0, 4.0, 6.0, 2.0)","(-2, -2, -2, 2)","(6.0, 2.0, 4.0, 4.0, 2.0)"
2,"(4, 1, 2, 2, -3)",Ave Maria,Altus,3,1.0,6,1.0,16.0,40.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)",10.0,12.0,"(6.0, 2.0, 4.0, 4.0, 3.0, 1.0)","(-2, -2, -2, 2, -2)","(1, 2, 2, -3)","(8.0, 4.0, 4.0, 4.0, 8.0)","(-2, -2, -2, 2)","(6.0, 2.0, 4.0, 4.0, 3.0)"
3,"(4, 1, 2, 2, -3)",Ave Maria,Tenor,5,1.0,8,1.0,32.0,56.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)",12.0,14.0,"(6.0, 2.0, 4.0, 4.0, 2.0, 2.0)","(-2, -2, -2, 2, -2)","(1, 2, 2, -3)","(8.0, 4.0, 4.0, 4.0, 8.0)","(-2, -2, -2, 2)","(6.0, 2.0, 4.0, 4.0, 2.0)"
4,"(4, 1, 2, 2, -3)",Ave Maria,Bassus,7,1.0,10,1.0,48.0,72.0,"(4.0, 8.0, 4.0, 4.0, 4.0, 8.0)",91.0,92.0,"(4.0, 1.0, 1.0, 2.0, 2.0, 4.0)","(-2, -2, -2, 3, -2)","(1, 2, 2, -3)","(8.0, 4.0, 4.0, 4.0, 8.0)","(-2, -2, -2, 3)","(4.0, 1.0, 1.0, 2.0, 2.0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,"(2, 2, -3, 1, -2)",Ave Maria,[Superius],106,3.0,108,3.0,896.0,920.0,"(4.0, 4.0, 6.0, 2.0, 8.0, 4.0)",NaN,NaN,NaN,NaN,"(2, -3, 1, -2)","(4.0, 6.0, 2.0, 8.0, 4.0)",NaN,NaN
1092,"(2, 2, -3, 3, -2)",Ave Maria,Tenor,21,3.0,23,3.5,164.0,181.0,"(4.0, 4.0, 4.0, 2.0, 3.0, 1.0)",81.0,83.0,"(2.0, 2.0, 4.0, 2.0, 4.0, 2.0)","(1, 2, -3, 2, -2)","(2, -3, 3, -2)","(4.0, 4.0, 2.0, 3.0, 1.0)","(1, 2, -3, 2)","(2.0, 2.0, 4.0, 2.0, 4.0)"
1093,"(1, 2, -3, 2, -2)",Ave Maria,Tenor,81,3.0,83,2.0,644.0,658.0,"(2.0, 2.0, 4.0, 2.0, 4.0, 2.0)",NaN,NaN,NaN,NaN,"(2, -3, 2, -2)","(2.0, 4.0, 2.0, 4.0, 2.0)",NaN,NaN
1094,"(2, 2, -4, 2, -2)",Ave Maria,Bassus,131,3.5,133,1.0,1109.0,1120.0,"(1.0, 2.0, 2.0, 2.0, 4.0, 8.0)",138.0,140.0,"(1.0, 2.0, 2.0, 2.0, 3.0, 1.0)","(2, 2, -3, 2, -2)","(2, -4, 2, -2)","(2.0, 2.0, 2.0, 4.0, 8.0)","(2, 2, -3, 2)","(1.0, 2.0, 2.0, 2.0, 3.0)"
1095,"(2, 2, -3, 2, -2)",Ave Maria,Bassus,138,4.5,140,1.5,1167.0,1177.0,"(1.0, 2.0, 2.0, 2.0, 3.0, 1.0)",NaN,NaN,NaN,NaN,"(2, -3, 2, -2)","(2.0, 2.0, 2.0, 3.0, 1.0)",NaN,NaN

In [44]:
# Now  filter previous results to make sure the melodic and rhythmic vectors match for each sequence

df_filter_durs = df_brief[df_brief["note_durations_short"] == df_brief["next_note_durations_short"]]
df_filter_patts = df_filter_durs[df_filter_durs["pattern_matched_short"] == df_filter_durs["next_pattern_matched_short"]]
df_filter_patts.count()

pattern_generating_match      141
pattern_matched               141
piece_title                   141
part                          141
start_measure                 141
start_beat                    141
end_measure                   141
end_beat                      141
start_offset                  141
end_offset                    141
note_durations                141
ema                           141
ema_url                       141
duration_ratios               141
next_start_measure            141
next_end_measure              141
next_note_durations           141
next_pattern_matched          141
pattern_matched_short         141
note_durations_short          141
next_pattern_matched_short    141
next_note_durations_short     141
dtype: int64

In [127]:
# This is just a way to inspect a single voice

df_filter_one_voice = df_filter_patts[df_filter_patts["part"].str.contains('Contratenor')]
df_filter_one_voice.head()

Empty DataFrame
Columns: [pattern_generating_match, pattern_matched, piece_title, part, start_measure, end_measure, note_durations, ema, ema_url, duration_ratios, next_start_measure, next_end_measure, next_note_durations, next_pattern_matched, pattern_matched_short, note_durations_short, next_pattern_matched_short, next_note_durations_short]
Index: []

In [47]:
# Make sure there are no NaN values 

# Add new column for check of matching end measures +1 (which we do by subtracting 1, then checking for ==)
# combine the results:  these are the soggetti that need to get Greedy

df_filter_patts['next_end_measure'].fillna(0)
df_filter_patts['next_end_measure_minus'] = df_filter_patts['next_end_measure'].apply(lambda x: x-1)
df_test_1 = df_filter_patts[df_filter_patts["end_measure"] == df_filter_patts["next_end_measure"]]
df_test_2 = df_filter_patts[df_filter_patts["end_measure"] == df_filter_patts["next_end_measure_minus"]]
df_test_combined = pd.concat([df_test_1, df_test_2])
df_test_combined

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,start_beat,end_measure,end_beat,start_offset,end_offset,...,duration_ratios,next_start_measure,next_end_measure,next_note_durations,next_pattern_matched,pattern_matched_short,note_durations_short,next_pattern_matched_short,next_note_durations_short,next_end_measure_minus
5,"(-2, -2, -2, 2, -2)","(-2, -2, -2, 2, -2)",Ave Maria,[Superius],8,1.0,10,2.0,56.0,74.0,...,"(0.3333333333333333, 2.0, 1.0, 0.5, 1.0)",8.0,10.0,"(2.0, 4.0, 4.0, 2.0, 2.0, 6.0)","(-2, -2, 2, -2, 4)","(-2, -2, 2, -2)","(2.0, 4.0, 4.0, 2.0, 2.0)","(-2, -2, 2, -2)","(2.0, 4.0, 4.0, 2.0, 2.0)",9.0
8,"(-2, -2, -2, 2, -2)","(-2, -2, -2, 2, -2)",Ave Maria,Tenor,12,1.0,14,2.0,88.0,106.0,...,"(0.3333333333333333, 2.0, 1.0, 0.5, 1.0)",12.0,14.0,"(2.0, 4.0, 4.0, 2.0, 2.0, 6.0)","(-2, -2, 2, -2, 4)","(-2, -2, 2, -2)","(2.0, 4.0, 4.0, 2.0, 2.0)","(-2, -2, 2, -2)","(2.0, 4.0, 4.0, 2.0, 2.0)",13.0
14,"(-2, 2, -2, 4, -2)","(-2, 2, -2, 4, -2)",Ave Maria,[Superius],9,1.0,11,2.0,64.0,82.0,...,"(1.0, 0.5, 1.0, 3.0, 0.16666666666666666)",9.0,11.0,"(4.0, 2.0, 2.0, 6.0, 1.0, 1.0)","(2, -2, 4, -2, -2)","(2, -2, 4, -2)","(4.0, 2.0, 2.0, 6.0, 1.0)","(2, -2, 4, -2)","(4.0, 2.0, 2.0, 6.0, 1.0)",10.0
15,"(-2, 2, -2, 4, -2)","(-2, 2, -2, 4, -2)",Ave Maria,Altus,11,1.0,13,2.0,80.0,98.0,...,"(1.0, 0.75, 0.3333333333333333, 6.0, 0.1666666...",11.0,13.0,"(4.0, 3.0, 1.0, 6.0, 1.0, 1.0)","(2, -2, 4, -2, -2)","(2, -2, 4, -2)","(4.0, 3.0, 1.0, 6.0, 1.0)","(2, -2, 4, -2)","(4.0, 3.0, 1.0, 6.0, 1.0)",12.0
16,"(-2, 2, -2, 4, -2)","(-2, 2, -2, 4, -2)",Ave Maria,Tenor,13,1.0,15,2.0,96.0,114.0,...,"(1.0, 0.5, 1.0, 3.0, 0.16666666666666666)",13.0,15.0,"(4.0, 2.0, 2.0, 6.0, 1.0, 1.0)","(2, -2, 4, -2, -2)","(2, -2, 4, -2)","(4.0, 2.0, 2.0, 6.0, 1.0)","(2, -2, 4, -2)","(4.0, 2.0, 2.0, 6.0, 1.0)",14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
788,"(1, 1, 5, 1, 2)","(1, 1, 5, 1, 2)",Ave Maria,Bassus,81,1.0,82,4.0,640.0,654.0,...,"(0.5, 1.0, 2.0, 0.5, 1.5)",81.0,83.0,"(2.0, 2.0, 4.0, 2.0, 3.0, 1.0)","(1, 5, 1, 2, -2)","(1, 5, 1, 2)","(2.0, 2.0, 4.0, 2.0, 3.0)","(1, 5, 1, 2)","(2.0, 2.0, 4.0, 2.0, 3.0)",82.0
798,"(-2, -2, -2, 2, 3)","(-2, -2, -2, 2, 3)",Ave Maria,Altus,84,2.5,85,4.0,667.0,678.0,...,"(2.0, 1.0, 2.0, 0.5, 1.5)",84.0,86.0,"(2.0, 2.0, 4.0, 2.0, 3.0, 1.0)","(-2, -2, 2, 3, -2)","(-2, -2, 2, 3)","(2.0, 2.0, 4.0, 2.0, 3.0)","(-2, -2, 2, 3)","(2.0, 2.0, 4.0, 2.0, 3.0)",85.0
845,"(1, -3, 1, 2, -4)","(1, -3, 1, 2, -4)",Ave Maria,Altus,102,1.0,104,3.0,840.0,872.0,...,"(0.5, 2.0, 0.5, 2.0, 0.5)",102.0,105.0,"(4.0, 8.0, 4.0, 8.0, 4.0, 8.0)","(-3, 1, 2, -4, 2)","(-3, 1, 2, -4)","(4.0, 8.0, 4.0, 8.0, 4.0)","(-3, 1, 2, -4)","(4.0, 8.0, 4.0, 8.0, 4.0)",104.0
972,"(-2, 2, -3, 2, -3)","(-2, 2, -3, 2, -3)",Ave Maria,Tenor,51,2.0,52,3.0,402.0,412.0,...,"(0.3333333333333333, 2.0, 1.0, 1.0, 2.0)",51.0,53.0,"(1.0, 2.0, 2.0, 2.0, 4.0, 16.0)","(2, -3, 2, -3, -2)","(2, -3, 2, -3)","(1.0, 2.0, 2.0, 2.0, 4.0)","(2, -3, 2, -3)","(1.0, 2.0, 2.0, 2.0, 4.0)",52.0
1081,"(2, 2, 2, -4, 2)","(2, 2, 2, -4, 2)",Ave Maria,Bassus,131,3.0,132,3.0,1108.0,1116.0,...,"(1.0, 2.0, 1.0, 1.0, 2.0)",131.0,133.0,"(1.0, 2.0, 2.0, 2.0, 4.0, 8.0)","(2, 2, -4, 2, -2)","(2, 2, -4, 2)","(1.0, 2.0, 2.0, 2.0, 4.0)","(2, 2, -4, 2)","(1.0, 2.0, 2.0, 2.0, 4.0)",132.0