In [1]:
from crim_intervals import *
import pandas as pd
import ast
import matplotlib
from itertools import tee, combinations
import numpy as np

In [2]:
# THIS IS DEV COPY for use with CLOSE/EXACT Matches

import numpy as np

# Converts lists to tuples

def lists_to_tuples_a(el):
    if isinstance(el, list):
        return tuple(el)
    else:
        return el

# Filters for the length of the Presentation Type in the Classifier

def limit_offset_size(array, limit):
    under_limit = np.cumsum(array) <= limit
    return array[: sum(under_limit)]


# Gets the the list of offset differences for each group 

def get_offset_difference_list_a(group):
    # if we do sort values as part of the func call, then we don't need this first line
    group = group.sort_values("start_offset")
    group["next_offset"] = group.start_offset.shift(-1)
    offset_difference_list = (group.next_offset - group.start_offset).dropna().tolist()
    return offset_difference_list

# The classifications are done here

def classify_offsets_a(offset_difference_list):
    """
    Put logic for classifying an offset list here
    """
    #
    offset_difference_list = limit_offset_size(offset_difference_list, 40)



    
    alt_list = offset_difference_list[::2]
    
    
    if len(set(offset_difference_list)) == 1 and len(offset_difference_list) > 1:
        return ("PEN", offset_difference_list)
    elif (len(offset_difference_list) %2 != 0) and (len(set(alt_list)) == 1):
        return ("ID", offset_difference_list)
    elif len(offset_difference_list) >= 1:
        return ("Fuga", offset_difference_list)
    else: 
        return ("Singleton", offset_difference_list)
    

   
# adds predicted type, offsets and entry numbers to the results

def predict_type_a(group):
    offset_differences = get_offset_difference_list_a(group)
    predicted_type, offsets = classify_offsets_a(offset_differences)

    group["predicted_type"] = [predicted_type for i in range(len(group))]
    group["offset_diffs"] = [offsets for i in range(len(group))]
    group["entry_number"] = [i + 1 for i in range(len(group))]

    return group

In [3]:
df = pd.read_csv(('ave_test_set.csv'), index_col=0)
df = df.drop(columns=["ema", "ema_url", "end_measure", "end_beat"])
df.head()

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,start_beat,start_offset,end_offset,note_durations,sum_durs
0,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,[Superius],1,1.0,0.0,24.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]",32.0
1,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,[Superius],105,3.0,884.0,910.0,"[4.0, 8.0, 4.0, 4.0, 6.0, 2.0]",28.0
2,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Altus,3,1.0,16.0,40.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]",32.0
3,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Tenor,5,1.0,32.0,56.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]",32.0
4,"(4, 1, 2, 2, -3)","[4, 1, 2, 2, -3]",Ave Maria,Bassus,7,1.0,48.0,72.0,"[4.0, 8.0, 4.0, 4.0, 4.0, 8.0]",32.0

In [38]:
# now process the original match data df by:
# sorting by start offset, then group by pattern generating match and applying the function above for prev entry
# also give each group a number
# sort by group number and start offset

df2 = df.sort_values("start_offset")
df2["group_number"] = df2.groupby('pattern_generating_match').ngroup()
df2 = df2.sort_values(['group_number', 'start_offset'])
df2["prev_entry_off"] = df2["start_offset"].shift(1)
df2["next_entry_off"] = df2["start_offset"].shift(-1)
df2["last_group_number"] = df2["group_number"].shift(1)
df2["last_off_diff"] = df2["start_offset"] - df2["prev_entry_off"]
df2["next_off_diff"] = df2["next_entry_off"] - df2["start_offset"]

df2["next_off_diff"] = df2["next_off_diff"].abs()
df2["last_off_diff"] = df2["last_off_diff"].abs()

df2.head(10)

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,start_beat,start_offset,end_offset,note_durations,sum_durs,group_number,prev_entry_off,next_entry_off,last_group_number,last_off_diff,next_off_diff
18,"(-2, -2, -2, -2, -2)","[-2, -2, -2, -2, -2]",Ave Maria,[Superius],19,1.0,144.0,156.0,"[3.0, 1.0, 2.0, 2.0, 4.0, 2.0]",14.0,0,NaN,158.0,NaN,NaN,14.0
19,"(-2, -2, -2, -2, -2)","[-2, -2, -2, -2, -2]",Ave Maria,[Superius],20,4.0,158.0,172.0,"[3.0, 1.0, 4.0, 2.0, 4.0, 4.0]",18.0,0,144.0,216.0,0.0,14.0,58.0
21,"(-2, -2, -2, -2, -2)","[-2, -2, -2, -2, -2]",Ave Maria,Tenor,28,1.0,216.0,225.0,"[3.0, 1.0, 1.0, 1.0, 3.0, 1.0]",10.0,0,158.0,672.0,0.0,58.0,456.0
20,"(-2, -2, -2, -2, -2)","[-2, -2, -2, -2, -2]",Ave Maria,[Superius],85,1.0,672.0,688.0,"[4.0, 2.0, 4.0, 2.0, 4.0, 4.0]",20.0,0,216.0,328.0,0.0,456.0,344.0
73,"(-2, -2, -2, -2, -3)","[-2, -2, -2, -2, -3]",Ave Maria,Tenor,42,1.0,328.0,348.0,"[6.0, 2.0, 4.0, 4.0, 4.0, 2.0]",22.0,1,672.0,328.0,0.0,344.0,0.0
71,"(-2, -2, -2, -2, -3)","[-2, -2, -2, -2, -3]",Ave Maria,[Superius],42,1.0,328.0,348.0,"[6.0, 2.0, 4.0, 4.0, 4.0, 4.0]",24.0,1,328.0,586.0,1.0,0.0,258.0
74,"(-2, -2, -2, -2, -3)","[-2, -2, -2, -2, -3]",Ave Maria,Tenor,74,2.0,586.0,594.0,"[3.0, 1.0, 1.0, 1.0, 2.0, 2.0]",10.0,1,328.0,888.0,1.0,258.0,302.0
72,"(-2, -2, -2, -2, -3)","[-2, -2, -2, -2, -3]",Ave Maria,Altus,106,1.0,888.0,904.0,"[6.0, 2.0, 2.0, 2.0, 4.0, 4.0]",20.0,1,586.0,756.0,1.0,302.0,132.0
177,"(-2, -2, -2, -2, 1)","[-2, -2, -2, -2, 1]",Ave Maria,Altus,95,1.0,756.0,776.0,"[6.0, 2.0, 2.0, 2.0, 8.0, 4.0]",24.0,2,888.0,804.0,1.0,132.0,48.0
178,"(-2, -2, -2, -2, 1)","[-2, -2, -2, -2, 1]",Ave Maria,Altus,99,1.0,804.0,824.0,"[6.0, 2.0, 2.0, 2.0, 8.0, 4.0]",24.0,2,756.0,864.0,2.0,48.0,60.0

In [43]:
# above we need to adapt:  col for PREVIOUS OFFset and NEXT OFFset
# so that we can find PARALLEL (=0) Forward Gaps (the distance to NEXT entry), and Backward Gaps (distance to PREVIOUS Entry)
# All Proximate Matches are part of same sub Group (and go to classifier)
# Parallels are part of Sub Group but NOT part of Classified.  We will filter them OUT before classification
# Forward ONLY means the NEXT entry is a GAP.  No problem for Forward ONLY, since these are part of the previous set.
# Backward ONLY means the LAST entry was a GAP.  So these are NEW subgroups, since a new Presentation Type begins
# Forward AND Backward Gaps are SINGLETONS:  We will filter then OUT before Classification
# If an entry is the LAST in a Group and also has a BACKWARD gap it is also a SINGLETON

df2["parallel"] = df2["last_off_diff"] == 0
df2["forward_gapped"] = df2["next_off_diff"] >= 20
df2["back_gapped"] = df2["last_off_diff"] >= 20
df2["singleton"] = (df2['forward_gapped'] == True) & (df2['back_gapped'] == True)
df2["split_group"] = (df2['forward_gapped'] == False) & (df2['back_gapped'] == True)
df2["new_group"] = df2['last_group_number'] != df2['group_number'] 

#now mask out Parallels and Singletons
# df2 = df2[df2["parallel"] != True]
# df2 = df2[df2["singleton"] != True]
df2.head()

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,start_beat,start_offset,end_offset,note_durations,sum_durs,...,next_entry_off,last_group_number,last_off_diff,next_off_diff,parallel,forward_gapped,back_gapped,singleton,split_group,new_group
18,"(-2, -2, -2, -2, -2)","[-2, -2, -2, -2, -2]",Ave Maria,[Superius],19,1.0,144.0,156.0,"[3.0, 1.0, 2.0, 2.0, 4.0, 2.0]",14.0,...,158.0,NaN,NaN,14.0,False,False,False,False,False,True
19,"(-2, -2, -2, -2, -2)","[-2, -2, -2, -2, -2]",Ave Maria,[Superius],20,4.0,158.0,172.0,"[3.0, 1.0, 4.0, 2.0, 4.0, 4.0]",18.0,...,216.0,0.0,14.0,58.0,False,True,False,False,False,False
21,"(-2, -2, -2, -2, -2)","[-2, -2, -2, -2, -2]",Ave Maria,Tenor,28,1.0,216.0,225.0,"[3.0, 1.0, 1.0, 1.0, 3.0, 1.0]",10.0,...,672.0,0.0,58.0,456.0,False,True,True,True,False,False
20,"(-2, -2, -2, -2, -2)","[-2, -2, -2, -2, -2]",Ave Maria,[Superius],85,1.0,672.0,688.0,"[4.0, 2.0, 4.0, 2.0, 4.0, 4.0]",20.0,...,328.0,0.0,456.0,344.0,False,True,True,True,False,False
73,"(-2, -2, -2, -2, -3)","[-2, -2, -2, -2, -3]",Ave Maria,Tenor,42,1.0,328.0,348.0,"[6.0, 2.0, 4.0, 4.0, 4.0, 2.0]",22.0,...,328.0,0.0,344.0,0.0,False,False,True,False,True,True

In [42]:
df3 = df2.drop(columns=["pattern_matched", "part", "pattern_generating_match", "piece_title", "start_measure", "start_beat", "end_offset", "note_durations", "prev_entry_off", "next_entry_off"])
df3.head(50)

,start_offset,sum_durs,group_number,last_group_number,last_off_diff,next_off_diff,parallel,forward_gapped,back_gapped,singleton,split_group,new_group
18,144.0,14.0,0,NaN,NaN,14.0,False,False,False,False,False,True
19,158.0,18.0,0,0.0,14.0,58.0,False,True,False,False,False,False
21,216.0,10.0,0,0.0,58.0,456.0,False,True,True,True,False,False
20,672.0,20.0,0,0.0,456.0,344.0,False,True,True,True,False,False
73,328.0,22.0,1,0.0,344.0,0.0,False,False,True,False,True,True
71,328.0,24.0,1,1.0,0.0,258.0,True,True,False,False,False,False
74,586.0,10.0,1,1.0,258.0,302.0,False,True,True,True,False,False
72,888.0,20.0,1,1.0,302.0,132.0,False,True,True,True,False,False
177,756.0,24.0,2,1.0,132.0,48.0,False,True,True,True,False,True
178,804.0,24.0,2,2.0,48.0,60.0,False,True,True,True,False,False
176,864.0,24.0,2,2.0,60.0,8.0,False,False,True,False,True,False
179,872.0,24.0,2,2.0,8.0,660.0,False,True,False,False,False,False
204,212.0,14.0,3,2.0,660.0,7.0,False,False,True,False,True,True
209,219.0,9.0,3,3.0,7.0,325.0,False,True,False,False,False,False
205,544.0,14.0,3,3.0,325.0,120.0,False,True,True,True,False,False
206,664.0,14.0,3,3.0,120.0,428.0,False,True,True,True,False,False
210,1092.0,16.0,3,3.0,428.0,14.0,False,False,True,False,True,False
207,1106.0,12.0,3,3.0,14.0,28.0,False,True,False,False,False,False
208,1134.0,14.0,3,3.0,28.0,178.0,False,True,True,True,False,False
184,956.0,18.0,4,3.0,178.0,28.0,False,True,True,True,False,True
186,984.0,18.0,4,4.0,28.0,36.0,False,True,True,True,False,False
185,1020.0,18.0,4,4.0,36.0,28.0,False,True,True,True,False,False
187,1048.0,18.0,4,4.0,28.0,992.0,False,True,True,True,False,False
5,56.0,20.0,5,4.0,992.0,16.0,False,False,True,False,True,True
6,72.0,20.0,5,5.0,16.0,16.0,False,False,False,False,False,False
7,88.0,20.0,5,5.0,16.0,1086.0,False,True,False,False,False,False
8,1174.0,18.0,5,5.0,1086.0,1070.0,False,True,True,True,False,False
117,104.0,24.0,6,5.0,1070.0,111.0,False,True,True,True,False,True
113,215.0,13.0,6,6.0,111.0,5.0,False,False,True,False,True,False
115,220.0,12.0,6,6.0,5.0,178.0,False,True,False,False,False,False
112,398.0,11.0,6,6.0,178.0,149.0,False,True,True,True,False,False
114,547.0,14.0,6,6.0,149.0,165.0,False,True,True,True,False,False
116,712.0,17.0,6,6.0,165.0,384.0,False,True,True,True,False,False
118,1096.0,13.0,6,6.0,384.0,66.0,False,True,True,True,False,False
119,1162.0,10.0,6,6.0,66.0,200.0,False,True,True,True,False,False
188,962.0,13.0,7,6.0,200.0,28.0,False,True,True,True,False,True
190,990.0,13.0,7,7.0,28.0,36.0,False,True,True,True,False,False
189,1026.0,13.0,7,7.0,36.0,28.0,False,True,True,True,False,False
191,1054.0,13.0,7,7.0,28.0,833.0,False,True,True,True,False,False
121,221.0,27.0,8,7.0,833.0,180.0,False,True,True,True,False,True
120,401.0,9.0,8,8.0,180.0,315.0,False,True,True,True,False,False
122,716.0,14.0,8,8.0,315.0,276.0,False,True,True,True,False,False
123,992.0,16.0,8,8.0,276.0,64.0,False,True,True,True,False,False
124,1056.0,16.0,8,8.0,64.0,93.0,False,True,True,True,False,False
192,963.0,13.0,9,8.0,93.0,28.0,False,True,True,True,False,True
194,991.0,13.0,9,9.0,28.0,36.0,False,True,True,True,False,False
193,1027.0,13.0,9,9.0,36.0,28.0,False,True,True,True,False,False
195,1055.0,13.0,9,9.0,28.0,623.0,False,True,True,True,False,False
129,432.0,23.0,10,9.0,623.0,4.0,False,False,True,False,True,True
130,436.0,23.0,10,10.0,4.0,36.0,False,True,False,False,False,False

In [92]:
counter = 0

# the split-group column tells us if we need to start a new sub-group for that set of matches
# if TRUE, then we need to add a new sub_group_number
# if FALSE, then sub_group is the same
for name, group in df3.groupby("group_number"):
    if df3["split_group"] is False:
        df3["sub_group_id"] = counter   
    else:
        counter = counter + 1
        df3["sub_group_id"] = counter

df3.head(10)

,pattern_generating_match,pattern_matched,part,sum_durs,group_number,last_off_diff,next_off_diff,forward_gapped,back_gapped,split_group,sub_group_id
18,"(-2, -2, -2, -2, -2)","[-2, -2, -2, -2, -2]",[Superius],14.0,0,NaN,14.0,False,False,False,41
19,"(-2, -2, -2, -2, -2)","[-2, -2, -2, -2, -2]",[Superius],18.0,0,14.0,58.0,True,False,True,41
20,"(-2, -2, -2, -2, -2)","[-2, -2, -2, -2, -2]",[Superius],20.0,0,456.0,-344.0,False,True,False,41
73,"(-2, -2, -2, -2, -3)","[-2, -2, -2, -2, -3]",Tenor,22.0,1,-344.0,0.0,False,False,False,41
72,"(-2, -2, -2, -2, -3)","[-2, -2, -2, -2, -3]",Altus,20.0,1,302.0,-132.0,False,True,False,41
177,"(-2, -2, -2, -2, 1)","[-2, -2, -2, -2, 1]",Altus,24.0,2,-132.0,48.0,True,False,True,41
176,"(-2, -2, -2, -2, 1)","[-2, -2, -2, -2, 1]",[Superius],24.0,2,60.0,8.0,False,True,False,41
179,"(-2, -2, -2, -2, 1)","[-2, -2, -2, -2, 1]",Tenor,24.0,2,8.0,-660.0,False,False,False,41
204,"(-2, -2, -2, -2, 2)","[-2, -2, -2, -2, 2]",Altus,14.0,3,-660.0,7.0,False,False,False,41
209,"(-2, -2, -2, -2, 2)","[-2, -2, -2, -2, 2]",Tenor,9.0,3,7.0,325.0,True,False,True,41

In [108]:
df3.groupby("pattern_matched").first()

,pattern_generating_match,part,sum_durs,group_number,last_off_diff,next_off_diff,forward_gapped,back_gapped,split_group,subgroup_id
pattern_matched,,,,,,,,,,
"[-2, -2, -2, -2, -2]","(-2, -2, -2, -2, -2)",[Superius],14.0,0,14.0,14.0,False,False,False,1.0
"[-2, -2, -2, -2, -3]","(-2, -2, -2, -2, -3)",Tenor,22.0,1,-344.0,0.0,False,False,False,NaN
"[-2, -2, -2, -2, 1]","(-2, -2, -2, -2, 1)",Altus,24.0,2,-132.0,48.0,True,False,True,2.0
"[-2, -2, -2, -2, 2]","(-2, -2, -2, -2, 2)",Altus,14.0,3,-660.0,7.0,False,False,False,3.0
"[-2, -2, -2, 1, 3]","(-2, -2, -2, 1, 3)",[Superius],18.0,4,-178.0,28.0,True,False,True,5.0
"[-2, -2, -2, 2, -2]","(-2, -2, -2, 2, -2)",[Superius],20.0,5,-992.0,16.0,False,False,False,6.0
"[-2, -2, -2, 2, 2]","(-2, -2, -2, 2, 2)",Bassus,24.0,6,-1070.0,111.0,True,False,True,7.0
"[-2, -2, 1, 3, -2]","(-2, -2, 1, 3, -2)",[Superius],13.0,7,-200.0,28.0,True,False,True,9.0
"[-2, -2, 2, 2, -2]","(-2, -2, 2, 2, -2)",Tenor,27.0,8,-833.0,180.0,True,False,True,10.0
"[-2, 1, 3, -2, -2]","(-2, 1, 3, -2, -2)",[Superius],13.0,9,-93.0,28.0,True,False,True,11.0
"[-2, 2, 2, -3, -2]","(-2, 2, 2, -3, -2)",[Superius],23.0,10,-623.0,4.0,False,False,False,12.0
"[-3, 2, -2, -2, -2]","(-3, 2, -2, -2, -2)",[Superius],24.0,11,44.0,16.0,False,True,False,14.0
"[-3, 2, -3, 2, -2]","(-3, 2, -3, 2, -2)",[Superius],20.0,12,-658.0,16.0,False,False,False,NaN
"[-3, 2, 2, 2, -3]","(-3, 2, 2, 2, -3)",[Superius],24.0,13,-208.0,0.0,False,False,False,NaN
"[1, 1, 2, -2, -2]","(1, 1, 2, -2, -2)",[Superius],24.0,14,-44.0,0.0,False,False,False,NaN
"[1, 1, 2, 1, 2]","(1, 1, 2, 1, 2)",[Superius],32.0,15,-288.0,8.0,False,False,False,15.0
"[1, 1, 2, 2, -3]","(1, 1, 2, 2, -3)",[Superius],23.0,16,-676.0,16.0,False,False,False,16.0
"[1, 2, -2, -2, -2]","(1, 2, -2, -2, -2)",Tenor,24.0,17,32.0,0.0,False,True,False,17.0
"[1, 2, -2, 1, -2]","(1, 2, -2, 1, -2)",[Superius],16.0,18,-790.0,32.0,True,False,True,18.0
"[1, 2, 1, 2, 1]","(1, 2, 1, 2, 1)",[Superius],32.0,19,100.0,8.0,False,True,False,19.0
"[1, 3, -2, -2, -2]","(1, 3, -2, -2, -2)",Tenor,16.0,20,28.0,-732.0,False,True,False,NaN
"[2, -2, -2, -2, -2]","(2, -2, -2, -2, -2)",Tenor,24.0,21,-732.0,0.0,False,False,False,NaN
"[2, -2, -2, -2, 1]","(2, -2, -2, -2, 1)",[Superius],18.0,22,-180.0,28.0,True,False,True,21.0
"[2, -2, -2, -2, 2]","(2, -2, -2, -2, 2)",[Superius],10.0,23,-648.0,8.0,False,False,False,22.0
"[2, -2, 1, -2, 2]","(2, -2, 1, -2, 2)",[Superius],20.0,24,-912.0,28.0,True,False,True,23.0
"[2, -2, 2, -3, 2]","(2, -2, 2, -3, 2)",Bassus,15.0,25,-780.0,2.0,False,False,False,25.0
"[2, -3, -2, -2, 1]","(2, -3, -2, -2, 1)",[Superius],20.0,26,40.0,4.0,False,True,False,26.0
"[2, -3, 2, -2, -2]","(2, -3, 2, -2, -2)",[Superius],20.0,27,32.0,16.0,False,True,False,28.0
"[2, -3, 2, -3, 2]","(2, -3, 2, -3, 2)",Bassus,13.0,28,-765.0,105.0,True,False,True,29.0
"[2, -3, 2, 2, 2]","(2, -3, 2, 2, 2)",Tenor,24.0,29,-546.0,2.0,False,False,False,NaN
"[2, 1, 2, -2, -2]","(2, 1, 2, -2, -2)",Altus,20.0,30,-120.0,32.0,True,False,True,31.0
"[2, 1, 2, 1, -3]","(2, 1, 2, 1, -3)",[Superius],36.0,31,-292.0,8.0,False,False,False,32.0
"[2, 2, -2, -2, -2]","(2, 2, -2, -2, -2)",[Superius],9.0,32,-413.0,8.0,False,False,False,33.0
"[2, 2, -3, -2, -2]","(2, 2, -3, -2, -2)",[Superius],18.0,33,-998.0,306.0,True,False,True,34.0
"[2, 2, -3, 2, 2]","(2, 2, -3, 2, 2)",Tenor,24.0,34,-132.0,2.0,False,False,False,NaN
"[2, 2, 1, 2, -2]","(2, 2, 1, 2, -2)",[Superius],18.0,35,-120.0,0.0,False,False,False,NaN
"[2, 2, 2, -2, 2]","(2, 2, 2, -2, 2)",[Superius],18.0,36,-660.0,2.0,False,False,False,NaN
"[2, 2, 2, -3, 2]","(2, 2, 2, -3, 2)",[Superius],24.0,37,-744.0,0.0,False,False,False,36.0
"[3, -2, -2, -2, -2]","(3, -2, -2, -2, -2)",Tenor,20.0,38,28.0,-632.0,False,True,False,NaN
"[4, -2, 2, 2, -3]","(4, -2, 2, 2, -3)",[Superius],26.0,39,-632.0,4.0,False,False,False,37.0
"[4, 1, 2, 2, -3]","(4, 1, 2, 2, -3)",[Superius],32.0,40,-472.0,16.0,False,False,False,38.0

In [100]:
for name, group in df3.groupby("group_number"):
    df3.loc[df3.split_group, "subgroup_id"] = range(1, df3.split_group.sum() + 1)
df3.head(20)

,pattern_generating_match,pattern_matched,part,sum_durs,group_number,last_off_diff,next_off_diff,forward_gapped,back_gapped,split_group,subgroup_id
18,"(-2, -2, -2, -2, -2)","[-2, -2, -2, -2, -2]",[Superius],14.0,0,NaN,14.0,False,False,False,NaN
19,"(-2, -2, -2, -2, -2)","[-2, -2, -2, -2, -2]",[Superius],18.0,0,14.0,58.0,True,False,True,1.0
20,"(-2, -2, -2, -2, -2)","[-2, -2, -2, -2, -2]",[Superius],20.0,0,456.0,-344.0,False,True,False,NaN
73,"(-2, -2, -2, -2, -3)","[-2, -2, -2, -2, -3]",Tenor,22.0,1,-344.0,0.0,False,False,False,NaN
72,"(-2, -2, -2, -2, -3)","[-2, -2, -2, -2, -3]",Altus,20.0,1,302.0,-132.0,False,True,False,NaN
177,"(-2, -2, -2, -2, 1)","[-2, -2, -2, -2, 1]",Altus,24.0,2,-132.0,48.0,True,False,True,2.0
176,"(-2, -2, -2, -2, 1)","[-2, -2, -2, -2, 1]",[Superius],24.0,2,60.0,8.0,False,True,False,NaN
179,"(-2, -2, -2, -2, 1)","[-2, -2, -2, -2, 1]",Tenor,24.0,2,8.0,-660.0,False,False,False,NaN
204,"(-2, -2, -2, -2, 2)","[-2, -2, -2, -2, 2]",Altus,14.0,3,-660.0,7.0,False,False,False,NaN
209,"(-2, -2, -2, -2, 2)","[-2, -2, -2, -2, 2]",Tenor,9.0,3,7.0,325.0,True,False,True,3.0
210,"(-2, -2, -2, -2, 2)","[-2, -2, -2, -2, 2]",Bassus,16.0,3,428.0,14.0,False,True,False,NaN
207,"(-2, -2, -2, -2, 2)","[-2, -2, -2, -2, 2]",Altus,12.0,3,14.0,28.0,True,False,True,4.0
208,"(-2, -2, -2, -2, 2)","[-2, -2, -2, -2, 2]",Altus,14.0,3,28.0,-178.0,False,True,False,NaN
184,"(-2, -2, -2, 1, 3)","[-2, -2, -2, 1, 3]",[Superius],18.0,4,-178.0,28.0,True,False,True,5.0
187,"(-2, -2, -2, 1, 3)","[-2, -2, -2, 1, 3]",Tenor,18.0,4,28.0,-992.0,False,True,False,NaN
5,"(-2, -2, -2, 2, -2)","[-2, -2, -2, 2, -2]",[Superius],20.0,5,-992.0,16.0,False,False,False,NaN
6,"(-2, -2, -2, 2, -2)","[-2, -2, -2, 2, -2]",Altus,20.0,5,16.0,16.0,False,False,False,NaN
7,"(-2, -2, -2, 2, -2)","[-2, -2, -2, 2, -2]",Tenor,20.0,5,16.0,1086.0,True,False,True,6.0
8,"(-2, -2, -2, 2, -2)","[-2, -2, -2, 2, -2]",Bassus,18.0,5,1086.0,-1070.0,False,True,False,NaN
117,"(-2, -2, -2, 2, 2)","[-2, -2, -2, 2, 2]",Bassus,24.0,6,-1070.0,111.0,True,False,True,7.0

In [ ]:

df3.loc[df2.split_group, "new_subgroup_id"] = range(1, df3.split_group.sum() + 1)
# df2["new_subgroup_id"] = df2["new_subgroup_id"].ffill()
df3.head(10)
# df2.loc[df2.split_group, "new_subgroup_id"] = a
# df2

In [ ]:
df2.loc[df2.split_group, "new_subgroup_id"] = range(2, df2.split_group.sum() + 2)

df2["new_subgroup_id"] = df2["new_subgroup_id"].ffill().fillna(1)
df2.head(5)

In [ ]:
# Now we need to interate over each group in order to split the groups at wherever "split_group" is TRUE
# # initalize sub-group counter
sub_counter = 0

# the split-group column tells us if we need to start a new sub-group for that set of matches
# if TRUE, then we need to add a new sub_group_number
# if FALSE, then sub_group is the same
for name, group in df2.groupby("group_number"):
    if df2["split_group"] is False:
        df2["sub_group_id"] = sub_counter   
    else:
        sub_counter = sub_counter + 1
        df2["sub_group_id"] = sub_counter

df2.head(10)

In [ ]:
classified = df.applymap(lists_to_tuples_a).sort_values("start_offset").groupby("pattern_matched").apply(predict_type_a)
classified["group_number"] = classified.groupby('pattern_generating_match').ngroup()
classified = classified[["group_number", "pattern_generating_match", "pattern_matched", "part", "start_measure", "start_beat", "entry_number", "start_offset", "sum_durs", "offset_diffs", "predicted_type"]]

# remove singleton entries

classified.drop(classified[classified['predicted_type'] == "Singleton"].index, inplace = True)

# now classified results, in order by OFFSET and ENTRY NUMBER, but the group numbers can overlap with each other.
classified.head(25)

classified = classified.sort_values(["group_number", "entry_number"])
classified= classified[["group_number", "entry_number", "pattern_matched", "part", "start_measure", "start_beat", "start_offset", "sum_durs", "offset_diffs", "predicted_type"]]
classified["offset_list_length"] = classified["offset_diffs"].apply(len) + 1
classified.head(50)

In [ ]:
classified = classified[classified.entry_number <= classified.offset_list_length]
classified

In [ ]:


classify = df.sort_values("start_offset").groupby("pattern_matched")
for pattern_matched, group in classify: 
    classify["prev_ent_offset"] = classify["start_offset"]
    print(prev_ent_offset) 
    # print(group)

In [ ]:
df2["split_group"]

In [ ]:
#filter out all the parallel entry items
df3 = df2[df2['parallel_entry'] != True] 
df3

In [ ]:

df3["gapped"] = df3["offset_diff"] >= 20
df3.head()

In [ ]:
sub_group_id = 1
sub_group = sub_group_id + 1
sub_group

In [ ]:
gapped = "True"
sub_group_id = 1
if gapped is False:
    df3["sub_group"] = sub_group_id
else:
    df3["sub_group"] = sub_group_id + 1

sub_group

In [ ]:
# now run the classifer, but on DF from which the Parallel Entries have been removed!

classified2 = df3.applymap(lists_to_tuples_a).sort_values("start_offset").groupby("pattern_matched").apply(predict_type_a)
classified2["group_number"] = classified2.groupby('pattern_generating_match').ngroup()
classified2 = classified2[["group_number", "pattern_generating_match", "pattern_matched", "part", "start_measure", "start_beat", "entry_number", "start_offset", "prev_entry_off","sum_durs", "offset_diffs", "predicted_type"]]

# remove singleton entries

# classified2.drop(classified[classified['predicted_type'] == "Singleton"].index, inplace = True)

# now classified results, in order by OFFSET and ENTRY NUMBER, but the group numbers can overlap with each other.

classified2 = classified2.sort_values(["group_number", "entry_number"])
classified2= classified2[["group_number", "entry_number", "pattern_matched", "part", "start_measure", "start_beat", "start_offset", "prev_entry_off", "sum_durs", "offset_diffs", "predicted_type"]]
# classified2 = classified2[classified2["predicted_type"] == "PEN"]

classified2.head()

In [ ]:
l = [16.0, 16.0, 16.0, 836.0]
for count, value in enumerate(l):
    if value >= 5000:
        split_point = [count]
        res = [l[i : j] for i, j in zip([0] + 
          split_point, split_point + [None])] 
  
# printing result 
print ("The split lists are : " +  str(res)) 

    # print(count, value)

In [ ]:
def group_splitter(classified2):
    od = classified2.offset_diffs
    for count, value in enumerate(od):
        if value >= 5000:
            split_point = [count]
            res = [l[i : j] for i, j in zip([0] + 
                split_point, split_point + [None])] 
  
# printing result 
    print ("The split lists are : " +  str(res)) 
    

    # return str(res))

In [ ]:
group_splitter(classified2)

In [ ]:
print(classified2.offset_diffs)

In [ ]:
gap = classified2["start_offset"] - classified2["prev_entry_off"]
# return df2

classified2["gapped"] = gap >= 80
c3 = classified2[classified2["gapped"] == True]
c3.head(50)