## Search with Options

- Piece or Corpus
- Actual or Incremental Durations
- Chromatic or Diatonic
- Exact or Close
- Classify

***

In [72]:
from crim_intervals import *
import pandas as pd
import ast
import matplotlib
from itertools import tee, combinations

### The Complete Corpus

In [ ]:
work_list = ['CRIM_Mass_0001_1.mei','CRIM_Mass_0001_2.mei','CRIM_Mass_0001_3.mei','CRIM_Mass_0001_4.mei','CRIM_Mass_0001_5.mei','CRIM_Mass_0002_1.mei','CRIM_Mass_0002_2.mei','CRIM_Mass_0002_3.mei','CRIM_Mass_0002_4.mei','CRIM_Mass_0002_5.mei','CRIM_Mass_0003_1.mei','CRIM_Mass_0003_2.mei','CRIM_Mass_0003_3.mei','CRIM_Mass_0003_4.mei','CRIM_Mass_0003_5.mei','CRIM_Mass_0004_1.mei','CRIM_Mass_0004_2.mei','CRIM_Mass_0004_3.mei','CRIM_Mass_0004_4.mei','CRIM_Mass_0004_5.mei','CRIM_Mass_0005_1.mei','CRIM_Mass_0005_2.mei','CRIM_Mass_0005_3.mei','CRIM_Mass_0005_4.mei','CRIM_Mass_0005_5.mei','CRIM_Mass_0006_1.mei','CRIM_Mass_0006_2.mei','CRIM_Mass_0006_3.mei','CRIM_Mass_0006_4.mei','CRIM_Mass_0006_5.mei','CRIM_Mass_0007_1.mei', 'CRIM_Mass_0007_2.mei', 'CRIM_Mass_0007_3.mei', 'CRIM_Mass_0007_4.mei', 'CRIM_Mass_0007_5.mei', 'CRIM_Mass_0008_1.mei', 'CRIM_Mass_0008_2.mei', 'CRIM_Mass_0008_3.mei', 'CRIM_Mass_0008_4.mei', 'CRIM_Mass_0008_5.mei', 'CRIM_Mass_0009_1.mei', 'CRIM_Mass_0009_2.mei', 'CRIM_Mass_0009_3.mei', 'CRIM_Mass_0009_4.mei', 'CRIM_Mass_0009_5.mei', 'CRIM_Mass_0010_1.mei', 'CRIM_Mass_0010_2.mei', 'CRIM_Mass_0010_3.mei', 'CRIM_Mass_0010_4.mei', 'CRIM_Mass_0010_5.mei', 'CRIM_Mass_0011_1.mei', 'CRIM_Mass_0011_2.mei', 'CRIM_Mass_0011_3.mei', 'CRIM_Mass_0011_4.mei', 'CRIM_Mass_0011_5.mei', 'CRIM_Mass_0012_1.mei', 'CRIM_Mass_0012_2.mei', 'CRIM_Mass_0012_3.mei', 'CRIM_Mass_0012_4.mei', 'CRIM_Mass_0012_5.mei', 'CRIM_Mass_0013_1.mei', 'CRIM_Mass_0013_2.mei', 'CRIM_Mass_0013_3.mei', 'CRIM_Mass_0013_4.mei', 'CRIM_Mass_0013_5.mei', 'CRIM_Mass_0014_1.mei', 'CRIM_Mass_0014_2.mei', 'CRIM_Mass_0014_3.mei', 'CRIM_Mass_0014_4.mei', 'CRIM_Mass_0014_5.mei', 'CRIM_Mass_0015_1.mei', 'CRIM_Mass_0015_2.mei', 'CRIM_Mass_0015_3.mei', 'CRIM_Mass_0015_4.mei', 'CRIM_Mass_0015_5.mei', 'CRIM_Mass_0016_1.mei', 'CRIM_Mass_0016_2.mei', 'CRIM_Mass_0016_3.mei', 'CRIM_Mass_0016_4.mei', 'CRIM_Mass_0016_5.mei', 'CRIM_Mass_0017_1.mei', 'CRIM_Mass_0017_2.mei', 'CRIM_Mass_0017_3.mei', 'CRIM_Mass_0017_4.mei', 'CRIM_Mass_0017_5.mei', 'CRIM_Mass_0018_1.mei', 'CRIM_Mass_0018_2.mei', 'CRIM_Mass_0018_3.mei', 'CRIM_Mass_0018_4.mei', 'CRIM_Mass_0018_5.mei', 'CRIM_Mass_0019_1.mei', 'CRIM_Mass_0019_2.mei', 'CRIM_Mass_0019_3.mei', 'CRIM_Mass_0019_4.mei', 'CRIM_Mass_0019_5.mei', 'CRIM_Mass_0020_1.mei', 'CRIM_Mass_0020_2.mei', 'CRIM_Mass_0020_3.mei', 'CRIM_Mass_0020_4.mei', 'CRIM_Mass_0020_5.mei', 'CRIM_Mass_0021_1.mei', 'CRIM_Mass_0021_2.mei', 'CRIM_Mass_0021_3.mei', 'CRIM_Mass_0021_4.mei', 'CRIM_Mass_0021_5.mei', 'CRIM_Mass_0022_2.mei', 'CRIM_Model_0001.mei', 'CRIM_Model_0008.mei', 'CRIM_Model_0009.mei', 'CRIM_Model_0010.mei', 'CRIM_Model_0011.mei', 'CRIM_Model_0012.mei', 'CRIM_Model_0013.mei', 'CRIM_Model_0014.mei', 'CRIM_Model_0015.mei', 'CRIM_Model_0016.mei', 'CRIM_Model_0017.mei', 'CRIM_Model_0019.mei', 'CRIM_Model_0020.mei', 'CRIM_Model_0021.mei', 'CRIM_Model_0023.mei', 'CRIM_Model_0025.mei', 'CRIM_Model_0026.mei',
]

### Short Corpus

In [5]:
# work_list = ['CRIM_Mass_0002_1.mei',
#  'CRIM_Mass_0002_2.mei',
#  'CRIM_Mass_0002_3.mei',
#  'CRIM_Mass_0002_4.mei',
#  'CRIM_Mass_0002_5.mei',
# 'CRIM_Model_0001.mei']

work_list = [
'CRIM_Model_0001.mei']

## Load File and Correct the MEI Metadata

In [6]:
work_list = [el.replace("CRIM_", "https://crimproject.org/mei/MEI_4.0/CRIM_") for el in work_list]
corpus = CorpusBase(work_list)

import xml.etree.ElementTree as ET
import requests

MEINSURI = 'http://www.music-encoding.org/ns/mei'
MEINS = '{%s}' % MEINSURI

for i, path in enumerate(work_list):
    
    try:
        if path[0] == '/':
            mei_doc = ET.parse(path)
        else:
            mei_doc = ET.fromstring(requests.get(path).text)

      # Find the title from the MEI file and update the Music21 Score metadata
        title = mei_doc.find('mei:meiHead//mei:titleStmt/mei:title', namespaces={"mei": MEINSURI}).text
        print(path, title)
        corpus.scores[i].metadata.title = title
    except:
        continue

for s in corpus.scores:
    print(s.metadata.title)

Requesting file from https://crimproject.org/mei/MEI_4.0/CRIM_Model_0001.mei...
Successfully imported.
https://crimproject.org/mei/MEI_4.0/CRIM_Model_0001.mei Veni speciosam
Veni speciosam


## Select Actual or Incremental Durations

#### About Rhythmic Durations

- For `find_close_matches` and `find_exact_matches`, rhythmic variation/duration is displayed, but **not** factored into the calculation of matching.
- **Incremental Offset** calculates the intervals using a **fixed offset between notes**, no matter their actual duration.  Use this to ignore passing tones or other ornaments.  The offsets are expressed in multiples of the quarter note (Offset = 1 samples at quarter note; Offset = 2 at half note, etc). Set with `vectors = IntervalBase(corpus.note_list_incremental_offset(2))`

In [7]:
vectors = IntervalBase(corpus.note_list)
#vectors = IntervalBase(corpus.note_list_incremental_offset(2))

***

## Select Generic or Semitone Scale:

- **Length of the Soggetto**: `into_patterns([vectors.semitone_intervals], 5)` 

- The **number** in this command represents the **minimum number of vectors to find**. 5 vectors is 6 notes.

In [8]:
patterns = into_patterns([vectors.generic_intervals], 5)
#patterns = into_patterns([vectors.semitone_intervals], 4)

***

## Select Exact Matches Here, or Close Below
#### (Use comment feature to select screen preview or CSV output) 

- **Exact** is exact in *all* ways `find_exact_matches(patterns, 2)` 
- The **number** in this command represents the **minimum number of matching melodies needed before reporting**. This allows us to filter for common or uncommon soggetti.

In [31]:
exact_matches = find_exact_matches(patterns, 3)
# Use this for exact screen preview
#for item in exact_matches:
    #item.print_exact_matches()

output_exact = export_pandas(exact_matches)
pd.DataFrame(output_exact).head()
output_exact["pattern_generating_match"] = output_exact["pattern_generating_match"].apply(tuple)

results = pd.DataFrame(output_exact)
results["pattern_generating_match"] = results["pattern_generating_match"].apply(tuple)
results
#export_to_csv(exact_matches)

Finding exact matches...
72 melodic intervals had more than 3 exact matches.

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,end_measure,note_durations,ema,ema_url
0,"(5, -2, 2, 3, -2)","[5, -2, 2, 3, -2]",Veni speciosam,Superius,1,3,"[4.0, 6.0, 2.0, 2.0, 2.0, 2.0]","1-3/1/@1.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
1,"(5, -2, 2, 3, -2)","[5, -2, 2, 3, -2]",Veni speciosam,Superius,10,12,"[4.0, 6.0, 2.0, 2.0, 2.0, 4.0]","10-12/1/@1.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
2,"(5, -2, 2, 3, -2)","[5, -2, 2, 3, -2]",Veni speciosam,Superius,31,33,"[2.0, 6.0, 2.0, 2.0, 4.0, 2.0]","31-33/1/@2.0-end,@start-end,@start-2.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
3,"(5, -2, 2, 3, -2)","[5, -2, 2, 3, -2]",Veni speciosam,Contratenor,34,36,"[2.0, 6.0, 2.0, 2.0, 2.0, 3.0]","34-36/2/@4.0-end,@start-end,@start-3.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
4,"(5, -2, 2, 3, -2)","[5, -2, 2, 3, -2]",Veni speciosam,PrimusTenor,5,7,"[4.0, 6.0, 2.0, 2.0, 2.0, 2.0]","5-7/3/@1.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
...,...,...,...,...,...,...,...,...,...
600,"(-3, 2, 4, -2, -2)","[-3, 2, 4, -2, -2]",Veni speciosam,SecundusTenor,46,48,"[2.0, 2.0, 2.0, 4.0, 2.0, 2.0]","46-48/4/@3.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
601,"(-3, 2, -2, -2, -2)","[-3, 2, -2, -2, -2]",Veni speciosam,PrimusTenor,85,86,"[1.0, 1.0, 4.0, 3.0, 1.0, 2.0]","85-86/3/@2.0-end,@start-3.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
602,"(-3, 2, -2, -2, -2)","[-3, 2, -2, -2, -2]",Veni speciosam,SecundusTenor,64,66,"[1.0, 2.0, 4.0, 2.0, 4.0, 4.0]","64-66/4/@4.5-end,@start-end,@start-3.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
603,"(-3, 2, -2, -2, -2)","[-3, 2, -2, -2, -2]",Veni speciosam,Bassus,35,36,"[2.0, 2.0, 4.0, 4.0, 2.0, 2.0]","35-36/5/@1.0-end,@start-4.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
604,"(-3, 2, -2, -2, -2)","[-3, 2, -2, -2, -2]",Veni speciosam,Bassus,103,104,"[2.0, 2.0, 3.0, 1.0, 2.0, 1.0]","103-104/5/@3.0-end,@start-4.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...

### A Quick Overview of the Results

In [20]:
total_matches = len(output_exact)
unique_sogetti = output_exact.pattern_generating_match.apply(str).nunique()
summary = 'There are {} unique soggetti and {} total matches in this search'.format(unique_sogetti, total_matches)
summary

'There are 72 unique soggetti and 605 total matches in this search'

### Group by the Pattern Generating Match and Check Distribution of Results

- Report Top Ten and Bottom Ten Results)

In [13]:
pattern_inventory = pd.DataFrame(output_exact.groupby("pattern_generating_match").size().sort_values(ascending=False)[:10])
pattern_inventory

                           0
pattern_generating_match
(2, 2, -2, -2, -2)        26
(2, 2, 2, -2, -2)         21
(-2, -2, -2, 2, 2)        21
(2, 3, -2, -2, -2)        21
(-2, 2, -2, -2, -2)       19
(2, 2, 2, 2, -2)          19
(2, -2, -2, -2, 2)        18
(-2, -2, -2, -2, 2)       17
(2, 2, 2, 2, 2)           17
(-2, -2, -2, -2, -2)      15

In [14]:
pattern_inventory = pd.DataFrame(output_exact.groupby("pattern_generating_match").size().sort_values(ascending=True)[:10])
pattern_inventory

                          0
pattern_generating_match
(-5, 2, 2, 2, 2)          4
(2, -2, -2, 2, 2)         4
(2, 2, -5, 2, 2)          4
(-2, 1, -2, -2, 2)        4
(-2, -2, -2, -2, 5)       4
(-2, 2, -4, 2, 2)         4
(2, 2, -3, 2, 2)          4
(-2, -2, -2, -3, 2)       4
(2, -3, -2, 2, 2)         4
(-2, -3, 5, -2, -2)       4

***

### Select Close Matches Here
#### (Comment out the 'for item iteration' in order to skip screen preview)

- **Close** matches allow for melodic variation (see more below). `find_close_matches(patterns, 2, 1)`
- The **first number** in this command is the **minimum number of melodies** needed before reporting
- The **second number** is **threshold of similarity** needed in order to find a match. 
- Lower number = very similar; higher number = less similar

##### More about Close Matches  
- The **threshold for close matches** is determined by the **second number** called in the method. 
- We select two patterns, then compare *each vector in each pattern successively*. 
- The *differences between each vector are summed*. 
- If that value is **below the threshold specified**, we consider the **two patterns closely matched**.
- The format of the method call is  `find_close_matches(the array you get from into_patterns, minimum matches needed to be displayed, threshold for close match)`.

In [69]:
close_matches = find_close_matches(patterns, 3, 1)
#for item in close_matches:
   #item.print_close_matches()
    #return pd.DataFrame(close_matches)

output_close = export_pandas(close_matches)
output_close["pattern_generating_match"] = output_close["pattern_generating_match"].apply(tuple)

results = pd.DataFrame(output_close)
results["pattern_generating_match"] = results["pattern_generating_match"].apply(tuple)
results.head()
#export_to_csv(close_matches)

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,end_measure,note_durations,ema,ema_url
0,"(5, -2, 2, 3, -2)","[5, -2, 2, 3, -2]",Veni speciosam,Superius,1,3,"[4.0, 6.0, 2.0, 2.0, 2.0, 2.0]","1-3/1/@1.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
1,"(5, -2, 2, 3, -2)","[5, -2, 2, 3, -2]",Veni speciosam,Superius,10,12,"[4.0, 6.0, 2.0, 2.0, 2.0, 4.0]","10-12/1/@1.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
2,"(5, -2, 2, 3, -2)","[5, -2, 2, 3, -2]",Veni speciosam,Superius,31,33,"[2.0, 6.0, 2.0, 2.0, 4.0, 2.0]","31-33/1/@2.0-end,@start-end,@start-2.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
3,"(5, -2, 2, 3, -2)","[4, -2, 2, 3, -2]",Veni speciosam,Superius,35,37,"[4.0, 4.0, 2.0, 2.0, 2.0, 3.0]","35-37/1/@2.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
4,"(5, -2, 2, 3, -2)","[4, -2, 2, 3, -2]",Veni speciosam,Superius,125,126,"[2.0, 4.0, 2.0, 2.0, 1.0, 1.0]","125-126/1/@1.0-end,@start-2.5",https://ema.crimproject.org/https%3A%2F%2Fcrim...

### How Many Unique Soggetti?  How many instances?

In [33]:
total_matches = len(output_close)
unique_sogetti = output_close.pattern_generating_match.apply(str).nunique()
summary = 'There are {} unique soggetti and {} total matches in this search'.format(unique_sogetti, total_matches)
summary

'There are 273 unique soggetti and 3161 total matches in this search'

### Top and Bottom Ten Soggetti

In [85]:
pattern_inventory = pd.DataFrame(output_close.groupby("pattern_generating_match").size().sort_values(ascending=False)[:10])
pattern_inventory

                           0
pattern_generating_match
(2, 3, -2, -2, -2)        55
(2, 2, -2, -2, -2)        55
(3, 2, -2, -2, -2)        53
(2, 4, -2, -2, -2)        52
(2, 2, -3, -2, -2)        52
(1, 3, -2, -2, -2)        52
(-3, 2, 2, -2, -2)        48
(2, -2, -2, -2, 2)        44
(-2, 2, 3, -2, -2)        44
(-2, 2, 2, -2, -2)        43

In [40]:
pattern_inventory = pd.DataFrame(output_close.groupby("pattern_generating_match").size().sort_values(ascending=True)[:10])
pattern_inventory

4

***

### Classify Patterns Here 
#### Note:  depends on choice of Close or Exact above!  Must choose appropriate one below!
#### Enable "export_to_csv" line to allow this within Notebook (must answer "Y" and provide filename)

In [49]:
%%capture
classify_matches(close_matches, 2)
#classify_matches(exact_matches, 2)
cm = classify_matches(close_matches, 2)
#pd.DataFrame(classified_matches)
output_cm = export_pandas(cm)
#pd.DataFrame(output).head()

## For CSV export, use the following (and follow prompts for file name)

#export_to_csv(cm)

In [50]:
short_out = output_cm.drop(columns=["ema_url"])
short_out

]

In [60]:
def classified_matches_to_pandas(matches):
    
    soggetti_matches = []
    
    for i, cm in enumerate(matches):
        
        for j, soggetti in enumerate(cm.matches):
            
            soggetti_matches.append({
                "piece": soggetti.first_note.metadata.title,
                "type": cm.type,
                "part": soggetti.first_note.part.strip("[] "),
                "bar": soggetti.first_note.note.measureNumber,
                "entry_number": j + 1,
                "pattern": cm.pattern,
                "match_number": i + 1
            })
    return pd.DataFrame(soggetti_matches)

In [61]:
df = classified_matches_to_pandas(cm)
pd.set_option('display.max_rows', 50)
df.head(10)

,piece,type,part,bar,entry_number,pattern,match_number
0,Veni speciosam,imitative duo,Superius,1,1,"[5, -2, 2, 3, -2]",1
1,Veni speciosam,imitative duo,Contratenor,2,2,"[5, -2, 2, 3, -2]",1
2,Veni speciosam,imitative duo,PrimusTenor,5,3,"[5, -2, 2, 3, -2]",1
3,Veni speciosam,imitative duo,Bassus,6,4,"[5, -2, 2, 3, -2]",1
4,Veni speciosam,fuga,Contratenor,2,1,"[4, -2, 2, 3, -2]",2
5,Veni speciosam,fuga,PrimusTenor,5,2,"[4, -2, 2, 3, -2]",2
6,Veni speciosam,fuga,Bassus,6,3,"[4, -2, 2, 3, -2]",2
7,Veni speciosam,fuga,PrimusTenor,5,1,"[5, -2, 2, 3, -2]",3
8,Veni speciosam,fuga,Bassus,6,2,"[5, -2, 2, 3, -2]",3
9,Veni speciosam,fuga,Contratenor,34,3,"[5, -2, 2, 3, -2]",3

In [65]:
wide_df = df.pivot_table(index=["match_number", "piece", "type"],
            columns="entry_number",
            values=["part", "bar"],
            aggfunc=lambda x: x)

wide_df.columns = [f"{a}_{b}" for a, b in wide_df.columns]

wide_df.head().reset_index()

wide_df.shape

wide_df

]

## Read CSV of Classified Matches

- Update file name to match the output of previous cells for Classifier

In [ ]:
results = pd.read_csv('Sandrin_Classified.csv')
results.rename(columns=
                   {'Pattern Generating Match': 'Pattern_Generating_Match', 
                    'Pattern matched':'Pattern_Matched',
                    'Classification Type': 'Classification_Type',
                    'Piece Title': 'Piece_Title',
                    'First Note Measure Number': 'Start_Measure',
                    'Last Note Measure Number': 'Stop_Measure',
                    'Note Durations': 'Note_Durations'
                   },
                    inplace=True)

results['note_durations'] = results['note_durations'].apply(ast.literal_eval)

durations = results['note_durations']
results.head()

# Durational Ratios

#### This Function Calculates the Ratios of the Durations in each Match

In [73]:
# makes pairs of ratio strings

def pairwise(iterable):
    "s -> (s0,s1), (s1,s2), (s2, s3), ..."
    a, b = tee(iterable)
    next(b, None)
    return zip(a, b)

def get_ratios(input_list):
    ratio_pairs = []
    for a, b in pairwise(input_list):
        ratio_pairs.append(b / a)
    return ratio_pairs

#### Now call the function to operate on the RESULTS file from earlier

In [76]:
# calculates 'duration ratios' for each soggetto, then adds this to the DF

results["duration_ratios"] = results.note_durations.apply(get_ratios)
short_results = results.drop(columns=["ema_url"])
short_out.head(10)

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,end_measure,note_durations,ema
0,"[5, -2, 2, 3, -2]","[5, -2, 2, 3, -2]",Veni speciosam,Superius,1,3,"[4.0, 6.0, 2.0, 2.0, 2.0, 2.0]","1-3/1/@1.0-end,@start-end,@start-1.0"
1,"[5, -2, 2, 3, -2]","[4, -2, 2, 3, -2]",Veni speciosam,Contratenor,2,4,"[4.0, 6.0, 2.0, 2.0, 2.0, 2.0]","2-4/2/@3.0-end,@start-end,@start-3.0"
2,"[5, -2, 2, 3, -2]","[5, -2, 2, 3, -2]",Veni speciosam,PrimusTenor,5,7,"[4.0, 6.0, 2.0, 2.0, 2.0, 2.0]","5-7/3/@1.0-end,@start-end,@start-1.0"
3,"[5, -2, 2, 3, -2]","[4, -2, 2, 3, -2]",Veni speciosam,Bassus,6,8,"[4.0, 6.0, 2.0, 2.0, 2.0, 3.0]","6-8/5/@3.0-end,@start-end,@start-3.0"
4,"[4, -2, 2, 3, -2]","[4, -2, 2, 3, -2]",Veni speciosam,Contratenor,2,4,"[4.0, 6.0, 2.0, 2.0, 2.0, 2.0]","2-4/2/@3.0-end,@start-end,@start-3.0"
5,"[4, -2, 2, 3, -2]","[5, -2, 2, 3, -2]",Veni speciosam,PrimusTenor,5,7,"[4.0, 6.0, 2.0, 2.0, 2.0, 2.0]","5-7/3/@1.0-end,@start-end,@start-1.0"
6,"[4, -2, 2, 3, -2]","[4, -2, 2, 3, -2]",Veni speciosam,Bassus,6,8,"[4.0, 6.0, 2.0, 2.0, 2.0, 3.0]","6-8/5/@3.0-end,@start-end,@start-3.0"
7,"[5, -2, 2, 3, -2]","[5, -2, 2, 3, -2]",Veni speciosam,PrimusTenor,5,7,"[4.0, 6.0, 2.0, 2.0, 2.0, 2.0]","5-7/3/@1.0-end,@start-end,@start-1.0"
8,"[5, -2, 2, 3, -2]","[4, -2, 2, 3, -2]",Veni speciosam,Bassus,6,8,"[4.0, 6.0, 2.0, 2.0, 2.0, 3.0]","6-8/5/@3.0-end,@start-end,@start-3.0"
9,"[5, -2, 2, 3, -2]","[5, -2, 2, 3, -2]",Veni speciosam,Contratenor,34,36,"[2.0, 6.0, 2.0, 2.0, 2.0, 3.0]","34-36/2/@4.0-end,@start-end,@start-3.0"

## Group by the Pattern Generating Match
- Each has its own string of durations, and duration ratios
- and then we compare the ratios to get the differences
- the "list(combinations)" method takes care of building the pairs, using data from our dataframe 'results'

In [77]:
def compare_ratios(ratios_1, ratios_2):
    
    ## division of lists 
    # using zip() + list comprehension 
    diffs = [i - j for i, j in zip(ratios_1, ratios_2)] 
    abs_diffs = [abs(ele) for ele in diffs] 
    sum_diffs = sum(abs_diffs)

    return sum_diffs

#results["Pattern_Generating_Match"] = results["Pattern_Generating_Match"].apply(tuple) 

def get_ratio_distances(results, pattern_col, output_cols):
    
    matches = []

    for name, group in results.groupby(pattern_col):

        ratio_pairs = list(combinations(group.index.values, 2))

        for a, b in ratio_pairs:
            
            a_match = results.loc[a]
            b_match = results.loc[b]
            
            sum_diffs = compare_ratios(a_match.duration_ratios, b_match.duration_ratios)
            
            match_dict = {
                "pattern": name,
                "sum_diffs": sum_diffs
            }
            
            for col in output_cols:
                match_dict.update({
                    f"match_1_{col}": a_match[col],
                    f"match_2_{col}": b_match[col]
                })
                
            matches.append(match_dict)
            
    return pd.DataFrame(matches)

### Now Run the Function to get the 'edit distances' for the durations of matching patterns

In [79]:
ratio_distances = get_ratio_distances(results, "pattern_generating_match", ["piece_title", "part", "start_measure", "end_measure"])
ratio_distances.head()

,pattern,sum_diffs,match_1_piece_title,match_2_piece_title,match_1_part,match_2_part,match_1_start_measure,match_2_start_measure,match_1_end_measure,match_2_end_measure
0,"(-5, 2, 2, 2, 2)",2.000000,Veni speciosam,Veni speciosam,Contratenor,Contratenor,52,130,53,131
1,"(-5, 2, 2, 2, 2)",0.000000,Veni speciosam,Veni speciosam,Contratenor,SecundusTenor,52,107,53,108
2,"(-5, 2, 2, 2, 2)",0.000000,Veni speciosam,Veni speciosam,Contratenor,Bassus,52,33,53,34
3,"(-5, 2, 2, 2, 2)",1.000000,Veni speciosam,Veni speciosam,Contratenor,Bassus,52,82,53,83
4,"(-5, 2, 2, 2, 2)",2.666667,Veni speciosam,Veni speciosam,Contratenor,Bassus,52,84,53,85

### And FILTER the results according to any threshold we like

In [80]:
ratios_filtered = ratio_distances[ratio_distances.sum_diffs <= 1]
ratios_filtered

]

### Now Group the Duration-Filter Results by the Pattern (which shows us very closely related soggetti in sets)

In [81]:
grouped = ratios_filtered.groupby("pattern")
grouped.head()

]

In [ ]:
ratios_filtered.to_csv("filtered_sample_pair.csv")