## Search with Options

- Piece or Corpus
- Actual or Incremental Durations
- Chromatic or Diatonic
- Exact or Close
- Classify

***

In [175]:
from crim_intervals import *
import pandas as pd
import ast
import matplotlib
from itertools import tee, combinations

### The Complete Corpus

In [3]:
work_list = ['CRIM_Mass_0001_1.mei','CRIM_Mass_0001_2.mei','CRIM_Mass_0001_3.mei','CRIM_Mass_0001_4.mei','CRIM_Mass_0001_5.mei','CRIM_Mass_0002_1.mei','CRIM_Mass_0002_2.mei','CRIM_Mass_0002_3.mei','CRIM_Mass_0002_4.mei','CRIM_Mass_0002_5.mei','CRIM_Mass_0003_1.mei','CRIM_Mass_0003_2.mei','CRIM_Mass_0003_3.mei','CRIM_Mass_0003_4.mei','CRIM_Mass_0003_5.mei','CRIM_Mass_0004_1.mei','CRIM_Mass_0004_2.mei','CRIM_Mass_0004_3.mei','CRIM_Mass_0004_4.mei','CRIM_Mass_0004_5.mei','CRIM_Mass_0005_1.mei','CRIM_Mass_0005_2.mei','CRIM_Mass_0005_3.mei','CRIM_Mass_0005_4.mei','CRIM_Mass_0005_5.mei','CRIM_Mass_0006_1.mei','CRIM_Mass_0006_2.mei','CRIM_Mass_0006_3.mei','CRIM_Mass_0006_4.mei','CRIM_Mass_0006_5.mei','CRIM_Mass_0007_1.mei', 'CRIM_Mass_0007_2.mei', 'CRIM_Mass_0007_3.mei', 'CRIM_Mass_0007_4.mei', 'CRIM_Mass_0007_5.mei', 'CRIM_Mass_0008_1.mei', 'CRIM_Mass_0008_2.mei', 'CRIM_Mass_0008_3.mei', 'CRIM_Mass_0008_4.mei', 'CRIM_Mass_0008_5.mei', 'CRIM_Mass_0009_1.mei', 'CRIM_Mass_0009_2.mei', 'CRIM_Mass_0009_3.mei', 'CRIM_Mass_0009_4.mei', 'CRIM_Mass_0009_5.mei', 'CRIM_Mass_0010_1.mei', 'CRIM_Mass_0010_2.mei', 'CRIM_Mass_0010_3.mei', 'CRIM_Mass_0010_4.mei', 'CRIM_Mass_0010_5.mei', 'CRIM_Mass_0011_1.mei', 'CRIM_Mass_0011_2.mei', 'CRIM_Mass_0011_3.mei', 'CRIM_Mass_0011_4.mei', 'CRIM_Mass_0011_5.mei', 'CRIM_Mass_0012_1.mei', 'CRIM_Mass_0012_2.mei', 'CRIM_Mass_0012_3.mei', 'CRIM_Mass_0012_4.mei', 'CRIM_Mass_0012_5.mei', 'CRIM_Mass_0013_1.mei', 'CRIM_Mass_0013_2.mei', 'CRIM_Mass_0013_3.mei', 'CRIM_Mass_0013_4.mei', 'CRIM_Mass_0013_5.mei', 'CRIM_Mass_0014_1.mei', 'CRIM_Mass_0014_2.mei', 'CRIM_Mass_0014_3.mei', 'CRIM_Mass_0014_4.mei', 'CRIM_Mass_0014_5.mei', 'CRIM_Mass_0015_1.mei', 'CRIM_Mass_0015_2.mei', 'CRIM_Mass_0015_3.mei', 'CRIM_Mass_0015_4.mei', 'CRIM_Mass_0015_5.mei', 'CRIM_Mass_0016_1.mei', 'CRIM_Mass_0016_2.mei', 'CRIM_Mass_0016_3.mei', 'CRIM_Mass_0016_4.mei', 'CRIM_Mass_0016_5.mei', 'CRIM_Mass_0017_1.mei', 'CRIM_Mass_0017_2.mei', 'CRIM_Mass_0017_3.mei', 'CRIM_Mass_0017_4.mei', 'CRIM_Mass_0017_5.mei', 'CRIM_Mass_0018_1.mei', 'CRIM_Mass_0018_2.mei', 'CRIM_Mass_0018_3.mei', 'CRIM_Mass_0018_4.mei', 'CRIM_Mass_0018_5.mei', 'CRIM_Mass_0019_1.mei', 'CRIM_Mass_0019_2.mei', 'CRIM_Mass_0019_3.mei', 'CRIM_Mass_0019_4.mei', 'CRIM_Mass_0019_5.mei', 'CRIM_Mass_0020_1.mei', 'CRIM_Mass_0020_2.mei', 'CRIM_Mass_0020_3.mei', 'CRIM_Mass_0020_4.mei', 'CRIM_Mass_0020_5.mei', 'CRIM_Mass_0021_1.mei', 'CRIM_Mass_0021_2.mei', 'CRIM_Mass_0021_3.mei', 'CRIM_Mass_0021_4.mei', 'CRIM_Mass_0021_5.mei', 'CRIM_Mass_0022_2.mei', 'CRIM_Model_0001.mei', 'CRIM_Model_0008.mei', 'CRIM_Model_0009.mei', 'CRIM_Model_0010.mei', 'CRIM_Model_0011.mei', 'CRIM_Model_0012.mei', 'CRIM_Model_0013.mei', 'CRIM_Model_0014.mei', 'CRIM_Model_0015.mei', 'CRIM_Model_0016.mei', 'CRIM_Model_0017.mei', 'CRIM_Model_0019.mei', 'CRIM_Model_0020.mei', 'CRIM_Model_0021.mei', 'CRIM_Model_0023.mei', 'CRIM_Model_0025.mei', 'CRIM_Model_0026.mei',
]

### Short Corpus

In [236]:
# work_list = ['CRIM_Mass_0002_1.mei',
#  'CRIM_Mass_0002_2.mei',
#  'CRIM_Mass_0002_3.mei',
#  'CRIM_Mass_0002_4.mei',
#  'CRIM_Mass_0002_5.mei',
# 'CRIM_Model_0001.mei']

work_list = ['CRIM_Model_0015.mei']

## Load File and Correct the MEI Metadata

In [237]:
work_list = [el.replace("CRIM_", "https://crimproject.org/mei/MEI_4.0/CRIM_") for el in work_list]
corpus = CorpusBase(work_list)

import xml.etree.ElementTree as ET
import requests

MEINSURI = 'http://www.music-encoding.org/ns/mei'
MEINS = '{%s}' % MEINSURI

for i, path in enumerate(work_list):
    
    try:
        if path[0] == '/':
            mei_doc = ET.parse(path)
        else:
            mei_doc = ET.fromstring(requests.get(path).text)

      # Find the title from the MEI file and update the Music21 Score metadata
        title = mei_doc.find('mei:meiHead//mei:titleStmt/mei:title', namespaces={"mei": MEINSURI}).text
        print(path, title)
        corpus.scores[i].metadata.title = title
    except:
        continue

for s in corpus.scores:
    print(s.metadata.title)

Requesting file from https://crimproject.org/mei/MEI_4.0/CRIM_Model_0015.mei...
Successfully imported.
https://crimproject.org/mei/MEI_4.0/CRIM_Model_0015.mei Quo abiit dilectus tuus
Quo abiit dilectus tuus


## Select Actual or Incremental Durations

#### About Rhythmic Durations

- For `find_close_matches` and `find_exact_matches`, rhythmic variation/duration is displayed, but **not** factored into the calculation of matching.
- **Incremental Offset** calculates the intervals using a **fixed offset between notes**, no matter their actual duration.  Use this to ignore passing tones or other ornaments.  The offsets are expressed in multiples of the quarter note (Offset = 1 samples at quarter note; Offset = 2 at half note, etc). Set with `vectors = IntervalBase(corpus.note_list_incremental_offset(2))`

In [238]:
vectors = IntervalBase(corpus.note_list)
#vectors = IntervalBase(corpus.note_list_incremental_offset(2))

***

## Select Generic or Semitone Scale:

- **Length of the Soggetto**: `into_patterns([vectors.semitone_intervals], 5)` 

- The **number** in this command represents the **minimum number of vectors to find**. 5 vectors is 6 notes.

In [239]:
patterns = into_patterns([vectors.generic_intervals], 6)
#patterns = into_patterns([vectors.semitone_intervals], 4)

***

## Select Exact Matches Here, or Close Below
#### (Use comment feature to select screen preview or CSV output) 

- **Exact** is exact in *all* ways `find_exact_matches(patterns, 2)` 
- The **number** in this command represents the **minimum number of matching melodies needed before reporting**. This allows us to filter for common or uncommon soggetti.

In [240]:
exact_matches = find_exact_matches(patterns, 1)
# Use this for exact screen preview
#for item in exact_matches:
    #item.print_exact_matches()

output_exact = export_pandas(exact_matches)
pd.DataFrame(output_exact).head()
output_exact["pattern_generating_match"] = output_exact["pattern_generating_match"].apply(tuple)

results = pd.DataFrame(output_exact)
results["pattern_generating_match"] = results["pattern_generating_match"].apply(tuple)
results.head()
#export_to_csv(exact_matches)

Finding exact matches...
173 melodic intervals had more than 1 exact matches.

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,end_measure,note_durations,ema,ema_url
0,"(5, -2, 2, 2, 2, -2)","[5, -2, 2, 2, 2, -2]",Quo abiit dilectus tuus,Superior,1,3,"[4.0, 6.0, 2.0, 2.0, 2.0, 3.0, 0.5]","1-3/1/@1.0-end,@start-end,@start-2.5",https://ema.crimproject.org/https%3A%2F%2Fcrim...
1,"(5, -2, 2, 2, 2, -2)","[5, -2, 2, 2, 2, -2]",Quo abiit dilectus tuus,Tenor,10,12,"[4.0, 6.0, 2.0, 2.0, 2.0, 3.0, 0.5]","10-12/3/@1.0-end,@start-end,@start-2.5",https://ema.crimproject.org/https%3A%2F%2Fcrim...
2,"(-2, 2, 2, 2, -2, -2)","[-2, 2, 2, 2, -2, -2]",Quo abiit dilectus tuus,Superior,1,3,"[6.0, 2.0, 2.0, 2.0, 3.0, 0.5, 0.5]","1-3/1/@3.0-end,@start-end,@start-2.75",https://ema.crimproject.org/https%3A%2F%2Fcrim...
3,"(-2, 2, 2, 2, -2, -2)","[-2, 2, 2, 2, -2, -2]",Quo abiit dilectus tuus,Superior,32,33,"[1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0]","32-33/1/@3.0-end,@start-2.5",https://ema.crimproject.org/https%3A%2F%2Fcrim...
4,"(-2, 2, 2, 2, -2, -2)","[-2, 2, 2, 2, -2, -2]",Quo abiit dilectus tuus,Superior,54,56,"[2.0, 3.0, 1.0, 2.0, 4.0, 2.0, 4.0]","54-56/1/@2.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...

### A Quick Overview of the Results

In [241]:
total_matches = len(output_exact)
unique_sogetti = output_exact.pattern_generating_match.apply(str).nunique()
summary = 'There are {} unique soggetti and {} total matches in this search'.format(unique_sogetti, total_matches)
summary

'There are 173 unique soggetti and 657 total matches in this search'

### Group by the Pattern Generating Match and Check Distribution of Results

- Report Top Ten and Bottom Ten Results)

In [242]:
pattern_inventory = pd.DataFrame(output_exact.groupby("pattern_generating_match").size().sort_values(ascending=False)[:10])
pattern_inventory

                           0
pattern_generating_match
(2, 2, 2, -2, -2, -2)     19
(-2, -2, -2, 2, 2, 2)     17
(-2, 2, 2, 2, -2, -2)     14
(-2, -2, -2, -2, 2, 2)    13
(2, 2, -2, -2, -2, 2)     13
(-2, -2, -2, -2, -2, 2)   12
(-2, -2, 2, 2, 2, 2)      11
(2, 2, -2, -2, -2, -2)    11
(2, 2, -3, 3, -2, -2)     11
(2, -2, -2, -2, -2, -2)   10

In [243]:
pattern_inventory = pd.DataFrame(output_exact.groupby("pattern_generating_match").size().sort_values(ascending=True)[:10])
pattern_inventory

                          0
pattern_generating_match
(-2, 4, 1, -2, -2, -2)    2
(2, -2, -2, -2, -2, 2)    2
(2, -2, -3, 3, -2, 2)     2
(2, -3, 5, 1, -5, 4)      2
(2, -3, 3, -2, -2, -3)    2
(2, -3, 2, 2, 2, 2)       2
(2, -3, 2, 2, -3, -2)     2
(2, -3, 2, -2, -2, 2)     2
(2, -3, -2, 2, 2, -2)     2
(1, 2, 2, 2, -2, 4)       2

***

### Select Close Matches Here
#### (Comment out the 'for item iteration' in order to skip screen preview)

- **Close** matches allow for melodic variation (see more below). `find_close_matches(patterns, 2, 1)`
- The **first number** in this command is the **minimum number of melodies** needed before reporting
- The **second number** is **threshold of similarity** needed in order to find a match. 
- Lower number = very similar; higher number = less similar

##### More about Close Matches  
- The **threshold for close matches** is determined by the **second number** called in the method. 
- We select two patterns, then compare *each vector in each pattern successively*. 
- The *differences between each vector are summed*. 
- If that value is **below the threshold specified**, we consider the **two patterns closely matched**.
- The format of the method call is  `find_close_matches(the array you get from into_patterns, minimum matches needed to be displayed, threshold for close match)`.

In [245]:
close_matches = find_close_matches(patterns, 2, 1)
#for item in close_matches:
   #item.print_close_matches()
    #return pd.DataFrame(close_matches)

output_close = export_pandas(close_matches)
output_close["pattern_generating_match"] = output_close["pattern_generating_match"].apply(tuple)

results = pd.DataFrame(output_close)
results["pattern_generating_match"] = results["pattern_generating_match"].apply(tuple)
results.head()
#export_to_csv(close_matches)

Finding close matches...
301 melodic intervals had more than 2 exact or close matches.

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,end_measure,note_durations,ema,ema_url
0,"(5, -2, 2, 2, 2, -2)","[5, -2, 2, 2, 2, -2]",Quo abiit dilectus tuus,Superior,1,3,"[4.0, 6.0, 2.0, 2.0, 2.0, 3.0, 0.5]","1-3/1/@1.0-end,@start-end,@start-2.5",https://ema.crimproject.org/https%3A%2F%2Fcrim...
1,"(5, -2, 2, 2, 2, -2)","[4, -2, 2, 2, 2, -2]",Quo abiit dilectus tuus,Contratenor,3,5,"[4.0, 6.0, 2.0, 2.0, 2.0, 3.0, 0.5]","3-5/2/@1.0-end,@start-end,@start-2.5",https://ema.crimproject.org/https%3A%2F%2Fcrim...
2,"(5, -2, 2, 2, 2, -2)","[5, -2, 2, 2, 2, -2]",Quo abiit dilectus tuus,Tenor,10,12,"[4.0, 6.0, 2.0, 2.0, 2.0, 3.0, 0.5]","10-12/3/@1.0-end,@start-end,@start-2.5",https://ema.crimproject.org/https%3A%2F%2Fcrim...
3,"(5, -2, 2, 2, 2, -2)","[4, -2, 2, 2, 2, -2]",Quo abiit dilectus tuus,Bassus,12,14,"[2.0, 6.0, 2.0, 2.0, 2.0, 4.0, 2.0]","12-14/4/@2.0-end,@start-end,@start-3.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
4,"(-2, 2, 2, 2, -2, -2)","[-2, 2, 2, 2, -2, -2]",Quo abiit dilectus tuus,Superior,1,3,"[6.0, 2.0, 2.0, 2.0, 3.0, 0.5, 0.5]","1-3/1/@3.0-end,@start-end,@start-2.75",https://ema.crimproject.org/https%3A%2F%2Fcrim...

### How Many Unique Soggetti?  How many instances?

In [246]:
total_matches = len(output_close)
unique_sogetti = output_close.pattern_generating_match.apply(str).nunique()
summary = 'There are {} unique soggetti and {} total matches in this search'.format(unique_sogetti, total_matches)
summary

'There are 301 unique soggetti and 2168 total matches in this search'

### Top and Bottom Ten Soggetti

In [247]:
pattern_inventory = pd.DataFrame(output_close.groupby("pattern_generating_match").size().sort_values(ascending=False)[:10])
pattern_inventory

                           0
pattern_generating_match
(-2, -2, -3, 2, 2, 2)     26
(3, -2, -2, -2, -2, -2)   23
(-3, 2, 2, 2, -2, -2)     22
(-2, -2, -2, 2, 2, 2)     22
(-2, -3, 2, 2, 2, 2)      21
(2, 2, 2, -2, -2, -2)     21
(-2, 2, 2, 2, -2, -2)     21
(2, 2, 2, -2, -2, -3)     20
(-2, -2, -2, -3, 2, 2)    20
(2, 2, 3, -2, -2, -2)     20

In [248]:
pattern_inventory = pd.DataFrame(output_close.groupby("pattern_generating_match").size().sort_values(ascending=True)[:10])
pattern_inventory

                          0
pattern_generating_match
(-5, 3, -2, 4, -2, -2)    3
(1, -2, 3, -2, -2, -2)    3
(1, -2, 2, 2, 2, 2)       3
(1, -2, -2, 2, -2, -3)    3
(1, -3, 2, 2, 3, -2)      3
(1, -3, 2, 2, 2, -2)      3
(1, -3, 2, 2, -3, -2)     3
(1, -5, 3, -2, 4, -2)     3
(-2, 3, -2, 2, 2, 2)      3
(-2, 2, 2, 2, 2, -4)      3

In [ ]:
### Grouping the Melodic Matches (No Durational Filter)

- This shows us the number each

In [272]:
results["note_durations"] = results["note_durations"].apply(tuple)
df2 = pd.DataFrame(results.groupby(["pattern_generating_match", "note_durations"]).size())
df2.head()

                                                              0
pattern_generating_match note_durations
(-5, 3, -2, 4, -2, -2)   (2.0, 2.0, 2.0, 2.0, 4.0, 2.0, 1.0)  2
                         (2.0, 2.0, 2.0, 2.0, 4.0, 2.0, 2.0)  1
(-3, -3, 2, 2, 2, 2)     (1.0, 2.0, 3.0, 1.0, 2.0, 2.0, 2.0)  1
                         (2.0, 2.0, 1.0, 1.0, 1.0, 1.0, 2.0)  1
                         (2.0, 2.0, 2.0, 1.0, 1.0, 1.0, 1.0)  1

***

### Classify Patterns Here 
#### Note:  depends on choice of Close or Exact above!  Must choose appropriate one below!
#### Enable "export_to_csv" line to allow this within Notebook (must answer "Y" and provide filename)

### note that the classifier can only find patterns with AT LEAST THREE entries!  2-voice fugas are invisible at the moment.  Could be added!

In [250]:
%%capture
#classify_matches(close_matches, 1)
#classify_matches(exact_matches, 2)
cm = classify_matches(close_matches, 1)
#pd.DataFrame(classified_matches)
output_cm = export_pandas(cm)
#pd.DataFrame(output).head()

## For CSV export, use the following (and follow prompts for file name)

#export_to_csv(cm)

In [251]:
short_out = output_cm.drop(columns=["ema_url", "ema"])
short_out.head()

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,end_measure,note_durations
0,"[-2, 2, 2, 2, -2, -2]","[-2, 2, 2, 2, -2, -2]",Quo abiit dilectus tuus,Superior,1,3,"[6.0, 2.0, 2.0, 2.0, 3.0, 0.5, 0.5]"
1,"[-2, 2, 2, 2, -2, -2]","[-2, 2, 2, 2, -2, -2]",Quo abiit dilectus tuus,Contratenor,3,5,"[6.0, 2.0, 2.0, 2.0, 3.0, 0.5, 0.5]"
2,"[-2, 2, 2, 2, -2, -2]","[-3, 2, 2, 2, -2, -2]",Quo abiit dilectus tuus,Superior,88,90,"[4.0, 2.0, 2.0, 2.0, 3.0, 1.0, 1.0]"
3,"[-2, 2, 2, 2, -2, -2]","[-3, 2, 2, 2, -2, -2]",Quo abiit dilectus tuus,Tenor,93,95,"[4.0, 2.0, 2.0, 2.0, 3.0, 0.5, 0.5]"
4,"[-3, 2, 2, 2, -2, -2]","[-3, 2, 2, 2, -2, -2]",Quo abiit dilectus tuus,Superior,88,90,"[4.0, 2.0, 2.0, 2.0, 3.0, 1.0, 1.0]"

In [252]:
def classified_matches_to_pandas(matches):
    
    soggetti_matches = []
    
    for i, cm in enumerate(matches):
        
        for j, soggetti in enumerate(cm.matches):
            
            soggetti_matches.append({
                "piece": soggetti.first_note.metadata.title,
                "type": cm.type,
                "part": soggetti.first_note.part.strip("[] "),
                "bar": soggetti.first_note.note.measureNumber,
                "entry_number": j + 1,
                "pattern": cm.pattern,
                "match_number": i + 1
            })
    return pd.DataFrame(soggetti_matches)

In [253]:
df = classified_matches_to_pandas(cm)
pd.set_option('display.max_rows', 50)
df_sorted = df.sort_values("bar")
df_sorted

,piece,type,part,bar,entry_number,pattern,match_number
0,Quo abiit dilectus tuus,fuga,Superior,1,1,"[-2, 2, 2, 2, -2, -2]",1
117,Quo abiit dilectus tuus,fuga,Superior,1,1,"[-2, 2, 2, 2, -2, -2]",34
1,Quo abiit dilectus tuus,fuga,Contratenor,3,2,"[-2, 2, 2, 2, -2, -2]",1
118,Quo abiit dilectus tuus,fuga,Contratenor,3,2,"[-2, 2, 2, 2, -2, -2]",34
74,Quo abiit dilectus tuus,fuga,Tenor,20,1,"[2, 2, -2, -2, -2, 2]",22
...,...,...,...,...,...,...,...
124,Quo abiit dilectus tuus,fuga,Contratenor,119,4,"[-3, 2, 2, 2, -2, -2]",35
7,Quo abiit dilectus tuus,fuga,Contratenor,119,4,"[-3, 2, 2, 2, -2, -2]",2
141,Quo abiit dilectus tuus,fuga,Superior,132,1,"[2, 3, -2, -2, 1, 3]",41
142,Quo abiit dilectus tuus,fuga,Contratenor,133,2,"[2, 3, -2, -2, 1, 3]",41
143,Quo abiit dilectus tuus,fuga,Tenor,134,3,"[2, 3, -2, -2, 1, 3]",41

In [254]:
df["pattern"] = df["pattern"].apply(tuple)

wide_df = df.pivot_table(index=["match_number", "piece", "type", "pattern"],
            columns="entry_number",
            values=["part", "bar"],
            aggfunc=lambda x: x)

wide_df.columns = [f"{a}_{b}" for a, b in wide_df.columns]

wide_df.head().reset_index()

sort_bar = wide_df.sort_values("bar_1")

sort_bar

,,,,bar_1,bar_2,bar_3,bar_4,part_1,part_2,part_3,part_4
match_number,piece,type,pattern,,,,,,,,
1,Quo abiit dilectus tuus,fuga,"(-2, 2, 2, 2, -2, -2)",1.0,3.0,88.0,93.0,Superior,Contratenor,Superior,Tenor
34,Quo abiit dilectus tuus,fuga,"(-2, 2, 2, 2, -2, -2)",1.0,3.0,88.0,93.0,Superior,Contratenor,Superior,Tenor
22,Quo abiit dilectus tuus,fuga,"(2, 2, -2, -2, -2, 2)",20.0,25.0,29.0,NaN,Tenor,Contratenor,Bassus,NaN
47,Quo abiit dilectus tuus,fuga,"(2, 2, -2, -2, -2, 2)",20.0,25.0,29.0,NaN,Tenor,Contratenor,Bassus,NaN
3,Quo abiit dilectus tuus,imitative duo,"(3, -2, -2, -2, -3, 1)",22.0,24.0,26.0,28.0,Contratenor,Superior,Bassus,Tenor
...,...,...,...,...,...,...,...,...,...,...,...
11,Quo abiit dilectus tuus,fuga,"(-2, -3, 1, 2, 2, 2)",90.0,97.0,109.0,113.0,Contratenor,Superior,Tenor,Contratenor
37,Quo abiit dilectus tuus,fuga,"(1, 1, 3, -2, -3, 2)",110.0,111.0,114.0,NaN,Contratenor,Superior,Bassus,NaN
38,Quo abiit dilectus tuus,fuga,"(1, 1, 3, -2, -3, 2)",111.0,114.0,116.0,NaN,Superior,Bassus,Tenor,NaN
39,Quo abiit dilectus tuus,fuga,"(1, 3, -2, -3, 2, 2)",112.0,114.0,116.0,NaN,Superior,Bassus,Tenor,NaN
41,Quo abiit dilectus tuus,fuga,"(2, 3, -2, -2, 1, 3)",132.0,133.0,134.0,NaN,Superior,Contratenor,Tenor,NaN

## Read CSV of Classified Matches

- Update file name to match the output of previous cells for Classifier

In [ ]:
results = pd.read_csv('Sandrin_Classified.csv')
results.rename(columns=
                   {'Pattern Generating Match': 'Pattern_Generating_Match', 
                    'Pattern matched':'Pattern_Matched',
                    'Classification Type': 'Classification_Type',
                    'Piece Title': 'Piece_Title',
                    'First Note Measure Number': 'Start_Measure',
                    'Last Note Measure Number': 'Stop_Measure',
                    'Note Durations': 'Note_Durations'
                   },
                    inplace=True)

results['note_durations'] = results['note_durations'].apply(ast.literal_eval)

durations = results['note_durations']
results.head()

# Durational Ratios

#### This Function Calculates the Ratios of the Durations in each Match

In [255]:
# makes pairs of ratio strings

def pairwise(iterable):
    "s -> (s0,s1), (s1,s2), (s2, s3), ..."
    a, b = tee(iterable)
    next(b, None)
    return zip(a, b)

def get_ratios(input_list):
    ratio_pairs = []
    for a, b in pairwise(input_list):
        ratio_pairs.append(b / a)
    return ratio_pairs

#### Now call the function to operate on the RESULTS file from earlier

In [256]:
# calculates 'duration ratios' for each soggetto, then adds this to the DF

results["duration_ratios"] = results.note_durations.apply(get_ratios)
short_results = results.drop(columns=["ema_url", "ema"])
short_results

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,end_measure,note_durations,duration_ratios
0,"(5, -2, 2, 2, 2, -2)","[5, -2, 2, 2, 2, -2]",Quo abiit dilectus tuus,Superior,1,3,"(4.0, 6.0, 2.0, 2.0, 2.0, 3.0, 0.5)","[1.5, 0.3333333333333333, 1.0, 1.0, 1.5, 0.166..."
1,"(5, -2, 2, 2, 2, -2)","[4, -2, 2, 2, 2, -2]",Quo abiit dilectus tuus,Contratenor,3,5,"(4.0, 6.0, 2.0, 2.0, 2.0, 3.0, 0.5)","[1.5, 0.3333333333333333, 1.0, 1.0, 1.5, 0.166..."
2,"(5, -2, 2, 2, 2, -2)","[5, -2, 2, 2, 2, -2]",Quo abiit dilectus tuus,Tenor,10,12,"(4.0, 6.0, 2.0, 2.0, 2.0, 3.0, 0.5)","[1.5, 0.3333333333333333, 1.0, 1.0, 1.5, 0.166..."
3,"(5, -2, 2, 2, 2, -2)","[4, -2, 2, 2, 2, -2]",Quo abiit dilectus tuus,Bassus,12,14,"(2.0, 6.0, 2.0, 2.0, 2.0, 4.0, 2.0)","[3.0, 0.3333333333333333, 1.0, 1.0, 2.0, 0.5]"
4,"(-2, 2, 2, 2, -2, -2)","[-2, 2, 2, 2, -2, -2]",Quo abiit dilectus tuus,Superior,1,3,"(6.0, 2.0, 2.0, 2.0, 3.0, 0.5, 0.5)","[0.3333333333333333, 1.0, 1.0, 1.5, 0.16666666..."
...,...,...,...,...,...,...,...,...
2163,"(-3, -3, 2, 2, 2, 2)","[-2, -3, 2, 2, 2, 2]",Quo abiit dilectus tuus,Superior,36,37,"(2.0, 2.0, 2.0, 1.0, 1.0, 1.0, 1.0)","[1.0, 1.0, 0.5, 1.0, 1.0, 1.0]"
2164,"(-3, -3, 2, 2, 2, 2)","[-2, -3, 2, 2, 2, 2]",Quo abiit dilectus tuus,Superior,97,99,"(2.0, 4.0, 2.0, 2.0, 2.0, 2.0, 2.0)","[2.0, 0.5, 1.0, 1.0, 1.0, 1.0]"
2165,"(-3, -3, 2, 2, 2, 2)","[-2, -3, 2, 2, 2, 2]",Quo abiit dilectus tuus,Contratenor,160,161,"(1.0, 2.0, 3.0, 1.0, 2.0, 2.0, 2.0)","[2.0, 1.5, 0.3333333333333333, 2.0, 1.0, 1.0]"
2166,"(-3, -3, 2, 2, 2, 2)","[-2, -3, 2, 2, 2, 2]",Quo abiit dilectus tuus,Tenor,109,110,"(4.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0)","[0.5, 0.5, 1.0, 1.0, 1.0, 1.0]"
2167,"(-3, -3, 2, 2, 2, 2)","[-3, -3, 2, 2, 2, 2]",Quo abiit dilectus tuus,Bassus,164,165,"(2.0, 2.0, 1.0, 1.0, 1.0, 1.0, 2.0)","[1.0, 0.5, 1.0, 1.0, 1.0, 2.0]"

In [274]:
results["duration_ratios"] = results["duration_ratios"].apply(tuple)
df3 = pd.DataFrame(results.groupby(["pattern_generating_match", "note_durations", "duration_ratios"]).size())

df3.head()

                                                                                                            0
pattern_generating_match note_durations                      duration_ratios
(-5, 3, -2, 4, -2, -2)   (2.0, 2.0, 2.0, 2.0, 4.0, 2.0, 1.0) (1.0, 1.0, 1.0, 2.0, 0.5, 0.5)                 2
                         (2.0, 2.0, 2.0, 2.0, 4.0, 2.0, 2.0) (1.0, 1.0, 1.0, 2.0, 0.5, 1.0)                 1
(-3, -3, 2, 2, 2, 2)     (1.0, 2.0, 3.0, 1.0, 2.0, 2.0, 2.0) (2.0, 1.5, 0.3333333333333333, 2.0, 1.0, 1.0)  1
                         (2.0, 2.0, 1.0, 1.0, 1.0, 1.0, 2.0) (1.0, 0.5, 1.0, 1.0, 1.0, 2.0)                 1
                         (2.0, 2.0, 2.0, 1.0, 1.0, 1.0, 1.0) (1.0, 1.0, 0.5, 1.0, 1.0, 1.0)                 1

## Group by the Pattern Generating Match
- Each has its own string of durations, and duration ratios
- and then we compare the ratios to get the differences
- the "list(combinations)" method takes care of building the pairs, using data from our dataframe 'results'

In [193]:
def compare_ratios(ratios_1, ratios_2):
    
    ## division of lists 
    # using zip() + list comprehension 
    diffs = [i - j for i, j in zip(ratios_1, ratios_2)] 
    abs_diffs = [abs(ele) for ele in diffs] 
    sum_diffs = sum(abs_diffs)

    return sum_diffs

#results["Pattern_Generating_Match"] = results["Pattern_Generating_Match"].apply(tuple) 

def get_ratio_distances(results, pattern_col, output_cols):
    
    matches = []

    for name, group in results.groupby(pattern_col):

        ratio_pairs = list(combinations(group.index.values, 2))

        for a, b in ratio_pairs:
            
            a_match = results.loc[a]
            b_match = results.loc[b]
            
            sum_diffs = compare_ratios(a_match.duration_ratios, b_match.duration_ratios)
            
            match_dict = {
                "pattern": name,
                "sum_diffs": sum_diffs
            }
            
            for col in output_cols:
                match_dict.update({
                    f"match_1_{col}": a_match[col],
                    f"match_2_{col}": b_match[col]
                })
                
            matches.append(match_dict)
            
    return pd.DataFrame(matches)

### Now Run the Function to get the 'edit distances' for the durations of matching patterns

In [269]:
ratio_distances = get_ratio_distances(results, "pattern_generating_match", ["piece_title", "part", "start_measure", "end_measure"])
ratio_distances.head()

,pattern,sum_diffs,match_1_piece_title,match_2_piece_title,match_1_part,match_2_part,match_1_start_measure,match_2_start_measure,match_1_end_measure,match_2_end_measure
0,"(-5, 3, -2, 4, -2, -2)",0.500000,Quo abiit dilectus tuus,Quo abiit dilectus tuus,Superior,Contratenor,125,123,127,125
1,"(-5, 3, -2, 4, -2, -2)",0.000000,Quo abiit dilectus tuus,Quo abiit dilectus tuus,Superior,Tenor,125,127,127,129
2,"(-5, 3, -2, 4, -2, -2)",0.500000,Quo abiit dilectus tuus,Quo abiit dilectus tuus,Contratenor,Tenor,123,127,125,129
3,"(-3, -3, 2, 2, 2, 2)",2.000000,Quo abiit dilectus tuus,Quo abiit dilectus tuus,Superior,Superior,36,97,37,99
4,"(-3, -3, 2, 2, 2, 2)",2.666667,Quo abiit dilectus tuus,Quo abiit dilectus tuus,Superior,Contratenor,36,160,37,161

### And FILTER the results according to any threshold we like

In [268]:
ratios_filtered = ratio_distances[ratio_distances.sum_diffs <= 0]
ratios_filtered.head()

,pattern,sum_diffs,match_1_piece_title,match_2_piece_title,match_1_part,match_2_part,match_1_start_measure,match_2_start_measure,match_1_end_measure,match_2_end_measure
0,"(-3, -2, -3, 2, 2, 2)",0.0,Je suis déshéritée,Je suis déshéritée,Bassus,Bassus,4,12,5,13
1,"(-3, 2, -2, -2, -2, 2)",0.0,Je suis déshéritée,Je suis déshéritée,Contratenor,Tenor,19,15,20,16
2,"(-3, 2, -2, -2, -2, 2)",0.0,Je suis déshéritée,Je suis déshéritée,Contratenor,Bassus,19,5,20,6
3,"(-3, 2, -2, -2, -2, 2)",0.0,Je suis déshéritée,Je suis déshéritée,Contratenor,Bassus,19,13,20,14
4,"(-3, 2, -2, -2, -2, 2)",0.0,Je suis déshéritée,Je suis déshéritée,Tenor,Bassus,15,5,16,6

### Now Group the Duration-Filter Results by the Pattern (which shows us very closely related soggetti in sets)

In [265]:
grouped = ratios_filtered.groupby("pattern")
len(grouped['pattern'].nunique())

19

In [81]:
ratios_filtered.to_csv("filtered_sample_pair.csv")

### Greedy Soggetti
* Groups by voice part
* Gets one voice, then creates shifted cols to contain current+previous intervals and durations
* slices each tuple: removes first from previous match and last from current match
* if these are identical, then we can merge the two soggetti

In [301]:
results["pattern_matched"] = results["pattern_matched"].apply(tuple)
results_s = results.drop(columns=["ema_url", "ema", "duration_ratios", "pattern_generating_match"])
# #results_s["group_number"] = group_number
# results_grouped = results_s.groupby(by=["piece_title", "part"])
# results_grouped.sort_values("start_measure")
# results_grouped.head()
results_shifted = results_s.groupby(["part"]).shift(1)
results_shifted.head()

,pattern_matched,piece_title,start_measure,end_measure,note_durations
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,"(5, -2, 2, 2, 2, -2)",Quo abiit dilectus tuus,1.0,3.0,"(4.0, 6.0, 2.0, 2.0, 2.0, 3.0, 0.5)"

In [302]:
# function to group by piece and part, then add shfted columns to accept Greedy Data

def add_shifted_cols(df: pd.DataFrame,
                    group_cols: list,
                    shift_cols: list,
                    shift_periods=-1,
                    shifted_prefix="next"
                    ) -> pd.DataFrame:
    
    
    df = df.copy()

    df_shifted = df.groupby(group_cols).shift(shift_periods)

    df[[ f"{shifted_prefix}_{c}" for c in shift_cols]] = df_shifted[shift_cols]

    return df

In [306]:
# Sequence here helps us deal with tuples in the data, slicing as needed the various lists of vectors and durations

from typing import Sequence

def add_subsequence_cols(df: pd.DataFrame, this_sequence_cols: Sequence, next_sequence_cols: Sequence) -> pd.DataFrame:

    df = df.copy()

    for col in this_sequence_cols:
            df[f"{col}_short"] = df[col].dropna().apply(lambda x: x[1:]) 
    
    for col in next_sequence_cols:
            df[f"{col}_short"] = df[col].dropna().apply(lambda x: x[:-1])
          

    return df

In [320]:
# here we call the function to add the cols

df_shifted = add_shifted_cols(results,
                    group_cols=["piece_title", "part"],
                    shift_cols=["start_measure", "end_measure", "note_durations", "pattern_matched"])

df_brief = df_shifted.sort_values("start_measure").drop(columns=["ema", "ema_url", "pattern_generating_match"])
df_brief.head()

,pattern_matched,piece_title,part,start_measure,end_measure,note_durations,duration_ratios,next_start_measure,next_end_measure,next_note_durations,next_pattern_matched
0,"(5, -2, 2, 2, 2, -2)",Quo abiit dilectus tuus,Superior,1,3,"(4.0, 6.0, 2.0, 2.0, 2.0, 3.0, 0.5)","(1.5, 0.3333333333333333, 1.0, 1.0, 1.5, 0.166...",1.0,3.0,"(6.0, 2.0, 2.0, 2.0, 3.0, 0.5, 0.5)","(-2, 2, 2, 2, -2, -2)"
1370,"(-2, 2, 2, 2, -2, -2)",Quo abiit dilectus tuus,Superior,1,3,"(6.0, 2.0, 2.0, 2.0, 3.0, 0.5, 0.5)","(0.3333333333333333, 1.0, 1.0, 1.5, 0.16666666...",32.0,33.0,"(1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0)","(-2, 2, 2, 2, -2, -2)"
4,"(-2, 2, 2, 2, -2, -2)",Quo abiit dilectus tuus,Superior,1,3,"(6.0, 2.0, 2.0, 2.0, 3.0, 0.5, 0.5)","(0.3333333333333333, 1.0, 1.0, 1.5, 0.16666666...",32.0,33.0,"(1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0)","(-2, 2, 2, 2, -2, -2)"
1254,"(5, -2, 2, 2, 2, -2)",Quo abiit dilectus tuus,Superior,1,3,"(4.0, 6.0, 2.0, 2.0, 2.0, 3.0, 0.5)","(1.5, 0.3333333333333333, 1.0, 1.0, 1.5, 0.166...",6.0,7.0,"(2.0, 4.0, 2.0, 2.0, 2.0, 2.0, 1.0)","(2, -2, -2, 2, 2, -2)"
863,"(-2, 2, 2, 2, -2, -2)",Quo abiit dilectus tuus,Superior,1,3,"(6.0, 2.0, 2.0, 2.0, 3.0, 0.5, 0.5)","(0.3333333333333333, 1.0, 1.0, 1.5, 0.16666666...",32.0,33.0,"(1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0)","(-2, 2, 2, 2, -2, -2)"

In [323]:
# And here we call the function to slice and enter the data

df_brief = add_subsequence_cols(df_shifted, 
    this_sequence_cols=["pattern_matched", "note_durations"], 
    next_sequence_cols=["next_pattern_matched", "next_note_durations"]
    )
df_brief.drop(columns=["ema", "ema_url", "pattern_generating_match", "duration_ratios"])

,pattern_matched,piece_title,part,start_measure,end_measure,note_durations,next_start_measure,next_end_measure,next_note_durations,next_pattern_matched,pattern_matched_short,note_durations_short,next_pattern_matched_short,next_note_durations_short
0,"(5, -2, 2, 2, 2, -2)",Quo abiit dilectus tuus,Superior,1,3,"(4.0, 6.0, 2.0, 2.0, 2.0, 3.0, 0.5)",1.0,3.0,"(6.0, 2.0, 2.0, 2.0, 3.0, 0.5, 0.5)","(-2, 2, 2, 2, -2, -2)","(-2, 2, 2, 2, -2)","(6.0, 2.0, 2.0, 2.0, 3.0, 0.5)","(-2, 2, 2, 2, -2)","(6.0, 2.0, 2.0, 2.0, 3.0, 0.5)"
1,"(4, -2, 2, 2, 2, -2)",Quo abiit dilectus tuus,Contratenor,3,5,"(4.0, 6.0, 2.0, 2.0, 2.0, 3.0, 0.5)",3.0,5.0,"(6.0, 2.0, 2.0, 2.0, 3.0, 0.5, 0.5)","(-2, 2, 2, 2, -2, -2)","(-2, 2, 2, 2, -2)","(6.0, 2.0, 2.0, 2.0, 3.0, 0.5)","(-2, 2, 2, 2, -2)","(6.0, 2.0, 2.0, 2.0, 3.0, 0.5)"
2,"(5, -2, 2, 2, 2, -2)",Quo abiit dilectus tuus,Tenor,10,12,"(4.0, 6.0, 2.0, 2.0, 2.0, 3.0, 0.5)",10.0,12.0,"(6.0, 2.0, 2.0, 2.0, 3.0, 0.5, 0.5)","(-2, 2, 2, 2, -2, -2)","(-2, 2, 2, 2, -2)","(6.0, 2.0, 2.0, 2.0, 3.0, 0.5)","(-2, 2, 2, 2, -2)","(6.0, 2.0, 2.0, 2.0, 3.0, 0.5)"
3,"(4, -2, 2, 2, 2, -2)",Quo abiit dilectus tuus,Bassus,12,14,"(2.0, 6.0, 2.0, 2.0, 2.0, 4.0, 2.0)",8.0,10.0,"(2.0, 2.0, 2.0, 2.0, 3.0, 1.0, 1.0)","(-2, 2, 2, 2, -2, -2)","(-2, 2, 2, 2, -2)","(6.0, 2.0, 2.0, 2.0, 4.0, 2.0)","(-2, 2, 2, 2, -2)","(2.0, 2.0, 2.0, 2.0, 3.0, 1.0)"
4,"(-2, 2, 2, 2, -2, -2)",Quo abiit dilectus tuus,Superior,1,3,"(6.0, 2.0, 2.0, 2.0, 3.0, 0.5, 0.5)",32.0,33.0,"(1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0)","(-2, 2, 2, 2, -2, -2)","(2, 2, 2, -2, -2)","(2.0, 2.0, 2.0, 3.0, 0.5, 0.5)","(-2, 2, 2, 2, -2)","(1.0, 1.0, 1.0, 1.0, 2.0, 1.0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,"(-2, -3, 2, 2, 2, 2)",Quo abiit dilectus tuus,Superior,36,37,"(2.0, 2.0, 2.0, 1.0, 1.0, 1.0, 1.0)",97.0,99.0,"(2.0, 4.0, 2.0, 2.0, 2.0, 2.0, 2.0)","(-2, -3, 2, 2, 2, 2)","(-3, 2, 2, 2, 2)","(2.0, 2.0, 1.0, 1.0, 1.0, 1.0)","(-2, -3, 2, 2, 2)","(2.0, 4.0, 2.0, 2.0, 2.0, 2.0)"
2164,"(-2, -3, 2, 2, 2, 2)",Quo abiit dilectus tuus,Superior,97,99,"(2.0, 4.0, 2.0, 2.0, 2.0, 2.0, 2.0)",NaN,NaN,NaN,NaN,"(-3, 2, 2, 2, 2)","(4.0, 2.0, 2.0, 2.0, 2.0, 2.0)",NaN,NaN
2165,"(-2, -3, 2, 2, 2, 2)",Quo abiit dilectus tuus,Contratenor,160,161,"(1.0, 2.0, 3.0, 1.0, 2.0, 2.0, 2.0)",NaN,NaN,NaN,NaN,"(-3, 2, 2, 2, 2)","(2.0, 3.0, 1.0, 2.0, 2.0, 2.0)",NaN,NaN
2166,"(-2, -3, 2, 2, 2, 2)",Quo abiit dilectus tuus,Tenor,109,110,"(4.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0)",NaN,NaN,NaN,NaN,"(-3, 2, 2, 2, 2)","(2.0, 1.0, 1.0, 1.0, 1.0, 1.0)",NaN,NaN
2167,"(-3, -3, 2, 2, 2, 2)",Quo abiit dilectus tuus,Bassus,164,165,"(2.0, 2.0, 1.0, 1.0, 1.0, 1.0, 2.0)",NaN,NaN,NaN,NaN,"(-3, 2, 2, 2, 2)","(2.0, 1.0, 1.0, 1.0, 1.0, 2.0)",NaN,NaN

In [ ]:
# Now  filter prevoious results to make sure the melodic and rhythmic vectors match for each sequence

df_filter_durs = df_brief[df_brief["note_durations_short"] == df_brief["next_note_durations_short"]]
df_filter_patts = df_filter_durs[df_filter_durs["pattern_matched_short"] == df_filter_durs["next_pattern_matched_short"]]
df_filter_patts.count()

In [ ]:
# This is just a way to inspect a single voice

df_filter_one_voice = df_filter_patts[df_filter_patts["part"].str.contains('Contratenor')]
df_filter_one_voice

In [ ]:
# Make sure there are no NaN values 

# Add new column for check of matching end measures +1 (which we do by subtracting 1, then checking for ==)
# combine the results:  these are the soggetti that need to get Greedy

df_filter_patts['next_end_measure'].fillna(0)
df_filter_patts['next_end_measure_minus'] = df_filter_patts['next_end_measure'].apply(lambda x: x-1)
df_test_1 = df_filter_patts[df_filter_patts["end_measure"] == df_filter_patts["next_end_measure\"]]
df_test_2 = df_filter_patts[df_filter_patts[\"end_measure\"] == df_filter_patts[\"next_end_measure_minus\"]]
df_test_combined = pd.concat([df_test_1, df_test_2])
df_test_combined.count()

In [36]:
df_brief['next_end_measure'] = df_brief['next_end_measure'].fillna(0)
df_brief['next_end_measure_minus'] = df_brief["next_end_measure"].apply(lambda x: x-1)
df_brief.head()
len(df_brief)

258

In [74]:
nds = df_brief["note_durations_short"]
nnds = df_brief["next_note_durations_short"]
pms = df_brief["pattern_matched_short"]
npms = df_brief["next_pattern_matched_short"]
nem = df_brief["next_end_measure"]
em = df_brief["end_measure"]
nemm = df_brief["next_end_measure_minus"]

gsd = df_brief[(pms == npms)]
gsd = gsp[(nds == nnds)]
gsm = gsd[(em == nem) | (em == nemm)]
gsm_sorted = gsm.sort_values("start_measure")
gsm_sorted  
# greedy_short_durations =  df_brief[(nds == nnds)]

# greedy_sorted = greedy_results.sort_values("start_measure")
# greedy_sorted


# gs_sort = gs_all.sort_values('start_measure')
# gs_sort.head()

,pattern_matched,piece_title,part,start_measure,end_measure,note_durations,duration_ratios,next_start_measure,next_end_measure,next_note_durations,next_pattern_matched,pattern_matched_short,next_pattern_matched_short,note_durations_short,next_note_durations_short,next_end_measure_minus
234,"[-2, -2, 2, -2, -2]",Je suis déshéritée,Bassus,6,7,"[1.0, 1.0, 1.0, 4.0, 3.0, 1.0]","[1.0, 1.0, 4.0, 0.75, 0.3333333333333333]",6.0,7.0,"[1.0, 1.0, 1.0, 4.0, 3.0, 1.0]","[-2, -2, 2, -2, -2]","[-2, 2, -2]","[-2, 2, -2]","[1.0, 1.0, 4.0, 3.0]","[1.0, 1.0, 4.0, 3.0]",6.0
54,"[2, 2, 2, 2, 2]",Je suis déshéritée,Tenor,14,15,"[2.0, 3.0, 1.0, 1.0, 1.0, 1.0]","[1.5, 0.3333333333333333, 1.0, 1.0, 1.0]",14.0,15.0,"[2.0, 3.0, 1.0, 1.0, 1.0, 1.0]","[2, 2, 2, 2, 2]","[2, 2, 2]","[2, 2, 2]","[3.0, 1.0, 1.0, 1.0]","[3.0, 1.0, 1.0, 1.0]",14.0
206,"[1, 2, 3, -2, -2]",Je suis déshéritée,Superius,21,22,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","[0.5, 1.0, 1.0, 1.0, 2.0]",21.0,22.0,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","[1, 2, 3, -2, -2]","[2, 3, -2]","[2, 3, -2]","[2.0, 2.0, 2.0, 2.0]","[2.0, 2.0, 2.0, 2.0]",21.0