## Search with Options

- Piece or Corpus
- Actual or Incremental Durations
- Chromatic or Diatonic
- Exact or Close
- Classify

***

In [11]:
from crim_intervals import *
import pandas as pd
import ast
import matplotlib
from itertools import tee, combinations

### The Complete Corpus

In [ ]:
work_list = ['CRIM_Mass_0001_1.mei','CRIM_Mass_0001_2.mei','CRIM_Mass_0001_3.mei','CRIM_Mass_0001_4.mei','CRIM_Mass_0001_5.mei','CRIM_Mass_0002_1.mei','CRIM_Mass_0002_2.mei','CRIM_Mass_0002_3.mei','CRIM_Mass_0002_4.mei','CRIM_Mass_0002_5.mei','CRIM_Mass_0003_1.mei','CRIM_Mass_0003_2.mei','CRIM_Mass_0003_3.mei','CRIM_Mass_0003_4.mei','CRIM_Mass_0003_5.mei','CRIM_Mass_0004_1.mei','CRIM_Mass_0004_2.mei','CRIM_Mass_0004_3.mei','CRIM_Mass_0004_4.mei','CRIM_Mass_0004_5.mei','CRIM_Mass_0005_1.mei','CRIM_Mass_0005_2.mei','CRIM_Mass_0005_3.mei','CRIM_Mass_0005_4.mei','CRIM_Mass_0005_5.mei','CRIM_Mass_0006_1.mei','CRIM_Mass_0006_2.mei','CRIM_Mass_0006_3.mei','CRIM_Mass_0006_4.mei','CRIM_Mass_0006_5.mei','CRIM_Mass_0007_1.mei', 'CRIM_Mass_0007_2.mei', 'CRIM_Mass_0007_3.mei', 'CRIM_Mass_0007_4.mei', 'CRIM_Mass_0007_5.mei', 'CRIM_Mass_0008_1.mei', 'CRIM_Mass_0008_2.mei', 'CRIM_Mass_0008_3.mei', 'CRIM_Mass_0008_4.mei', 'CRIM_Mass_0008_5.mei', 'CRIM_Mass_0009_1.mei', 'CRIM_Mass_0009_2.mei', 'CRIM_Mass_0009_3.mei', 'CRIM_Mass_0009_4.mei', 'CRIM_Mass_0009_5.mei', 'CRIM_Mass_0010_1.mei', 'CRIM_Mass_0010_2.mei', 'CRIM_Mass_0010_3.mei', 'CRIM_Mass_0010_4.mei', 'CRIM_Mass_0010_5.mei', 'CRIM_Mass_0011_1.mei', 'CRIM_Mass_0011_2.mei', 'CRIM_Mass_0011_3.mei', 'CRIM_Mass_0011_4.mei', 'CRIM_Mass_0011_5.mei', 'CRIM_Mass_0012_1.mei', 'CRIM_Mass_0012_2.mei', 'CRIM_Mass_0012_3.mei', 'CRIM_Mass_0012_4.mei', 'CRIM_Mass_0012_5.mei', 'CRIM_Mass_0013_1.mei', 'CRIM_Mass_0013_2.mei', 'CRIM_Mass_0013_3.mei', 'CRIM_Mass_0013_4.mei', 'CRIM_Mass_0013_5.mei', 'CRIM_Mass_0014_1.mei', 'CRIM_Mass_0014_2.mei', 'CRIM_Mass_0014_3.mei', 'CRIM_Mass_0014_4.mei', 'CRIM_Mass_0014_5.mei', 'CRIM_Mass_0015_1.mei', 'CRIM_Mass_0015_2.mei', 'CRIM_Mass_0015_3.mei', 'CRIM_Mass_0015_4.mei', 'CRIM_Mass_0015_5.mei', 'CRIM_Mass_0016_1.mei', 'CRIM_Mass_0016_2.mei', 'CRIM_Mass_0016_3.mei', 'CRIM_Mass_0016_4.mei', 'CRIM_Mass_0016_5.mei', 'CRIM_Mass_0017_1.mei', 'CRIM_Mass_0017_2.mei', 'CRIM_Mass_0017_3.mei', 'CRIM_Mass_0017_4.mei', 'CRIM_Mass_0017_5.mei', 'CRIM_Mass_0018_1.mei', 'CRIM_Mass_0018_2.mei', 'CRIM_Mass_0018_3.mei', 'CRIM_Mass_0018_4.mei', 'CRIM_Mass_0018_5.mei', 'CRIM_Mass_0019_1.mei', 'CRIM_Mass_0019_2.mei', 'CRIM_Mass_0019_3.mei', 'CRIM_Mass_0019_4.mei', 'CRIM_Mass_0019_5.mei', 'CRIM_Mass_0020_1.mei', 'CRIM_Mass_0020_2.mei', 'CRIM_Mass_0020_3.mei', 'CRIM_Mass_0020_4.mei', 'CRIM_Mass_0020_5.mei', 'CRIM_Mass_0021_1.mei', 'CRIM_Mass_0021_2.mei', 'CRIM_Mass_0021_3.mei', 'CRIM_Mass_0021_4.mei', 'CRIM_Mass_0021_5.mei', 'CRIM_Mass_0022_2.mei', 'CRIM_Model_0001.mei', 'CRIM_Model_0008.mei', 'CRIM_Model_0009.mei', 'CRIM_Model_0010.mei', 'CRIM_Model_0011.mei', 'CRIM_Model_0012.mei', 'CRIM_Model_0013.mei', 'CRIM_Model_0014.mei', 'CRIM_Model_0015.mei', 'CRIM_Model_0016.mei', 'CRIM_Model_0017.mei', 'CRIM_Model_0019.mei', 'CRIM_Model_0020.mei', 'CRIM_Model_0021.mei', 'CRIM_Model_0023.mei', 'CRIM_Model_0025.mei', 'CRIM_Model_0026.mei',
]

### Short Corpus

In [58]:
# work_list = ['CRIM_Mass_0002_1.mei',
#  'CRIM_Mass_0002_2.mei',
#  'CRIM_Mass_0002_3.mei',
#  'CRIM_Mass_0002_4.mei',
#  'CRIM_Mass_0002_5.mei',
# 'CRIM_Model_0001.mei']

work_list = ['CRIM_Model_0009.mei']

## Load File and Correct the MEI Metadata

In [59]:
work_list = [el.replace("CRIM_", "https://crimproject.org/mei/MEI_4.0/CRIM_") for el in work_list]
corpus = CorpusBase(work_list)

import xml.etree.ElementTree as ET
import requests

MEINSURI = 'http://www.music-encoding.org/ns/mei'
MEINS = '{%s}' % MEINSURI

for i, path in enumerate(work_list):
    
    try:
        if path[0] == '/':
            mei_doc = ET.parse(path)
        else:
            mei_doc = ET.fromstring(requests.get(path).text)

      # Find the title from the MEI file and update the Music21 Score metadata
        title = mei_doc.find('mei:meiHead//mei:titleStmt/mei:title', namespaces={"mei": MEINSURI}).text
        print(path, title)
        corpus.scores[i].metadata.title = title
    except:
        continue

for s in corpus.scores:
    print(s.metadata.title)

Requesting file from https://crimproject.org/mei/MEI_4.0/CRIM_Model_0009.mei...
Successfully imported.
https://crimproject.org/mei/MEI_4.0/CRIM_Model_0009.mei Je suis déshéritée
Je suis déshéritée


## Select Actual or Incremental Durations

#### About Rhythmic Durations

- For `find_close_matches` and `find_exact_matches`, rhythmic variation/duration is displayed, but **not** factored into the calculation of matching.
- **Incremental Offset** calculates the intervals using a **fixed offset between notes**, no matter their actual duration.  Use this to ignore passing tones or other ornaments.  The offsets are expressed in multiples of the quarter note (Offset = 1 samples at quarter note; Offset = 2 at half note, etc). Set with `vectors = IntervalBase(corpus.note_list_incremental_offset(2))`

In [60]:
vectors = IntervalBase(corpus.note_list)
#vectors = IntervalBase(corpus.note_list_incremental_offset(2))

***

## Select Generic or Semitone Scale:

- **Length of the Soggetto**: `into_patterns([vectors.semitone_intervals], 5)` 

- The **number** in this command represents the **minimum number of vectors to find**. 5 vectors is 6 notes.

In [61]:
patterns = into_patterns([vectors.generic_intervals], 5)
#patterns = into_patterns([vectors.semitone_intervals], 4)

***

## Select Exact Matches Here, or Close Below
#### (Use comment feature to select screen preview or CSV output) 

- **Exact** is exact in *all* ways `find_exact_matches(patterns, 2)` 
- The **number** in this command represents the **minimum number of matching melodies needed before reporting**. This allows us to filter for common or uncommon soggetti.

In [62]:
exact_matches = find_exact_matches(patterns, 3)
# Use this for exact screen preview
#for item in exact_matches:
    #item.print_exact_matches()

output_exact = export_pandas(exact_matches)
pd.DataFrame(output_exact).head()
output_exact["pattern_generating_match"] = output_exact["pattern_generating_match"].apply(tuple)

results = pd.DataFrame(output_exact)
results["pattern_generating_match"] = results["pattern_generating_match"].apply(tuple)
results
#export_to_csv(exact_matches)

Finding exact matches...
14 melodic intervals had more than 3 exact matches.

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,end_measure,note_durations,ema,ema_url
0,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Superius,3,4,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","3-4/1/@1.0-end,@start-3.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
1,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Superius,11,12,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","11-12/1/@1.0-end,@start-3.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
2,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Contratenor,9,11,"[2.0, 2.0, 2.0, 2.0, 2.0, 2.0]","9-11/2/@4.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
3,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Tenor,1,3,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","1-3/3/@3.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
4,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Tenor,9,10,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","9-10/3/@1.0-end,@start-3.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
...,...,...,...,...,...,...,...,...,...
58,"(2, -2, -2, -2, 2)","[2, -2, -2, -2, 2]",Je suis déshéritée,Bassus,13,14,"[1.0, 1.0, 1.0, 1.0, 1.0, 4.0]","13-14/4/@4.5-end,@start-3.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
59,"(-2, -2, -2, 2, -2)","[-2, -2, -2, 2, -2]",Je suis déshéritée,Contratenor,20,21,"[1.0, 1.0, 1.0, 1.0, 4.0, 2.0]","20-21/2/@1.0-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
60,"(-2, -2, -2, 2, -2)","[-2, -2, -2, 2, -2]",Je suis déshéritée,Tenor,16,17,"[1.0, 1.0, 1.0, 1.0, 4.0, 4.0]","16-17/3/@1.0-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
61,"(-2, -2, -2, 2, -2)","[-2, -2, -2, 2, -2]",Je suis déshéritée,Bassus,6,7,"[1.0, 1.0, 1.0, 1.0, 4.0, 3.0]","6-7/4/@1.0-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
62,"(-2, -2, -2, 2, -2)","[-2, -2, -2, 2, -2]",Je suis déshéritée,Bassus,14,15,"[1.0, 1.0, 1.0, 1.0, 4.0, 2.0]","14-15/4/@1.0-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...

### A Quick Overview of the Results

In [63]:
total_matches = len(output_exact)
unique_sogetti = output_exact.pattern_generating_match.apply(str).nunique()
summary = 'There are {} unique soggetti and {} total matches in this search'.format(unique_sogetti, total_matches)
summary

'There are 14 unique soggetti and 63 total matches in this search'

### Group by the Pattern Generating Match and Check Distribution of Results

- Report Top Ten and Bottom Ten Results)

In [64]:
pattern_inventory = pd.DataFrame(output_exact.groupby("pattern_generating_match").size().sort_values(ascending=False)[:10])
pattern_inventory

                          0
pattern_generating_match
(2, 2, -2, -2, -2)        5
(2, -2, -2, -2, 2)        5
(1, 1, 3, 1, 2)           5
(1, 1, -2, -2, -2)        5
(1, -2, -2, -2, 2)        5
(-2, -2, 2, 2, 2)         5
(-3, 2, 2, 2, 2)          5
(2, 2, 2, -2, -2)         4
(2, 2, 2, -3, 2)          4
(2, 2, -3, 2, -2)         4

In [65]:
pattern_inventory = pd.DataFrame(output_exact.groupby("pattern_generating_match").size().sort_values(ascending=True)[:10])
pattern_inventory

                          0
pattern_generating_match
(-3, 2, -2, -2, -2)       4
(-2, -2, -2, 2, -2)       4
(1, 3, 1, 2, -4)          4
(2, -3, 2, -2, -2)        4
(2, 2, -3, 2, -2)         4
(2, 2, 2, -3, 2)          4
(2, 2, 2, -2, -2)         4
(-3, 2, 2, 2, 2)          5
(-2, -2, 2, 2, 2)         5
(1, -2, -2, -2, 2)        5

***

### Select Close Matches Here
#### (Comment out the 'for item iteration' in order to skip screen preview)

- **Close** matches allow for melodic variation (see more below). `find_close_matches(patterns, 2, 1)`
- The **first number** in this command is the **minimum number of melodies** needed before reporting
- The **second number** is **threshold of similarity** needed in order to find a match. 
- Lower number = very similar; higher number = less similar

##### More about Close Matches  
- The **threshold for close matches** is determined by the **second number** called in the method. 
- We select two patterns, then compare *each vector in each pattern successively*. 
- The *differences between each vector are summed*. 
- If that value is **below the threshold specified**, we consider the **two patterns closely matched**.
- The format of the method call is  `find_close_matches(the array you get from into_patterns, minimum matches needed to be displayed, threshold for close match)`.

In [66]:
close_matches = find_close_matches(patterns, 3, 1)
#for item in close_matches:
   #item.print_close_matches()
    #return pd.DataFrame(close_matches)

output_close = export_pandas(close_matches)
output_close["pattern_generating_match"] = output_close["pattern_generating_match"].apply(tuple)

results = pd.DataFrame(output_close)
results["pattern_generating_match"] = results["pattern_generating_match"].apply(tuple)
results.head()
#export_to_csv(close_matches)

Finding close matches...
46 melodic intervals had more than 3 exact or close matches.

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,end_measure,note_durations,ema,ema_url
0,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Superius,3,4,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","3-4/1/@1.0-end,@start-3.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
1,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Superius,11,12,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","11-12/1/@1.0-end,@start-3.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
2,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Contratenor,9,11,"[2.0, 2.0, 2.0, 2.0, 2.0, 2.0]","9-11/2/@4.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
3,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Tenor,1,3,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","1-3/3/@3.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...
4,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Tenor,9,10,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","9-10/3/@1.0-end,@start-3.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...

### How Many Unique Soggetti?  How many instances?

In [67]:
total_matches = len(output_close)
unique_sogetti = output_close.pattern_generating_match.apply(str).nunique()
summary = 'There are {} unique soggetti and {} total matches in this search'.format(unique_sogetti, total_matches)
summary

'There are 46 unique soggetti and 258 total matches in this search'

### Top and Bottom Ten Soggetti

In [68]:
pattern_inventory = pd.DataFrame(output_close.groupby("pattern_generating_match").size().sort_values(ascending=False)[:10])
pattern_inventory

                           0
pattern_generating_match
(2, -2, -2, -2, 2)        12
(1, -2, -2, -2, 2)        11
(-2, -3, 2, 2, 2)          8
(2, -3, -2, -2, 2)         8
(2, 2, 2, 2, -2)           8
(-2, -2, 2, 2, 2)          8
(1, 2, 2, -2, -2)          7
(-2, 2, 2, 2, 2)           7
(-3, 2, 2, 2, 2)           7
(1, -2, -2, -2, 1)         7

In [69]:
pattern_inventory = pd.DataFrame(output_close.groupby("pattern_generating_match").size().sort_values(ascending=True)[:10])
pattern_inventory

                          0
pattern_generating_match
(3, -2, -2, 2, 2)         4
(1, -2, 2, 2, 2)          4
(2, -3, 2, -2, -2)        4
(1, -3, 2, 2, 2)          4
(-2, 3, -2, -2, 2)        4
(2, -2, -2, 2, 2)         4
(-2, 2, 2, 2, -2)         4
(2, 2, -3, 2, -2)         4
(1, 1, 3, -2, -2)         4
(-2, 2, -2, -2, 2)        4

***

### Classify Patterns Here 
#### Note:  depends on choice of Close or Exact above!  Must choose appropriate one below!
#### Enable "export_to_csv" line to allow this within Notebook (must answer "Y" and provide filename)

In [70]:
%%capture
classify_matches(close_matches, 2)
#classify_matches(exact_matches, 2)
cm = classify_matches(close_matches, 2)
#pd.DataFrame(classified_matches)
output_cm = export_pandas(cm)
#pd.DataFrame(output).head()

## For CSV export, use the following (and follow prompts for file name)

#export_to_csv(cm)

In [71]:
short_out = output_cm.drop(columns=["ema_url"])
short_out

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,end_measure,note_durations,ema
0,"[1, 1, -2, -2, -2]","[1, 1, -2, -2, -2]",Je suis déshéritée,Tenor,5,6,"[2.0, 2.0, 2.0, 2.0, 4.0, 2.0]","5-6/3/@2.0-end,@start-4.0"
1,"[1, 1, -2, -2, -2]","[1, 1, -2, -2, -2]",Je suis déshéritée,Superius,7,8,"[2.0, 2.0, 2.0, 2.0, 4.0, 2.0]","7-8/1/@2.0-end,@start-4.0"
2,"[1, 1, -2, -2, -2]","[1, 1, -2, -2, -2]",Je suis déshéritée,Tenor,13,14,"[2.0, 2.0, 2.0, 2.0, 4.0, 2.0]","13-14/3/@2.0-end,@start-4.0"
3,"[1, 1, -2, -2, -2]","[1, 1, -2, -2, -2]",Je suis déshéritée,Superius,15,16,"[2.0, 2.0, 2.0, 2.0, 4.0, 2.0]","15-16/1/@2.0-end,@start-4.0"
4,"[1, 1, -2, -2, -2]","[1, 1, -2, -2, -2]",Je suis déshéritée,Superius,7,8,"[2.0, 2.0, 2.0, 2.0, 4.0, 2.0]","7-8/1/@2.0-end,@start-4.0"
...,...,...,...,...,...,...,...,...
50,"[2, 2, 2, 2, -3]","[2, 2, 2, 2, -3]",Je suis déshéritée,Bassus,13,13,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0]","13-13/4/@2.0-end,@start-4.5"
51,"[1, -2, -2, -2, 2]","[1, -2, -2, -2, 2]",Je suis déshéritée,Tenor,5,7,"[2.0, 2.0, 2.0, 4.0, 2.0, 4.0]","5-7/3/@3.0-end,@start-end,@start-1.0"
52,"[1, -2, -2, -2, 2]","[1, -2, -2, -2, 2]",Je suis déshéritée,Superius,7,9,"[2.0, 2.0, 2.0, 4.0, 2.0, 4.0]","7-9/1/@3.0-end,@start-end,@start-1.0"
53,"[1, -2, -2, -2, 2]","[1, -2, -2, -2, 2]",Je suis déshéritée,Tenor,13,15,"[2.0, 2.0, 2.0, 4.0, 2.0, 3.0]","13-15/3/@3.0-end,@start-end,@start-1.0"
54,"[1, -2, -2, -2, 2]","[1, -2, -2, -2, 2]",Je suis déshéritée,Superius,15,17,"[2.0, 2.0, 2.0, 4.0, 2.0, 4.0]","15-17/1/@3.0-end,@start-end,@start-1.0"

In [72]:
def classified_matches_to_pandas(matches):
    
    soggetti_matches = []
    
    for i, cm in enumerate(matches):
        
        for j, soggetti in enumerate(cm.matches):
            
            soggetti_matches.append({
                "piece": soggetti.first_note.metadata.title,
                "type": cm.type,
                "part": soggetti.first_note.part.strip("[] "),
                "bar": soggetti.first_note.note.measureNumber,
                "entry_number": j + 1,
                "pattern": cm.pattern,
                "match_number": i + 1
            })
    return pd.DataFrame(soggetti_matches)

In [73]:
df = classified_matches_to_pandas(cm)
pd.set_option('display.max_rows', 50)
df.head(10)

,piece,type,part,bar,entry_number,pattern,match_number
0,Je suis déshéritée,imitative duo,Tenor,5,1,"[1, 1, -2, -2, -2]",1
1,Je suis déshéritée,imitative duo,Superius,7,2,"[1, 1, -2, -2, -2]",1
2,Je suis déshéritée,imitative duo,Tenor,13,3,"[1, 1, -2, -2, -2]",1
3,Je suis déshéritée,imitative duo,Superius,15,4,"[1, 1, -2, -2, -2]",1
4,Je suis déshéritée,fuga,Superius,7,1,"[1, 1, -2, -2, -2]",2
5,Je suis déshéritée,fuga,Tenor,13,2,"[1, 1, -2, -2, -2]",2
6,Je suis déshéritée,fuga,Superius,15,3,"[1, 1, -2, -2, -2]",2
7,Je suis déshéritée,fuga,Bassus,1,1,"[1, 3, -2, -2, -2]",3
8,Je suis déshéritée,fuga,Contratenor,4,2,"[1, 3, -2, -2, -2]",3
9,Je suis déshéritée,fuga,Contratenor,7,3,"[1, 3, -2, -2, -2]",3

In [74]:
wide_df = df.pivot_table(index=["match_number", "piece", "type"],
            columns="entry_number",
            values=["part", "bar"],
            aggfunc=lambda x: x)

wide_df.columns = [f"{a}_{b}" for a, b in wide_df.columns]

wide_df.head().reset_index()

wide_df.shape

wide_df

,,,bar_1,bar_2,bar_3,bar_4,part_1,part_2,part_3,part_4
match_number,piece,type,,,,,,,,
1,Je suis déshéritée,imitative duo,5.0,7.0,13.0,15.0,Tenor,Superius,Tenor,Superius
2,Je suis déshéritée,fuga,7.0,13.0,15.0,NaN,Superius,Tenor,Superius,NaN
3,Je suis déshéritée,fuga,1.0,4.0,7.0,NaN,Bassus,Contratenor,Contratenor,NaN
4,Je suis déshéritée,fuga,4.0,7.0,12.0,NaN,Contratenor,Contratenor,Contratenor,NaN
5,Je suis déshéritée,fuga,5.0,7.0,13.0,NaN,Bassus,Contratenor,Bassus,NaN
6,Je suis déshéritée,fuga,7.0,13.0,14.0,14.0,Contratenor,Bassus,Tenor,Contratenor
7,Je suis déshéritée,fuga,4.0,7.0,12.0,NaN,Contratenor,Contratenor,Contratenor,NaN
8,Je suis déshéritée,fuga,5.0,7.0,13.0,NaN,Bassus,Contratenor,Bassus,NaN
9,Je suis déshéritée,fuga,7.0,13.0,15.0,NaN,Contratenor,Bassus,Tenor,NaN
10,Je suis déshéritée,fuga,5.0,7.0,13.0,NaN,Bassus,Contratenor,Bassus,NaN
11,Je suis déshéritée,fuga,7.0,13.0,14.0,14.0,Contratenor,Bassus,Tenor,Contratenor
12,Je suis déshéritée,fuga,5.0,13.0,15.0,NaN,Bassus,Bassus,Tenor,NaN
13,Je suis déshéritée,fuga,5.0,13.0,15.0,NaN,Bassus,Bassus,Tenor,NaN
14,Je suis déshéritée,fuga,5.0,13.0,15.0,NaN,Bassus,Bassus,Tenor,NaN
15,Je suis déshéritée,fuga,4.0,7.0,12.0,NaN,Contratenor,Contratenor,Contratenor,NaN
16,Je suis déshéritée,fuga,5.0,7.0,13.0,NaN,Bassus,Contratenor,Bassus,NaN
17,Je suis déshéritée,imitative duo,5.0,7.0,13.0,15.0,Tenor,Superius,Tenor,Superius

## Read CSV of Classified Matches

- Update file name to match the output of previous cells for Classifier

In [ ]:
results = pd.read_csv('Sandrin_Classified.csv')
results.rename(columns=
                   {'Pattern Generating Match': 'Pattern_Generating_Match', 
                    'Pattern matched':'Pattern_Matched',
                    'Classification Type': 'Classification_Type',
                    'Piece Title': 'Piece_Title',
                    'First Note Measure Number': 'Start_Measure',
                    'Last Note Measure Number': 'Stop_Measure',
                    'Note Durations': 'Note_Durations'
                   },
                    inplace=True)

results['note_durations'] = results['note_durations'].apply(ast.literal_eval)

durations = results['note_durations']
results.head()

# Durational Ratios

#### This Function Calculates the Ratios of the Durations in each Match

In [75]:
# makes pairs of ratio strings

def pairwise(iterable):
    "s -> (s0,s1), (s1,s2), (s2, s3), ..."
    a, b = tee(iterable)
    next(b, None)
    return zip(a, b)

def get_ratios(input_list):
    ratio_pairs = []
    for a, b in pairwise(input_list):
        ratio_pairs.append(b / a)
    return ratio_pairs

#### Now call the function to operate on the RESULTS file from earlier

In [76]:
# calculates 'duration ratios' for each soggetto, then adds this to the DF

results["duration_ratios"] = results.note_durations.apply(get_ratios)
short_results = results.drop(columns=["ema_url"])
short_out.head(10)

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,end_measure,note_durations,ema
0,"[1, 1, -2, -2, -2]","[1, 1, -2, -2, -2]",Je suis déshéritée,Tenor,5,6,"[2.0, 2.0, 2.0, 2.0, 4.0, 2.0]","5-6/3/@2.0-end,@start-4.0"
1,"[1, 1, -2, -2, -2]","[1, 1, -2, -2, -2]",Je suis déshéritée,Superius,7,8,"[2.0, 2.0, 2.0, 2.0, 4.0, 2.0]","7-8/1/@2.0-end,@start-4.0"
2,"[1, 1, -2, -2, -2]","[1, 1, -2, -2, -2]",Je suis déshéritée,Tenor,13,14,"[2.0, 2.0, 2.0, 2.0, 4.0, 2.0]","13-14/3/@2.0-end,@start-4.0"
3,"[1, 1, -2, -2, -2]","[1, 1, -2, -2, -2]",Je suis déshéritée,Superius,15,16,"[2.0, 2.0, 2.0, 2.0, 4.0, 2.0]","15-16/1/@2.0-end,@start-4.0"
4,"[1, 1, -2, -2, -2]","[1, 1, -2, -2, -2]",Je suis déshéritée,Superius,7,8,"[2.0, 2.0, 2.0, 2.0, 4.0, 2.0]","7-8/1/@2.0-end,@start-4.0"
5,"[1, 1, -2, -2, -2]","[1, 1, -2, -2, -2]",Je suis déshéritée,Tenor,13,14,"[2.0, 2.0, 2.0, 2.0, 4.0, 2.0]","13-14/3/@2.0-end,@start-4.0"
6,"[1, 1, -2, -2, -2]","[1, 1, -2, -2, -2]",Je suis déshéritée,Superius,15,16,"[2.0, 2.0, 2.0, 2.0, 4.0, 2.0]","15-16/1/@2.0-end,@start-4.0"
7,"[1, 3, -2, -2, -2]","[1, 3, -2, -2, -2]",Je suis déshéritée,Bassus,1,2,"[2.0, 2.0, 3.0, 1.0, 1.0, 1.0]","1-2/4/@3.0-end,@start-3.5"
8,"[1, 3, -2, -2, -2]","[2, 2, -2, -2, -2]",Je suis déshéritée,Contratenor,4,5,"[1.0, 1.0, 3.0, 0.5, 0.5, 4.0]","4-5/2/@4.0-end,@start-3.0"
9,"[1, 3, -2, -2, -2]","[2, 2, -2, -2, -2]",Je suis déshéritée,Contratenor,7,8,"[1.0, 1.0, 3.0, 1.0, 2.0, 4.0]","7-8/2/@3.0-end,@start-3.0"

## Group by the Pattern Generating Match
- Each has its own string of durations, and duration ratios
- and then we compare the ratios to get the differences
- the "list(combinations)" method takes care of building the pairs, using data from our dataframe 'results'

In [77]:
def compare_ratios(ratios_1, ratios_2):
    
    ## division of lists 
    # using zip() + list comprehension 
    diffs = [i - j for i, j in zip(ratios_1, ratios_2)] 
    abs_diffs = [abs(ele) for ele in diffs] 
    sum_diffs = sum(abs_diffs)

    return sum_diffs

#results["Pattern_Generating_Match"] = results["Pattern_Generating_Match"].apply(tuple) 

def get_ratio_distances(results, pattern_col, output_cols):
    
    matches = []

    for name, group in results.groupby(pattern_col):

        ratio_pairs = list(combinations(group.index.values, 2))

        for a, b in ratio_pairs:
            
            a_match = results.loc[a]
            b_match = results.loc[b]
            
            sum_diffs = compare_ratios(a_match.duration_ratios, b_match.duration_ratios)
            
            match_dict = {
                "pattern": name,
                "sum_diffs": sum_diffs
            }
            
            for col in output_cols:
                match_dict.update({
                    f"match_1_{col}": a_match[col],
                    f"match_2_{col}": b_match[col]
                })
                
            matches.append(match_dict)
            
    return pd.DataFrame(matches)

### Now Run the Function to get the 'edit distances' for the durations of matching patterns

In [78]:
ratio_distances = get_ratio_distances(results, "pattern_generating_match", ["piece_title", "part", "start_measure", "end_measure"])
ratio_distances.head()

,pattern,sum_diffs,match_1_piece_title,match_2_piece_title,match_1_part,match_2_part,match_1_start_measure,match_2_start_measure,match_1_end_measure,match_2_end_measure
0,"(-3, -2, -2, 2, -2)",2.00,Je suis déshéritée,Je suis déshéritée,Contratenor,Contratenor,11,20,12,21
1,"(-3, -2, -2, 2, -2)",2.50,Je suis déshéritée,Je suis déshéritée,Contratenor,Tenor,11,16,12,17
2,"(-3, -2, -2, 2, -2)",2.25,Je suis déshéritée,Je suis déshéritée,Contratenor,Bassus,11,6,12,7
3,"(-3, -2, -2, 2, -2)",2.00,Je suis déshéritée,Je suis déshéritée,Contratenor,Bassus,11,14,12,15
4,"(-3, -2, -2, 2, -2)",0.50,Je suis déshéritée,Je suis déshéritée,Contratenor,Tenor,20,16,21,17

### And FILTER the results according to any threshold we like

In [79]:
ratios_filtered = ratio_distances[ratio_distances.sum_diffs <= 1]
ratios_filtered

,pattern,sum_diffs,match_1_piece_title,match_2_piece_title,match_1_part,match_2_part,match_1_start_measure,match_2_start_measure,match_1_end_measure,match_2_end_measure
4,"(-3, -2, -2, 2, -2)",0.50,Je suis déshéritée,Je suis déshéritée,Contratenor,Tenor,20,16,21,17
5,"(-3, -2, -2, 2, -2)",0.25,Je suis déshéritée,Je suis déshéritée,Contratenor,Bassus,20,6,21,7
6,"(-3, -2, -2, 2, -2)",0.00,Je suis déshéritée,Je suis déshéritée,Contratenor,Bassus,20,14,21,15
7,"(-3, -2, -2, 2, -2)",0.25,Je suis déshéritée,Je suis déshéritée,Tenor,Bassus,16,6,17,7
8,"(-3, -2, -2, 2, -2)",0.50,Je suis déshéritée,Je suis déshéritée,Tenor,Bassus,16,14,17,15
...,...,...,...,...,...,...,...,...,...,...
626,"(2, 2, 2, 3, -2)",0.25,Je suis déshéritée,Je suis déshéritée,Superius,Bassus,29,29,30,30
640,"(2, 2, 3, -2, -2)",0.00,Je suis déshéritée,Je suis déshéritée,Contratenor,Contratenor,4,12,5,13
652,"(2, 3, -2, -2, -2)",0.00,Je suis déshéritée,Je suis déshéritée,Contratenor,Contratenor,4,12,5,13
665,"(2, 3, -2, -2, -2)",1.00,Je suis déshéritée,Je suis déshéritée,Tenor,Bassus,30,1,31,2
666,"(3, -2, -2, 2, 2)",0.00,Je suis déshéritée,Je suis déshéritée,Contratenor,Contratenor,3,11,4,12

### Now Group the Duration-Filter Results by the Pattern (which shows us very closely related soggetti in sets)

In [80]:
grouped = ratios_filtered.groupby("pattern")
grouped.head()

,pattern,sum_diffs,match_1_piece_title,match_2_piece_title,match_1_part,match_2_part,match_1_start_measure,match_2_start_measure,match_1_end_measure,match_2_end_measure
4,"(-3, -2, -2, 2, -2)",0.50,Je suis déshéritée,Je suis déshéritée,Contratenor,Tenor,20,16,21,17
5,"(-3, -2, -2, 2, -2)",0.25,Je suis déshéritée,Je suis déshéritée,Contratenor,Bassus,20,6,21,7
6,"(-3, -2, -2, 2, -2)",0.00,Je suis déshéritée,Je suis déshéritée,Contratenor,Bassus,20,14,21,15
7,"(-3, -2, -2, 2, -2)",0.25,Je suis déshéritée,Je suis déshéritée,Tenor,Bassus,16,6,17,7
8,"(-3, -2, -2, 2, -2)",0.50,Je suis déshéritée,Je suis déshéritée,Tenor,Bassus,16,14,17,15
...,...,...,...,...,...,...,...,...,...,...
626,"(2, 2, 2, 3, -2)",0.25,Je suis déshéritée,Je suis déshéritée,Superius,Bassus,29,29,30,30
640,"(2, 2, 3, -2, -2)",0.00,Je suis déshéritée,Je suis déshéritée,Contratenor,Contratenor,4,12,5,13
652,"(2, 3, -2, -2, -2)",0.00,Je suis déshéritée,Je suis déshéritée,Contratenor,Contratenor,4,12,5,13
665,"(2, 3, -2, -2, -2)",1.00,Je suis déshéritée,Je suis déshéritée,Tenor,Bassus,30,1,31,2
666,"(3, -2, -2, 2, 2)",0.00,Je suis déshéritée,Je suis déshéritée,Contratenor,Contratenor,3,11,4,12

In [81]:
ratios_filtered.to_csv("filtered_sample_pair.csv")

### Greedy Soggetti
* Groups by voice part
* Gets one voice, then creates shifted cols to contain current+previous intervals and durations
* slices each tuple: removes first from previous match and last from current match
* if these are identical, then we can merge the two soggetti

In [85]:
def add_shifted_cols(df: pd.DataFrame,
                    group_cols: list,
                    shift_cols: list,
                    shift_periods=-1,
                    shifted_prefix="next"
                    ) -> pd.DataFrame:
    df = df.copy()

    df_shifted = df.groupby(group_cols).shift(shift_periods)

    df[[ f"{shifted_prefix}_{c}" for c in shift_cols]] = df_shifted[shift_cols]

    return df

In [86]:
from typing import Sequence

def add_subsequence_cols(df: pd.DataFrame, sequence_cols: Sequence) -> pd.DataFrame:

    df = df.copy()

    for col in sequence_cols:
            df[f"{col}_short"] = df[col].dropna().apply(lambda x: x[1:-1])

    return df

In [87]:
df_shifted = add_shifted_cols(results,
                    group_cols=["piece_title", "part"],
                    shift_cols=["start_measure", "end_measure", "note_durations", "pattern_matched"])
df_shifted.head()

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,end_measure,note_durations,ema,ema_url,duration_ratios,next_start_measure,next_end_measure,next_note_durations,next_pattern_matched
0,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Superius,3,4,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","3-4/1/@1.0-end,@start-3.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"[0.5, 1.0, 1.0, 1.0, 2.0]",11.0,12.0,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","[1, 1, 3, 1, 2]"
1,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Superius,11,12,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","11-12/1/@1.0-end,@start-3.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"[0.5, 1.0, 1.0, 1.0, 2.0]",3.0,5.0,"[2.0, 2.0, 2.0, 2.0, 4.0, 8.0]","[1, 3, 1, 2, -4]"
2,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Contratenor,9,11,"[2.0, 2.0, 2.0, 2.0, 2.0, 2.0]","9-11/2/@4.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"[1.0, 1.0, 1.0, 1.0, 1.0]",10.0,11.0,"[2.0, 2.0, 2.0, 2.0, 2.0, 4.0]","[1, 3, 1, 2, -3]"
3,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Tenor,1,3,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","1-3/3/@3.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"[0.5, 1.0, 1.0, 1.0, 2.0]",9.0,10.0,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","[1, 1, 3, 1, 2]"
4,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Tenor,9,10,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","9-10/3/@1.0-end,@start-3.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"[0.5, 1.0, 1.0, 1.0, 2.0]",2.0,3.0,"[2.0, 2.0, 2.0, 2.0, 4.0, 8.0]","[1, 3, 1, 2, -4]"

In [88]:
df_shifted = add_subsequence_cols(df_shifted, ["pattern_matched", 
                            "next_pattern_matched",
                            "note_durations",
                            "next_note_durations"])
df_shifted

,pattern_generating_match,pattern_matched,piece_title,part,start_measure,end_measure,note_durations,ema,ema_url,duration_ratios,next_start_measure,next_end_measure,next_note_durations,next_pattern_matched,pattern_matched_short,next_pattern_matched_short,note_durations_short,next_note_durations_short
0,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Superius,3,4,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","3-4/1/@1.0-end,@start-3.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"[0.5, 1.0, 1.0, 1.0, 2.0]",11.0,12.0,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","[1, 1, 3, 1, 2]","[1, 3, 1]","[1, 3, 1]","[2.0, 2.0, 2.0, 2.0]","[2.0, 2.0, 2.0, 2.0]"
1,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Superius,11,12,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","11-12/1/@1.0-end,@start-3.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"[0.5, 1.0, 1.0, 1.0, 2.0]",3.0,5.0,"[2.0, 2.0, 2.0, 2.0, 4.0, 8.0]","[1, 3, 1, 2, -4]","[1, 3, 1]","[3, 1, 2]","[2.0, 2.0, 2.0, 2.0]","[2.0, 2.0, 2.0, 4.0]"
2,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Contratenor,9,11,"[2.0, 2.0, 2.0, 2.0, 2.0, 2.0]","9-11/2/@4.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"[1.0, 1.0, 1.0, 1.0, 1.0]",10.0,11.0,"[2.0, 2.0, 2.0, 2.0, 2.0, 4.0]","[1, 3, 1, 2, -3]","[1, 3, 1]","[3, 1, 2]","[2.0, 2.0, 2.0, 2.0]","[2.0, 2.0, 2.0, 2.0]"
3,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Tenor,1,3,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","1-3/3/@3.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"[0.5, 1.0, 1.0, 1.0, 2.0]",9.0,10.0,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","[1, 1, 3, 1, 2]","[1, 3, 1]","[1, 3, 1]","[2.0, 2.0, 2.0, 2.0]","[2.0, 2.0, 2.0, 2.0]"
4,"(1, 1, 3, 1, 2)","[1, 1, 3, 1, 2]",Je suis déshéritée,Tenor,9,10,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","9-10/3/@1.0-end,@start-3.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"[0.5, 1.0, 1.0, 1.0, 2.0]",2.0,3.0,"[2.0, 2.0, 2.0, 2.0, 4.0, 8.0]","[1, 3, 1, 2, -4]","[1, 3, 1]","[3, 1, 2]","[2.0, 2.0, 2.0, 2.0]","[2.0, 2.0, 2.0, 4.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,"(1, -2, -2, -2, 1)","[1, -2, -2, -2, 2]",Je suis déshéritée,Superius,26,27,"[2.0, 2.0, 2.0, 1.0, 1.0, 2.0]","26-27/1/@1.0-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"[1.0, 1.0, 0.5, 1.0, 2.0]",NaN,NaN,NaN,NaN,"[-2, -2, -2]",NaN,"[2.0, 2.0, 1.0, 1.0]",NaN
254,"(1, -2, -2, -2, 1)","[2, -2, -2, -2, 1]",Je suis déshéritée,Contratenor,22,24,"[4.0, 2.0, 2.0, 4.0, 4.0, 2.0]","22-24/2/@1.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"[0.5, 1.0, 2.0, 1.0, 0.5]",NaN,NaN,NaN,NaN,"[-2, -2, -2]",NaN,"[2.0, 2.0, 4.0, 4.0]",NaN
255,"(1, -2, -2, -2, 1)","[1, -2, -2, -2, 2]",Je suis déshéritée,Tenor,5,7,"[2.0, 2.0, 2.0, 4.0, 2.0, 4.0]","5-7/3/@3.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"[1.0, 1.0, 2.0, 0.5, 2.0]",13.0,15.0,"[2.0, 2.0, 2.0, 4.0, 2.0, 3.0]","[1, -2, -2, -2, 2]","[-2, -2, -2]","[-2, -2, -2]","[2.0, 2.0, 4.0, 2.0]","[2.0, 2.0, 4.0, 2.0]"
256,"(1, -2, -2, -2, 1)","[1, -2, -2, -2, 2]",Je suis déshéritée,Tenor,13,15,"[2.0, 2.0, 2.0, 4.0, 2.0, 3.0]","13-15/3/@3.0-end,@start-end,@start-1.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"[1.0, 1.0, 2.0, 0.5, 1.5]",NaN,NaN,NaN,NaN,"[-2, -2, -2]",NaN,"[2.0, 2.0, 4.0, 2.0]",NaN
257,"(1, -2, -2, -2, 1)","[1, -2, -2, -2, 1]",Je suis déshéritée,Bassus,15,16,"[2.0, 2.0, 2.0, 2.0, 2.0, 2.0]","15-16/4/@3.0-end,@start-4.0",https://ema.crimproject.org/https%3A%2F%2Fcrim...,"[1.0, 1.0, 1.0, 1.0, 1.0]",NaN,NaN,NaN,NaN,"[-2, -2, -2]",NaN,"[2.0, 2.0, 2.0, 2.0]",NaN

In [89]:
df_brief = df_shifted.drop(columns=["ema", "ema_url", "pattern_generating_match"])
df_brief

,pattern_matched,piece_title,part,start_measure,end_measure,note_durations,duration_ratios,next_start_measure,next_end_measure,next_note_durations,next_pattern_matched,pattern_matched_short,next_pattern_matched_short,note_durations_short,next_note_durations_short
0,"[1, 1, 3, 1, 2]",Je suis déshéritée,Superius,3,4,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","[0.5, 1.0, 1.0, 1.0, 2.0]",11.0,12.0,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","[1, 1, 3, 1, 2]","[1, 3, 1]","[1, 3, 1]","[2.0, 2.0, 2.0, 2.0]","[2.0, 2.0, 2.0, 2.0]"
1,"[1, 1, 3, 1, 2]",Je suis déshéritée,Superius,11,12,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","[0.5, 1.0, 1.0, 1.0, 2.0]",3.0,5.0,"[2.0, 2.0, 2.0, 2.0, 4.0, 8.0]","[1, 3, 1, 2, -4]","[1, 3, 1]","[3, 1, 2]","[2.0, 2.0, 2.0, 2.0]","[2.0, 2.0, 2.0, 4.0]"
2,"[1, 1, 3, 1, 2]",Je suis déshéritée,Contratenor,9,11,"[2.0, 2.0, 2.0, 2.0, 2.0, 2.0]","[1.0, 1.0, 1.0, 1.0, 1.0]",10.0,11.0,"[2.0, 2.0, 2.0, 2.0, 2.0, 4.0]","[1, 3, 1, 2, -3]","[1, 3, 1]","[3, 1, 2]","[2.0, 2.0, 2.0, 2.0]","[2.0, 2.0, 2.0, 2.0]"
3,"[1, 1, 3, 1, 2]",Je suis déshéritée,Tenor,1,3,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","[0.5, 1.0, 1.0, 1.0, 2.0]",9.0,10.0,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","[1, 1, 3, 1, 2]","[1, 3, 1]","[1, 3, 1]","[2.0, 2.0, 2.0, 2.0]","[2.0, 2.0, 2.0, 2.0]"
4,"[1, 1, 3, 1, 2]",Je suis déshéritée,Tenor,9,10,"[4.0, 2.0, 2.0, 2.0, 2.0, 4.0]","[0.5, 1.0, 1.0, 1.0, 2.0]",2.0,3.0,"[2.0, 2.0, 2.0, 2.0, 4.0, 8.0]","[1, 3, 1, 2, -4]","[1, 3, 1]","[3, 1, 2]","[2.0, 2.0, 2.0, 2.0]","[2.0, 2.0, 2.0, 4.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,"[1, -2, -2, -2, 2]",Je suis déshéritée,Superius,26,27,"[2.0, 2.0, 2.0, 1.0, 1.0, 2.0]","[1.0, 1.0, 0.5, 1.0, 2.0]",NaN,NaN,NaN,NaN,"[-2, -2, -2]",NaN,"[2.0, 2.0, 1.0, 1.0]",NaN
254,"[2, -2, -2, -2, 1]",Je suis déshéritée,Contratenor,22,24,"[4.0, 2.0, 2.0, 4.0, 4.0, 2.0]","[0.5, 1.0, 2.0, 1.0, 0.5]",NaN,NaN,NaN,NaN,"[-2, -2, -2]",NaN,"[2.0, 2.0, 4.0, 4.0]",NaN
255,"[1, -2, -2, -2, 2]",Je suis déshéritée,Tenor,5,7,"[2.0, 2.0, 2.0, 4.0, 2.0, 4.0]","[1.0, 1.0, 2.0, 0.5, 2.0]",13.0,15.0,"[2.0, 2.0, 2.0, 4.0, 2.0, 3.0]","[1, -2, -2, -2, 2]","[-2, -2, -2]","[-2, -2, -2]","[2.0, 2.0, 4.0, 2.0]","[2.0, 2.0, 4.0, 2.0]"
256,"[1, -2, -2, -2, 2]",Je suis déshéritée,Tenor,13,15,"[2.0, 2.0, 2.0, 4.0, 2.0, 3.0]","[1.0, 1.0, 2.0, 0.5, 1.5]",NaN,NaN,NaN,NaN,"[-2, -2, -2]",NaN,"[2.0, 2.0, 4.0, 2.0]",NaN
257,"[1, -2, -2, -2, 1]",Je suis déshéritée,Bassus,15,16,"[2.0, 2.0, 2.0, 2.0, 2.0, 2.0]","[1.0, 1.0, 1.0, 1.0, 1.0]",NaN,NaN,NaN,NaN,"[-2, -2, -2]",NaN,"[2.0, 2.0, 2.0, 2.0]",NaN

In [ ]:
greedy_soggetti = df_brief.loc[df_shifted["pattern_matched_short"] == df_brief["next_pattern_matched_short"]]
greedy_soggetti